
BODY
{ margin: 0px;
}

TABLE.content
{
	font-family:Verdana,Tahoma,Arial;
	margin-top: 0px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0 0 0 0;
	font color: #999999;
	font-size: 12px;
	line-height: 16px;	
}

TABLE.brochure
{
	border: thin;
	border-left: 1px #666666;
	border-right: 1px #666666;
	border-bottom: 1px #666666;
	border-top: 1px #666666;
	padding: 3px;
	font-family:Verdana,Tahoma,Arial; 
	font-color: #999999;
	font-size: 12px;
	line-height: 16px;	
	margin-left: 10px;
}


TABLE.banner
{
	font-family:Verdana,Tahoma,Arial;
	border: none;
	background-color: #ffffff;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;	
	width: 800px;
	 
	
}

TABLE.center
{
	font-family:Verdana,Tahoma,Arial;
	background-color: #FFFFFF;
}



TD
{
	font-family:Verdana,Tahoma,Arial;
	font-size: 11px;
	letter-spacing:normal;
	line-height: 16px;
	font-color: #999999;
}

TD.content-top
{
	padding-top: 11px;
	
}

TD.content-top-bg
{
	margin-top: 0px;
	background-image:url(../images/border-bg.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	width: 311px;
}

TD.content-top-video
{
	padding-top: 14px;
	background-image:url(../images/border-bg.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	width: 311px;
}

TD.content-top-subpage
{
	padding-top: 11px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	
}



TD.footer
{
	font-family:Verdana,Tahoma,Arial;
	font-size: 10px;
	letter-spacing:normal;
	line-height: 22px;
	background-color: #a0bf1a;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	color: #FFFFFF;
		
}

BLOCKQUOTE
{margin-left:20px;}

H1
	{letter-spacing: normal;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 6px;
	margin-top: 0px;
	color:#336633;
	line-height: normal;
	}
	
H1.title
{letter-spacing: normal;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 6px;
	color:#336633;
	line-height: normal;
	}
	
H1.subtitle
{letter-spacing: normal;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 10px;
	margin-top: 0px;
	color:#336633;
	line-height: normal;
	}

H2

{letter-spacing: normal;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
	color:#333333;
	margin-bottom: 0px;
	line-height: 16px;
	}

H2.subtitle
{letter-spacing: normal;
	text-align: left;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 16px;
	color:#333333;
	line-height: normal;
	}
	

H3
{letter-spacing: normal;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
	color: #336633;
	line-height: normal;
	}
	
H3.conference
{letter-spacing: normal;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 0px;
	color: #336633;
	line-height: normal;
	text-align: center;
	}



a:link		{color: #abab76; text-decoration:none; size: 14px; font-weight: bold; line-height: 16px;}
a:visited	{color: #abab76; text-decoration:none; size: 14px; font-weight: bold; line-height: 16px;}
a:hover		{color: #669573; text-decoration:none; size: 14px; font-weight: bold; line-height: 16px;}
a:active	{color: #669573; text-decoration:none; size: 14px; font-weight: bold; line-height: 16px;}

a.green:link	{color: #336633; text-decoration:underline; size: 12px; font-weight: normal; line-height: 16px;}
a.green:visited	{color: #336633; text-decoration:underline; size: 12px; font-weight: normal; line-height: 16px;}
a.green:hover	{color: #336633; text-decoration:none; size: 12px; font-weight: normal; line-height: 16px;}
a.green:active	{color: #336633; text-decoration:none; size: 12px; font-weight: normal; line-height: 16px;}

a.green2:link	{color: #336633; text-decoration:none; size: 12px; font-weight: normal; line-height: 16px;}
a.green2:visited	{color: #336633; text-decoration:none; size: 12px; font-weight: normal; line-height: 16px;}
a.green2:hover	{color: #336633; text-decoration:underline; size: 12px; font-weight: normal; line-height: 16px;}
a.green2:active	{color: #336633; text-decoration:underline; size: 12px; font-weight: normal; line-height: 16px;}

a.more:link	{color: #8fa91b; text-decoration:none; size: 18px; font-weight: bold; line-height: 21px;}
a.more:visited	{color: #8fa91b; text-decoration:none; size: 18px; font-weight: bold; line-height: 21px;}
a.more:hover	{color: #99CC00; text-decoration:none; size: 18px; font-weight: bold; line-height: 21px;}
a.more:active	{color: #99cc00; text-decoration:none; size: 18px; font-weight: bold; line-height: 21px;}

a.footer:link		{color: #336600; text-decoration:none; size: 10px;}
a.footer:visited	{color: #336600; text-decoration:none; size: 10px;}
a.footer:hover	{color: #000000; text-decoration:none; size: 10px;}
a.footer:active	{color: #000000; text-decoration:none; size: 10px;}

.channel 	{letter-spacing: normal;
	text-align: left;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #000000;
	line-height: 22px;
	}
	
.quote 	{letter-spacing: normal;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 20px;
	padding-top: 20px;
	color:#336633;
	line-height: 18px;
	}
	
.smallText 	{letter-spacing: normal;
	text-align: left;
	font-family: "Times New Roman", Times, serif;
	font-style: normal;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 20px;
	padding-top: 20px;
	color:#336633;
	line-height: 18px;
	}
	
.subchannel 	{letter-spacing: normal;
	text-align: left;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #0099FF;
	line-height: 16px;
	}
	
.redtext 	{letter-spacing: normal;
	text-align: left;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: normal;
	color:#CC0000;
	}
	
.greentext 	{letter-spacing: normal;
	text-align: left;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: normal;
	color:#8fa91b;
	}
	
textarea {width: 460px; height: 100px; margin-top:2px; margin-bottom:5px; margin-left:0px;}




