TD.content-top-bg
{
	margin-top: 0px;
	background-image:url(../images/border-bg.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	background-width: 311px;
			
}

TD.content-top
{
	padding-top: 11px;
	float: right;
	padding-left: 0px;
	margin-right: 0px;
	padding-bottom: 0px;
	background-position: bottom;
	
}