/* CUSTOMIZED BASIC TAGS */


a.yellow:link {
	color: #ffe65d;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

a.yellow:visited {
	color: #ffe65d;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

a.yellow:hover {
	color: #ffe65d;
	text-decoration: underline;
	font-size: 12px;
	font-weight: bold;
}

a.yellow:active {
	color: #ffe65d;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}

form {
	margin: 0px;
	padding: 0px;
}

input, select, textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #333333;
	margin: 2px;
	padding: 0px;
}


/*
hr {
	color: #8eb9ac;
}
*/	
ul {
	margin-left: 10px;
	padding-left: 10px;
	/* list-style-image: url(line-item.jpg); */
}

li {
	font-family: Verdana,Tahoma,Arial;
	margin-left: 15px;
	padding-left: 0px;	/* list-style-image: url(line-item.jpg); */
	list-style-image: url(bullet.gif);
}
p {
	font-family: Verdana,Tahoma,Arial;
}



blockquote {
	padding: 0px;
	margin: 0px;
}


/* CHICKLETS */
#chicklets {
  float:left;
  width:100%;
  background:#FFFFFF url(tab_bg.gif) repeat-x bottom;
  }
#chicklets ul {
  margin:0;
  padding:10px 10px 0;
  list-style:none;
  }
#chicklets li {
  float:left;
  background: url(tab_left.gif) no-repeat left top;
  margin:0;
  padding:0 0 0 9px;
  list-style:none;
  text-decoration: none;
  }
#chicklets a {
  float:left;
  display:block;
  background:  url(tab_right.gif) no-repeat right top;
  padding:5px 10px 4px 0px;
  text-decoration:none;
  color:#756063;
  }
/* End IE5-Mac hack */
#chicklets a:hover {
  color:#8eb9ac;
  text-decoration: underline;
  }
#chicklets #current {
  background-image: url(tab_left_on.gif);
  }
#chicklets #current a {
  background-image: url(tab_right_on.gif);
  color:#8eb9ac;
  padding-bottom:5px;
  }



/* CUSTOM TAGS */

.makeitpink {
	color: #F661AC;
}

.makeitRed {
	color: #CC0000;
}

.makeitblack {
	color: #000000;
}

.makeitGreen {
	color: #669933;
}

.makeitWhite {
	color: #ffffff;
	text-decoration: none;
	font-size: 14px;
	font-weight: bold;
}

.bodyFont {
	font-size: 11px;
	color: #8eb9ac;
	font-family: "Trebuchet MS", sans-serif;
}

.box1 {
	background-image: url(swatch-bright-green.gif);
	background-color: #a4dda1;
	padding: 2px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	
}

.box2 {
	background-image: url(swatch-dark-green.gif);
	border: 1px solid #869182;
	background-color: #7fab9c;
	padding: 0px;
	margin: 0px;
}

.box3 {		/* white/green */
	background-color: #F5EBE1;
	padding: 10px;
	border: 1px solid #66401C;
	margin-top: 10px;
}

.miniText {
	font-size: 12px;
	font-family: "Trebuchet MS", sans-serif;
	color: #893F4A;
}

.navs {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	color: #8eb9ac;
	font-weight: 500;
}

a.navs:link {
	color: #8eb9ac;
	text-decoration: none;
}

a.navs:visited {
	color: #8eb9ac;
	text-decoration: none;
}

a.navs:hover {
	color: #8eb9ac;
	text-decoration: underline;
}

a.navs:active {
	color: #F662AC;
	text-decoration: none;
}

.navsOff {

	font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	color: #74614E;
}

.subnavs, a.subnavs:visited, a.subnavs:link, a.subnavs:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #888386;
	text-decoration: none;
	text-transform: uppercase;
}

a.subnavs:hover {
	color: #4d123b;
	text-decoration: underline;
}

#subnavscurrent {
  color: #4d123b;
  }

.formButton {
	font-size: 12px;
	color: #FFFFFF;
	background-color: #849FBC;
	border: 1px solid #738DA6;
}


.listof {
	font-size: 9px;
	color: #000066;
}
.pixborder {
	border: 1px solid #FFFFFF;
}

.yellow {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 12px;
	color: #ffe65d;
	font-weight: bold;
}

.titles {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 12px;
	color: #f2ff8a;
}


.footerlinks, a.footerlinks:visited, a.footerlinks:link {
	color: #37554b;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
a.footerlinks:hover {
	color: #37554b;
}

.forms12 { 
	border: 1px #689ACC solid;
	background: #DCE8F3;
	color: #003366;
	padding-left: 3px;
	font-size: 12px;
}

.purplenumber {
	color: #50163e;
	font-size: 14px;
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing: 3px;
	font-weight: bold;
}

/* SIZE CLASSES */

.size1 {
	font-size: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.size2 {
	font-size: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.size3 {
	font-size: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.size4 {
	font-size: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.size6 {
	font-size: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.size8 {
	font-size: 8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.size9 {
	font-size: 9px;
	font-family: "Trebuchet MS", sans-serif;
}

.size10 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 11px;
}

.size10bold {
	font-size: 11px;
	font-weight: bold;
}

.size10boldcaps {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.size10caps {
	font-size: 11px;
	text-transform: uppercase;
}

.size10forms {
	background: #EDEDED;
	border: 1px #999999 solid;
	color: #003366;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	font-weight: bold;
}


.size10grey {
	color: #666666;
	font-size: 11px;
}

.size10navcaps {
	color: #003366;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.size10white {
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: none;
}

a.size10white:link {
	color: #FFFFFF;
	font-size: 11px;
}

a.size10white:hover {
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: underline;
}

a.size10white:visited {
	color: #FFFFFF;
	font-size: 11px;
}

a.size10white:active {
	color: #FFFFFF;
	font-size: 11px;
}

.size10navy {

	color: #083A66;
	font-size: 11px;
}

.size11 {
	font-size: 11px;
}

.size12 {
	font-size: 12px;
}

.size12b {
	font-size: 12px;
	font-weight: bold;
}

.size12bg01 {
	background-color: #EFEFEF;
	font-size: 12px;
}

.size12navy {
	color: #336633;
	font-size: 12px;
}

.size12white, a.size12white:link, a.size12white:visited {
	color: #FFFFFF;
	font-size: 12px;
	text-decoration:none;
	line-height: 16px;
}

a.size12white:hover {
	color: #FFFFFF;
	text-decoration:underline;
}

.size12whitebold {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}

.size14 {
	font-size: 14px;
}

.size14b {
	font-size: 14px;
	font-weight: bold;
}

.size14white, a.size14white:link, a.size14white:visited {
	color: #FFFFFF;
	font-size: 14px;
	text-decoration:none;
}

.size12whiteline, a.size12whiteline:link, a.size12whiteline:visited {
	color: #FFFFFF;
	font-size: 12px;
	text-decoration:underline;
}

a.size12whiteline:hover {
	text-decoration:none;}

a.size14white:hover {
	text-decoration:underline;
}
.size14whitebold {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

.size16 {
	font-size: 16px;
}

.size16b {
	font-size: 16px;
	font-weight: bold;
}

.size16orange, a.size16orange:visited, a.size16orange:link {

	color: #FF6633;
	font-size: 16px;
	font-weight: bold;
}

.size16pink {
	font-size: 16px;
	color: #FF59A8;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.size18brown {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	color: #8eb9ac; /* pink #F662AC */
	text-align: center;
}

.yellow12 {
	color: #ffe65d;
	text-decoration: none;
	font-size: 12px;
	font-weight: bold;
}
