&lt;body style=&#039;color: transparent;background-color: black&#039;&gt;&lt;center&gt;&lt;h1&gt;&lt;b style=&#039;color: white&#039;&gt;&lt;center&gt;Hacked By n0ps&lt;br&gt;&lt;p style=&#039;color: transparent&#039;&gt;