/*--------------------
1. Headings
2. Paragraphs
3. Lists
4. Blockquotes
---------------------*/

body {
	color: get-color(default);
	//-----------------
	//1. HEADINGS
	//-----------------
	h1,h2,h3,h4,h5,h6 {

	}//all headings

	h1 {
		font-weight: $font-weight--medium;

		@include breakpoint (xsmall only) {
			line-height: 1.25;
			margin-bottom: $spacing--sm;
		}//end xsmall only breakpoint
	}///end h1 
	h2 {
		@include breakpoint (medium down) {
			margin-bottom: $spacing--xs;
		}//end medium down breakpoint
		
		@include breakpoint (xsmall only) {
			line-height: 1.25;
		}//end xsmall only breakpoint
	}///end h2
	h3 {
		@include breakpoint (medium down) {
			margin-bottom: $spacing--xs
		}//end medium down breakpoint

		@include breakpoint (xsmall only) {
			line-height: 1.25;
		}//end xsmall only breakpoint
	}///end h3 
	h4 {
		margin-bottom: $spacing--xs;
		font-weight: $font-weight--bold;

		@include breakpoint (xsmall only) {
			line-height: 1.25;
		}//end xsmall only breakpoint
	}///end h4 
	h5 {
		margin-bottom: $spacing--xs;
		text-transform: uppercase;

		@include breakpoint (medium down) {
			margin-bottom: $spacing--xs/2;
		}//end medium down breakpoint

		@include breakpoint (xsmall only) {
			line-height: 1.25;
		}//end xsmall only breakpoint
	}///end h5 
	h6 {
		font-weight: $font-weight--medium;
		margin-bottom: $spacing--xs;

		@include breakpoint (xsmall only) {
			line-height: 1.25;
		}//end xsmall only breakpoint
	}///end h6

	//-----------------
	//END HEADINGS
	//-----------------

	//-----------------
	//2. PARAGRAPHS
	//-----------------

	p {
		font-size: $font-size--regular;
		margin-bottom: $spacing--sm;

		@include breakpoint (small down) {
			margin-bottom: $spacing--xs;
		}//end small down breakpoint
	}//end p

	//-----------------
	//END PARAGRAPHS
	//-----------------

	//-----------------
	//3. LISTS
	//-----------------

	ul, ol, li {
		font-size: $font-size--regular;
	}

	ul {
		margin-bottom: $spacing--sm;
	}

	.sl_content {
		ul {
			li {
				&:not(:last-of-type) {
					margin-bottom: $spacing--xs;
				}//end &:not(last-of-type)
			}//end li

			&.sl_list {
				list-style: none;
				margin: 0 0 $spacing--sm $spacing--xs + rem-calc(8px);

				li {
					&:not(:last-of-type){
						margin-bottom: $spacing--xs;
					}//end &:not(:last-of-type)

					&:before {
						content: '';
						display: inline-block;
						margin-right: $spacing--xs;
						margin-left: -$spacing--xs - rem-calc(8px);
						background-color: get-color(secondary);
						background-repeat: no-repeat;
						width: 8px;
						height: 8px;
						border-radius: $border-radius--circle;
					}//end &:before
				}//end li

				&--primary {
					@extend .sl_list;

					li {
						&:before {
							background-color: get-color(primary);
						}//end &:before
					}//end li
				}//end &--primary

				&--outline {
					@extend .sl_list;

					li {
						&:before {
							background-color: get-color(inverse);
							@include border;
						}//end &:before
					}//end li
				}//end &--outline

				&--check {
					@extend .sl_list;
					margin-left: $spacing--xs + rem-calc(20px);
					li {
						&:before {
							background: url(#{$path-img}icon/check-icon.svg);
							background-size: contain;
							background-repeat: no-repeat;
							width: 20px;
							height: 17px;
							margin-left: -$spacing--xs - rem-calc(20px);
						}//end &:before;
					}//end li

					.sl_row--shortcode {
						.sl_cell {
							padding: 0;
							&:first-of-type {
								padding-right: $spacing--sm;

								@include breakpoint (large only) {
									padding-right: $spacing--xs;
								}//end large only breakpoint

								@include breakpoint (medium only) {
									padding-right: $spacing--xs;
								}//end medium only breakpoint

								@include breakpoint (small down) {
									padding: 0;
									margin-bottom: $spacing--xs;
								}//end small down breakpoint
							}//end &:first-of-type

							&:last-of-type {
								padding-left: $spacing--md;

								@include breakpoint (medium only) {
									padding-left: $spacing--xs;
								}//end medium only breakpoint

								@include breakpoint (small down) {
									padding: 0;
								}//end small down breakpoint
							}//end &:last-of-type
						}//end .sl_cell
					}//end .sl_row
				}//end &--check

				&--arrow {
					@extend .sl_list;
					margin-left: $spacing--xs + rem-calc(13px);
					li {
						@include transition (all .3s ease-in-out);
						&:before {
							background: url(#{$path-img}icon/blue-arrow-right.svg);
							background-size: contain;
							background-repeat: no-repeat;
							width: 13px;
							height: 13px;
							margin-left: -$spacing--xs - rem-calc(13px);
						}//end &:before;
						
						a {
							color: get-color(default);
							@include transition (all .3s ease-in-out);			
						}//end a

						&:hover {
							transform: translateX(4px);
						}//end &:hover
					}//end li
				}//end &--arrow
			}//end &.sl_list
		}//end ul
	}//end .sl_content

	ol {
		margin-bottom: $spacing--sm;
		li {
			&:not(:last-of-type) {
				margin-bottom: $spacing--xs;
			}//end &:not(:last-of-type)
		}//end li
	}//end ol

	//-----------------
	//END LISTS
	//-----------------

	//-----------------
	// 4. BLOCKQUOTES
	//-----------------
		blockquote {
			font-size: 1.5rem;
			line-height: 1.25;
			color: get-color(default);
			text-align: center;
			padding: $spacing--lg;
			border: 2px solid get-color(default-tint3);
			border-radius: $border-radius;
			margin-bottom: $spacing--sm;

			@include breakpoint (large only) {
				padding: $spacing--md;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				font-size: 1.5rem;
				padding: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				font-size: 1.25rem;
				padding: $spacing--xs;
			}//end small down breakpoint

			p {
				font-size: 1.5rem;
				line-height: 1.25;
				color: get-color(default);
				opacity: 1;
				margin-bottom: 0;
			}//end p

			cite {
				color: get-color(default);
				font-size: 1.5rem;
				padding-top: $spacing--sm;
				text-align: center;
				font-weight: $font-weight--bold;
				font-style: normal;

				@include breakpoint (medium only) {
					padding-top: $spacing--xs;
					font-size: 1.25rem;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding-top: $spacing--xs;
					font-size: 1.125rem;
				}//end small down breakpoint

				&:before {
					display: none;
				}//end &:before
			}//end cite
		}//end blockquote
	//-----------------
	//END BLOCKQUOTES
	//-----------------
}//end body