.sl_module {
	.sl_row {
		.sl_cell {
			&.sl_accred {
				flex: 0 0 auto;
				text-align: center;
				padding: 0 $spacing--xs/2;
				img {
					max-height: 70px;
					width: auto;
				}//end img

				&--naatp{
					order: 4;
				}//end &--naatp
			}//end &.sl_accred
		}//end .sl_cell
	}//end .sl_row
}//end .sl_module

	