/*----------------------
1. Primary Button
2. Secondary Button
3. Search Button
4. Menu Button
5. Video Button
6. Hollow Button
7. Dark Button
8. Icon Button
9. Basic Button
10. Phone Button
11. Download Button
12. Pagination Button
13. Social Buttons
14. Share Button
15. Carousel Buttons
16. Back to Top Button

- Mobile Sticky CTA
- Button Group
- Phone with CTA
------------------------*/

//1. Primary Button
.sl_button {
	@extend .button;
	font-size: rem-calc(21px);
	font-weight: $font-weight--medium;
	border-radius: $border-radius--pill;
	background-color: get-color(primary);
	color: get-color(inverse);
	box-shadow: $shadow--button;
	line-height: 1;
	padding: $spacing--xs $spacing--md;
	display: inline-block;
	@include transition (all .2s ease-in-out);

	@include breakpoint (small down) {
		display: block;
		font-size: 1.25rem;
		padding: $spacing--xs $spacing--sm;
		width: 100%;
	}//end small down breakpoint

	&:hover {
		box-shadow: $shadow--button--hover;
		background-color: lighten(get-color(primary), 10%);
		@include transition (all .2s ease-in-out);
		transform: translateY(-2px);
	}//end &:hover

	//Medium Button
	&--medium {
		font-size: rem-calc(19px);
	}//end &--medium

	&--small {
		font-size: rem-calc(17.5px);
		padding: $spacing--xs/1.25 $spacing--md;
		font-weight: $font-weight--regular;
	}//end &--small

//2. Secondary Button 
	&--secondary {
		color: get-color(default);
		@include fancy-button;

		&:hover {
			color: get-color(default);
		}//end &:hover

		&:focus {
			color: get-color(default);
		}//end &:focus;
	}//end &--secondary

//3. Search Button
	&--search {
		display: inline-block;
		background: none;
		color: get-color(default);
		box-shadow: none;
		padding: 0;
		border: none;

		&:hover {
			background: none;
			color: get-color(default);
		}//end &:hover
	}//end &--search

//4. Menu Button
	&--menu {
		font-size: rem-calc(17.5px);
		font-weight: $font-weight--regular;
		color: get-color(default);
		background-color: get-color(inverse);
		padding: $spacing--xs $spacing--md;
		margin-bottom: 0;

		@include breakpoint (small down) {
			width: auto;
		}//end small down breakpoint

		&:hover {
			@extend .sl_button--menu;
		}//end &:hover
	}//end &--menu

//5. Video Button
	&--video {
		position: relative;
		padding-left: rem-calc(83px) + $spacing--sm;
		font-size: $font-size--regular;
		font-weight: $font-weight--regular;
		background-color: get-color(inverse);
		color: get-color(default);

		@include breakpoint (small down) {
			padding-left: rem-calc(70px) + $spacing--xs;
			font-size: 1rem;
		}//end small down breakpoint

		.sl_button__play {
			@include fancy-button ($border-radius: $border-radius--circle, $color: $gradient--secondary);
			z-index: 1;
			position: absolute;
			left: 0;
			top: calc(50% - 41.5px);
			height: 83px;
			width: 83px;
			@include transition(all .3s ease-in-out);

			@include breakpoint (small down) {
				height: 70px;
				width: 70px;
				top: calc(50% - 35px);
			}//end small down breakpoint

			&:before {
				background-image: url(#{$path-img}icon/play-icon.svg);
				background-repeat: no-repeat;
				background-size: 35px 35px;
				background-position: 60% center;

				@include breakpoint (small down) {
					background-size: 25px 25px;
				}//end small down breakpoint
			}//end &:before
		}//end .sl_button__play

		&:hover {
			background-color: darken(get-color(inverse), 10%);
			color: get-color(default);
			transform: none;
			.sl_button__play {
				transform: scale(1.1);
				@include transition(all .3s ease-in-out);
			}//end .sl_button__play
		}//end &:hover
		
		&:focus {
			background-color: get-color(inverse);
			color: get-color(default);
		}//end &:focus
	}//end &--video

//6. Hollow Button
	&--hollow {
		background-color: transparent;
		@include border ( $color: get-color(default-tint4));
		color: get-color(default);
		font-size: 1rem;
		font-weight: $font-weight--regular;
		text-transform: uppercase;
		padding: $spacing--xs/2 $spacing--md;
		box-shadow: none;

		@include breakpoint (small down) {
			padding: $spacing--xs $spacing--sm;
		}//end small down breakpoint

		&:hover, &:focus {
			background-color: get-color(default);
			@include border ( $color: get-color(default));
			color: get-color(inverse);
			transform: none;
			box-shadow: none;
		}//end &:hover, &:focus

		&--inverse {
			border-color: get-color(inverse);
			color: get-color(inverse);

			&:hover, &:focus {
				background-color: get-color(inverse);
				color: get-color(default);
				transform: none;
			}//end &:hover, &:focus
		}//end &--inverse
	}//end &--hollow

//7. Dark Button
	&--dark {
		background-color: get-color(default-tint1);
		@include border ($color: get-color(primary));

		&:hover {
			background-color: lighten(get-color(default-tint1), 10%);
		}
	}//end &--dark

//8. Icon Button
	&--icon {
		padding-right: $spacing--xl;
		&:before {
			background-image: url(#{$path-img}icon/payment-icon.svg);
			background-repeat: no-repeat;
			background-size: 13px 13px;
			background-position: right $spacing--sm center;
		}//end &:before
	}//end &--icon

//9. Basic Button
	&--basic {
		padding: 0;
		box-shadow: none;
		background: none;
		border-radius: 0;
		border: none;
		color: get-color(default);
		font-weight: $font-weight--bold;
		position: relative;
		width: auto;

		&:after {
			@include pseudo;
			@include transition(all .5s ease-in-out .3s);
			border-radius: $border-radius;
			width: 0;
			right: 0;
			left: auto;
			height: 2px;
			bottom: -8px;
			background-color: get-color(default);
			opacity: .2;
		}

		&:hover, &:focus {
			transform: none;
			&:after {
				width: 100%;
				left: 0;
				@include transition(all .3s ease-in-out);
			}//end &:after
		}//end &:hover

		@include breakpoint (small down) {
			display: inline-block;
			width: auto;
		}//end small down breakpoint

		&:hover {
			background: none;
			color: get-color(default);
			box-shadow: none;
		}
	}//end &--basic

//10. Phone Button
	&--phone {
		background: none;
		border-radius: 0;
		color: get-color(primary);
		font-size: inherit;
		line-height: inherit;
		vertical-align: baseline;
		padding: 0;
		box-shadow: none;
		margin-bottom: 0;
		position: relative;
		
		&:after {
			@include pseudo;
			@include transition(all .5s ease-in-out .3s);
			border-radius: $border-radius;
			width: 0;
			right: 0;
			left: auto;
			height: 2px;
			bottom: -4px;
			background-color: get-color(primary);

			@include breakpoint (medium down) {
				display: none;
			}//end medium down breakpoint
		}

		&:hover, &:focus {
			transform: none;
			background: none;
			box-shadow: none;
			color: get-color(primary);
			&:after {
				width: 100%;
				left: 0;
				@include transition(all .3s ease-in-out);
			}//end &:after
		}//end &:hover

		@include breakpoint (small down) {
			display: inline-block;
		}//end small down breakpoint
	}//end &--phone

//11. Download Button
	&--download{
		color: get-color(default);
		@include fancy-button;
		padding-right: $spacing--xl;
		
		&:before {
			background-image: url(#{$path-img}icon/download-icon.svg);
			background-repeat: no-repeat;
			background-size: 13px 13px;
			background-position: right $spacing--sm center;
		}//end &:before

		&:hover {
			color: get-color(default);
		}
	}//end &--download

//12. Pagination Button
	&--pagination {
		color: get-color(default);
		background-color: transparent;
		@include border;
		border-radius: $border-radius;
		padding:  $spacing--xs $spacing--sm;
		box-shadow: none;
		margin-bottom: 0;

		.sl_podcast__box & {
			color: get-color(inverse);
			border-color: get-color(inverse)
		}//end .sl_podacst__box

		@include breakpoint (xsmall only) {
			padding: $spacing--xs/2 $spacing--xs;
		}//end xsmall only breakpoint

		.sl_current > &:not(.dots) {
			background-color: get-color(primary);
			border-color: get-color(primary);
			color: get-color(inverse);

			.sl_podacst__box & {
				background-color: get-color(default-tint1);
				border-color: get-color(default-tint1);
			}//end .sl_podcast__box &
		}//end sl_current > &
	}//end &--pagination

//13. Social Buttons
	&--social {
		width: 50px;
		height: 50px;
		padding: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		margin-bottom: 0;

		@include breakpoint (small down) {
			margin: 0 auto;
		}//end small down breakpoint

		&.sl_facebook {background-color: #3B5998;}
		&.sl_twitter {background-color: #1DA1F2;};
		&.sl_youtube {background-color: #FF0000;};
		&.sl_linkedin {background-color: #007BB5;};
	}//end .sl_button--social

//14. Share Button
	&--share {
		display: inline-block;
		background: none;
		border-radius: 0;
		box-shadow: none;
		padding: 0;
		color: get-color(default);
		text-transform: uppercase;
		font-size: 1.125rem;
		font-weight: $font-weight--regular;

		&:after {
			content:'';
			display: inline-block;
			margin-left: $spacing--xs;
			background-image: url(#{$path-img}icon/share-icon.svg);
			background-repeat: no-repeat;
			background-size: contain;
			height: 13px;
			width: 13px;
			@include transition(all .2s ease-in-out);
		}//end &:after

		&:hover, &:focus {
			background: none;
			transform: none;
			color: get-color(default);
			box-shadow: none;

			&:after {
				transform: translateX(4px);
			}//end &:after
		}//end &:hover, &:focus
	}//end .sl_button--share

//15. Carousel Buttons
	&--carousel {
		@include fancy-button ($border-radius: $border-radius--circle, $color: $gradient--secondary);
		height: 4rem;
		width: 4rem;
		position: absolute;
		top: calc(50% - 2rem);
		z-index: 2;
		cursor: pointer;

		@include breakpoint (small down) {
			height: 3rem;
			width: 3rem;
			top: calc(50% - 1.5rem);
		}//end small down breakpoint

		&:before {
			background-repeat: no-repeat;
			background-size: 18px 25px;
			background-position: center center;

			@include breakpoint (small down) {
				background-size: 11px 17px;
			}//end small down breakpoint
		}//end &:before

		&.sl_prev {
			left: $spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-left-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				left: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_prev

		&.sl_next {
			right: $spacing--md;
			&:before {
				background-image: url(#{$path-img}icon/carousel-right-icon.svg);
			}//end &:before	

			@include breakpoint (small down) {
				right: $spacing--sm;
			}//end small down breakpoint
		}//end &.sl_next
	}//end &--carousel

//16. Back to Top Button
	&--backtop {
		position: fixed;
		z-index: 99;
		bottom: $spacing--xs;
		right: $spacing--xs;
		width: 3.5rem;
		height: 3.5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		opacity: 0;
		@include transition (all .3s ease-in-out);

		&.sl_active {
			opacity: 1;
			@include transition (all .3s ease-in-out);
		}
	}//end &--backtop
}//end .sl_button

// - Mobile Sticky CTA
.sl_contact-mobile {
	padding: $spacing--xs/2;
	padding-bottom: 0;
	position: fixed;
	z-index: 10;
	top: rem-calc(-66px);
	width: 100%;
	opacity: 0;
	@include transition (top .3s ease-in-out, opacity .1s ease-out .3s);

	&.sl_active {
		top: 0;
		opacity: 1;
		@include transition (top .3s ease-in-out);
	}//end .sl_active

	.sl_row {
		border-radius: $border-radius--pill;
		background-color: get-color(inverse);
		box-shadow: $shadow;
		overflow: hidden;

		& > .sl_cell {
			font-weight: $font-weight--medium;

			a {
				display: block;
				height: 100%;
				text-align: center;
				padding: $spacing--xs;
				font-size: 1.125rem;
				line-height: 1;

				@include breakpoint (xsmall only) {
					font-size: 1rem;
				}//end xsmall only breakpoint
			}//end a

			&.sl_cta--verify {
				a {
					color: get-color(default);
				}//end a
			}//end &.sl_cta--verify

			&.sl_cta--phone {
				background-color: get-color(primary);
				a {
					color: get-color(inverse);
				}//end a
			}//end &.sl_cta--phone
		}//end & > .sl_cell
	}//end .sl_row
}//end .sl_contact-mobile

// - Button Group
.sl_button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	.sl_button {
		margin-bottom: 0;
	}//end .sl_button

	& > :first-child {
		margin-right: $spacing--md;

		@include breakpoint (small down) {
			margin-right: 0;
			margin-bottom: $spacing--sm;
		}//end small down breakpoint
	}//end & > :first-child

	@include breakpoint (small down) {
		flex-direction: column;
	}//end small down breakpoint

	& > .sl_button--phone {
		font-size: 2rem;
		line-height: 1;
		vertical-align: middle;
		margin-bottom: 0;

		@include breakpoint (medium down) {
			font-size: 1.25rem;
			padding: $spacing--xs $spacing--lg;
			display: block;
			background-color: get-color(primary);
			border-radius: $border-radius--pill;
			color: get-color(inverse);
		}//end medium down breakpoint
	}//end & > .sl_button--phone
}//end .sl_button-group

// - Phone with CTA
.sl_phone {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	&--inverse {
		* {
			color: get-color(inverse);
		}//end & > *

		.sl_phone__number {
			&:hover {
				color: get-color(inverse) !important;
			}//end &:hover
		}//end .sl_phone__number
	}//end &--inverse

	&__cta {
		font-size: 1rem;
		text-transform: uppercase;
		font-weight: $font-weight--medium;
	}//end &__cta

	&__number {
		font-size: 2rem;
		line-height: 1;
		vertical-align: middle;
		margin-bottom: 0;

		&:hover {
			@extend .sl_phone__number;
			transform: none;
		}//end &:hover
	}//end &__number

	&--inline {
		flex-direction: row;
		align-items: center;
		justify-content: center;

		@include breakpoint (small down) {
			flex-direction: column
		}//end small down breakpoint

		.sl_phone__cta {
			font-size: 2rem;
			text-transform: none;
			font-weight: $font-weight--regular;
			margin-right: $spacing--xs/2;

			@include breakpoint (medium only) {
				margin-right: $spacing--xs;
				margin-bottom: 0 !important;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				font-size: 1.5rem;
				margin: 0;
				margin-bottom: $spacing--xs;
			}//end small down breakpoint
		}//end &__cta

		.sl_phone__number {
			vertical-align: baseline;
		}//end .sl_phone__number
	}//end &--inline

	@include breakpoint (medium down) {
		&:not(.sl_phone--inverse){
			align-items: center;

			.sl_phone__cta {
				margin-bottom: $spacing--xs;
				text-align: center;
			}//end .sl_phone__cta
			.sl_phone__number {
				font-size: 1.25rem;
				padding: $spacing--xs $spacing--lg;
				display: block;
				background-color: get-color(primary);
				border-radius: $border-radius--pill;
				color: get-color(inverse);
			}//end .sl_phone__number
		}//wns &:not(.sl_phone--inverse)
	}//end medium down breakpoint
}//end .sl_phone
