//Form
.sl_form {
	display: flex;
	position: relative;
	flex-direction: row;
	align-items: center;

	//Input & Select
	&__input, &__select {
		box-shadow: $shadow--inner;
		border-radius: $border-radius--pill;
		color: get-color(default);
		margin: 0;
		height: 46px;
		padding: $spacing--xs/2 $spacing--sm;
		font-size: rem-calc(18px);
		@include border ($width: 1px);

		@include breakpoint (small down) {
			padding: $spacing--xs/2 $spacing--xs;
			font-size: 1rem;
		}//end small down breakpoint

		@include breakpoint (xsmall only) {
			font-size: rem-calc(14px);
			padding: $spacing--xs/2;
			padding-left: .8rem
		}//end xsmall only breakpoint

		//Place Holder Text
		@include placeholder {
			color: get-color(default);
			font-size: rem-calc(18px);

			@include breakpoint (small down) {
				font-size: 1rem;
			}//end small down breakpoint

			@include breakpoint (xsmall only) {
				font-size: rem-calc(14px);
			}//end xsmall only breakpoint
		}//end @include placeholder
	}//end &__input and select

	&__select {
		height: auto;
		@supports (appearance: none) {
			-webkit-appearance: none; 
			-moz-appearance: none;
			appearance: none;
			background-image: url(#{$path-img}icon/default-arrow-down.svg);
			background-size: 13px 9px; 
			background-position: right center;
			background-repeat: no-repeat;
		}//end @supports fix for IE 
	}//end &__select

	&__textarea {
		box-shadow: $shadow--inner;
		border-radius: $border-radius;
		color: get-color(default);
		font-size: rem-calc(18px);
		padding: $spacing--xs $spacing--sm;

		//Place Holder Text
		@include placeholder {
			color: get-color(default);
			font-size: rem-calc(18px);
		}//end @include placeholder
	}//end &__textarea

	label {
		font-size: $font-size--regular;
	}//end label

	//Submit Button
	&__search {
		position: absolute;
		right: $spacing--sm;
		font-weight: $font-weight--regular;
		font-size: rem-calc(13px);
		top: 0;
		bottom: 0;
	}//end &__form

	.sl_button {
		margin-bottom: 0;
	}//end .sl_button

	&--email {
		max-width: 500px;
		margin: 0 auto;

		@include breakpoint (small down) {
			flex-direction: column;

			& > * {
				width: 100%;
			}
		}//end small down breakpoint 

		.sl_form__input {
			margin-right: $spacing--xs;
			width: auto;
			flex: 1 1 auto;
			border: none;

			@include breakpoint (small down) {
				width: 100%;
				margin: 0 0 $spacing--xs 0;
			}//end small down breakpoint
		}//end .sl_form__input
	}//end &--email

}//ebd .sl_search