.reveal-overlay {
	background: linear-gradient(90deg, rgba(#3434A2, .8) 0%, rgba(#1D67CF, .8) 98%);

	@include breakpoint (small down) {
		padding-top: $spacing--xxxl;
	}//end small down breakpoint
}
.sl_reveal {
	width: 90%;
	max-width: 900px;
	margin: 0 auto;
	border: none;
	border-radius: $border-radius;
	box-shadow: $shadow;

	.close-button {
		color: get-color(inverse);
		background-color: get-color(default);
		box-shadow: $shadow;
		border-radius: $border-radius;
		font-size: 1.25rem;
		padding: .8rem 1rem;
		top: 1rem;
		right: 1rem;
	}//end .close-button

	&--video {
		padding: 0;
		overflow: visible;

		@include breakpoint (small down) {
			margin: 0 auto;
			height: auto;
			min-height: 0;
		}//end small down breakpoint

		.close-button {
			top: -23px;
			right: -24px;

			@include breakpoint (small down) {
				position: fixed;
				right: $spacing--xs;
				top: $spacing--xs;
			}//end small down breakpoint
		}//end .close-button
	}//end &--video


	.responsive-embed {
		margin-bottom: 0;
		border-radius: $border-radius;

		iframe {
			border: none;
		}//end iframe
	}//end .responsive-embed
}//end .sl_reveal