.sl_share {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: .5;
    @include transition(all .2s ease-in-out);

    &__cta {
        font-size: rem-calc(12px);
        color: get-color(default);
        text-transform: uppercase;
        margin-bottom: $spacing--xs/2;
        font-weight: $font-weight--medium;
    }//end &__cta
    
    &:hover {
        opacity: 1;
        @include transition(all .2s ease-in-out);
    }//end &:hover
}//end .sl_share