.sl_video {
	max-width: 600px;
	min-height: 300px;
	margin: 0 auto $spacing--sm;
	overflow: hidden;
	border-radius: $border-radius;
	box-shadow: $shadow;
	position: relative;

	&__image {
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		padding: 0 $spacing--sm $spacing--lg;

		@include breakpoint (small down) {
			padding-bottom: $spacing--sm;
		}//end small down breakpoint
	}//end &--image
}//end .sl_video