.sl_vob_form {
	padding: $spacing--xxl 0;

	@include breakpoint (large only) {
		padding: $spacing--xl 0;
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding: $spacing--lg 0;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding: $spacing--md 0;
	}//end small down breakpoint

	.sl_form {
		display: block;

		& > .sl_inner {

			&:first-of-type {
				padding-bottom: $spacing--lg - $spacing--sm;

				@include breakpoint (small down) {
					padding-bottom: $spacing--sm - $spacing--xs;
				}//end small down breakpoint
			}//end &:first-of-type

			&:last-of-type {
				padding-top: $spacing--lg;

				@include breakpoint (small down) {
					padding-top: $spacing--sm
				}//end small down breakpoint
			}//end &:last-of-type
			h2 {
				text-align: center;
			}//end h2

			p {
				text-align: center;
				margin-bottom: $spacing--lg;
			}//end p
		}//end & > .sl_inner

		.sl_row {
			& > .sl_cell {
				padding: 0 $spacing--lg/2;
				margin-bottom: $spacing--sm;

				@include breakpoint (small down) {
					padding: 0;
					margin-bottom: $spacing--xs;
				}//end small down breakpoint

				&:first-of-type {
					padding-left: 0;
				}//end &:first-of-type;

				&:last-of-type {
					padding-right: 0;
				}//end &:last-of-type
			}//end & > .sl_cell
		}//end .sl_row

		.sl_divider {
			margin-top: $spacing--sm;
			margin-bottom: $spacing--lg;

			@include breakpoint (small down) {
				margin-top: $spacing--sm - $spacing--xs;
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
		}//end .sl_divider

		&__textarea, &__input, &__select {
			border-color: get-color(default-tint3);

			//Place Holder Text
			@include placeholder {
				color: rgba(get-color(default), .8);
			}//end @include placeholder
		}//end &__textarea, &__input, &__select

		h4 {
			span {
				font-weight: $font-weight--regular;
				font-size: $font-size--regular;
			}//end span

			.has-tip {
				border: none;
				padding-bottom: 2px;
				margin-left: $spacing--xs;
			}//end .has-tip
		}//end h4

		.g-recaptcha {
			margin-bottom: $spacing--sm;
		}//end .g-recaptcha

		.patient-reveal, .contact-reveal {
			display: none;
		}//end .patient-reveal
	}//end .sl_form

	&__insurance {
		.sl_inner {
			background-color: get-color(inverse-tint1);
			padding-top: $spacing--lg;
			padding-bottom: $spacing--lg;

			@include breakpoint (small down) {
				padding-top: $spacing--md;
				padding-bottom: $spacing--md;
			}//end small down breakpoint
		}//end .sl_inner
	}//end &__insurance

	&__conditional {
		margin-bottom: $spacing--xs;
	}//end &__conditional
}//.sl_vob__form