{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">

		<div class="sl_webinar-single">
			<div class="sl_webinar-single__intro">
				<div class="sl_inner">
					<div class="sl_row">
						
						{% if post.video %}{# Add cell for video if it exists #}
						<div class="sl_cell large-6">
							{{ function('do_shortcode', post.video)}}
						</div>{# /.sl_cell #}
						{% endif %}

						<div class="sl_cell {% if post.video %}large-6{% endif %}">{# change cell width if video exists #}

							<h5>{% if post.webinar_date %}{{post.webinar_date|date("F j, Y | g:ia T")}}{% elseif "now"|date("F j, Y | g:ia T") <= post.webinar_date|date("F j, Y | g:ia T")%}TBD{% endif %}</h5>

							<h1>{{post.webinar_title}}</h1>
	                        <h3>With {{post.guest_speaker}}</h3>
	                        <p>{{post.webinar_summary}}</p>
							{% if "now"|date("Y-m-d") <= post.webinar_date|date("Y-m-d") %}
								<a href="{{post.webinar_register_url}}" class="sl_button">Register</a>
							{% endif %}
						</div>{# /.sl_cell #}
					</div>{# /.sl_row #}
				</div>{# /.sl_inner #}
			</div>{# /.sl_webinar-single__intro #}

			{# If there's post content #}
			{% if post.content %}
			<div class="sl_webinar-single__content">
				<div class="sl_inner">
					{{post.content}}
				</div>
			</div>
			{% endif %}

			{# EMAIL #}
			<div class="sl_module sl_module--email sl_email">
				<div class="sl_inner">
					<div class="sl_card sl_card--email">
						<h3>Don't miss out on the next webinar. Join our email list!</h3>
						{% include "partials/sl_email.twig" %}
					</div>
				</div>
			</div>
			
			{# LATEST WEBINARS #}
			<div class="sl_module sl_module--wildcard sl_wildcards sl_wildcard--webinars">
				<div class="sl_inner">
					<div class="sl_row">
						<div class="sl_cell">
							<div class="sl_card sl_card--wildcard">
								<h2>Want to present a webinar?</h2>
								<p>Presenting helps you create awareness about current treatment techniques and new approaches, in addition to teaching others how to apply treatment methods to a specific population.</p>
								<p>
								<p>You’ll also gain exposure to a broader audience through a digital platform and receive recognition as an expert in your field. Your presentation benefits everyone involved.</p>
								<div class="sl_button-group">
                                    <a href="mailto:foundations.events@frnmail.com" class="sl_button sl_button--dark">Get in touch</a>
	                            </div>{# /.sl_button-group #}
							</div>{# /.sl_card #}
						</div>{# /.sl_cell #}
						<div class="sl_cell">
							<div class="sl_card sl_card--wildcard">
								<div class="sl_card__release">
								    <h3> Latest Webinars </h3>
								    <ul class="sl_list--arrow">
								    {% for webinar in latwebinars %}
										{% if webinar.title != post.webinar_title %}
								        	<li><a href={{webinar.link}} class="sl_webinar_link">{{webinar.webinar_title|truncate(12)}}</a></li>
										{% endif %}
								    {% endfor %}
								    </ul>
								</div>{#/.sl_card__release #}
							</div>{# /.sl_card #}
						</div>{# /.sl_cell #}
					</div>{# /.sl_row #}
				</div>{# /.sl_inner #}
			</div>{# /.sl_wildcard #}
		</div>{# /.sl_webinar-single #}
	</section>
</article>
{% endblock %}
