{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">
		<div class="sl_module sl_module--eventsintro sl_eventsintro">
			<div class="sl_inner">
				<div class="sl_card sl_card--eventsintro">
					<h1>{{post.event_name}}</h1>
					<h3>{{post.address_schema_city}}, {{post.address_schema_state}}</h3>
					<h4>{{post.date_start|date("F j")}} - {{post.date_end|date("F j, Y")}}</h4>
					{{post.content}}
					{% if "now"|date("m/d/Y") <= post.date_end|date("m/d/Y") %}
						<a target="_blank" href="{{post.register_url}}" class="sl_button">Register</a>
					{% endif %}
				</div>
			</div>
		</div>

		{# MODULES #}
		{% if modules %}
		{% for module in modules %}
			{% set mylayout = (module.acf_fc_layout) %}
			{% include 'module-'~mylayout~'.twig' with {this : module} %}
		{% endfor %}
		{% endif %}
		{# END MODULES #}
		
		{% if "now"|date("m/d/Y") <= post.date_end|date("m/d/Y") %}
		<div class="sl_module sl_module--eventscta sl_eventscta">
			<div class="sl_inner">
				<div class="sl_card sl_card--eventscta">
					<h2>Get involved in our next conference!</h2>
					<div class="sl_button-group">
						<a target="_blank" href="{{post.register_url}}" class="sl_button">Register</a>
						<a target="_blank" href="{{post.sponsor_url}}" class="sl_button sl_button--secondary">Sponsor</a>
					</div>
				</div>
			</div>
		</div>
		{% endif %}
		
	</section>
</article>
{% endblock %}
