@mixin pattern {
	background-image: url(#{$path-img}backgrounds/frn-pattern.svg);
	background-repeat: repeat;
	background-size: 86px 89.46px;
	background-color: get-color(default);
}

@mixin pattern--transparent {
	background-image: url(#{$path-img}backgrounds/frn-pattern.svg);
	background-repeat: repeat;
	background-size: 235px 244.44px;
}