@mixin wildcard--border {
	.sl_card--wildcard {
		@include border($color: get-color(default-tint3));
		padding: $spacing--xl;
		border-radius: $border-radius;

		@include breakpoint (large only) {
			padding: 0;
			border: none;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: 0;
			border: 0;
		}//end small down breakpoint

		h4 {
			margin-bottom: $spacing--sm;
		}//end h4

		ul.sl_list--check {
			li:not(:last-of-type) {
				margin-bottom: $spacing--xs/2;
			}//end ul.sl_list--check li:not(:last-of-type)

			li:last-of-type {
				margin-bottom: 0;
			}//end li:last-of-type
		}//end ul.sl_list--check

		.sl_wildcard__accreditations {
			@include breakpoint (small down) {
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
			.sl_cell {
				display: flex;
				align-items: center;
				&.sl_accred {
					text-align: center;

					&--naatp{
						flex: 1 1 0%;
						
						img {
							width: 100%;
							max-width: 250px;
							height: auto;

							@include breakpoint (medium only) {
								width: auto;
							}//end medium only breakpoint
						}

						@include breakpoint (small down) {
							flex: 0 0 auto;
							margin-top: $spacing--sm;
						}//end small down breakpoint
					}//end &--naatp
				}//end &.sl_accred
			}//end .sl_cell
		}//end .sl_row
	}//end .sl_card--wildcard
}//end wildcard--border

@mixin wildcard--accredbox {
	.sl_card {
		@include container;
		padding: $spacing--md;
		text-align: center;

		@include breakpoint (large only) {
			padding: $spacing--sm;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding: $spacing--md $spacing--sm;
		}//end medium only breakpoint

		@include breakpoint (small only) {
			padding: $spacing--sm $spacing--xs;
		}//end small down breakpoint

		@include breakpoint (xsmall only) {
			padding: $spacing--xs 0;
		}//end xsmall only breakpoint
	}//end .sl_card

	.sl_wildcard__accreditations {
		justify-content: center;
		.sl_accred{
			&--naatp{
				margin-top: $spacing--xs;

				@media screen and #{breakpoint(609px)} and #{breakpoint(medium down)} {
					margin-top: 0;
				}
			}//end &--naatp
		}//end .sl_accred
	}//end .sl_wildcard__accreditations
}//end wildcard--accredbox