@media only screen and (max-width: 700px){
	#wrapper{
		width:auto !important;
	}
	#main{
		padding-bottom:50px;
	}
	.columns .col{
		float:none;
		width:100%;
		padding:0 0 20px;
	}
	.avada-container .columns {
		float:none;
		width:100%;
		margin-bottom:20px;
	}
	.avada-container .columns .col {float:left;}
	.avada-container .col img{		
		display:block;
		margin:0 auto;
	}
	.review {
		float:none;
		width:100%;
	}
	.footer-area .columns .col{
		float:left;
		width:98%;
		padding:0 2% 20px 0;
	}
	.social-networks,
	.copyright{
		/*float:none;*/
		padding:0 0 15px;
		text-align:center;
	}
	.copyright:after,
	.social-networks:after{
		content:"";
		display:block;
		clear:both;
	}
	.social-networks li,
	.copyright li{
		/*float:none;*/
		display:inline-block;
	}
	.continue {display:none;}
	.mobile-button{
		display:block !important;
		float:none;
	}
	.page-title{
		width:auto;
		padding-left:10px; padding-right:10px;
		padding-top:18px;
	}
	.page-title-wrapper{
		width:auto;
	}
	.page-title h1{
		float:none;
	}
	.page-title ul{
		float:none;
		text-align:left;
		padding-top:0 !important;
		line-height:11px !important;
	}

	#header{
		padding:20px;
	}
	#header .logo{
		float:none;
		text-align:center;
		margin:0;
		margin-bottom:20px;
	}
	#header .nav-holder{
		float:none;
	}
	.nav-holder ul{display:none;}
	.nav-holder select{
		display:block !important;
		width:100%;
		border: 1px solid #ccc;
    	margin-top: 10px;
	}
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth{
		width:100%;
		margin-bottom:20px;
	}
	.one_half > div, .one_third > div, .two_third > div, .three_fourth > div, .one_fourth > div{
		margin-bottom:0;
	}

	.title{
		margin-top:0px !important;
		margin-bottom:20px !important;
	}

	#content{
		width:100%;
		float:none;
		margin-bottom:50px;
	}

	#sidebar{
		width:100%;
		float:none;
	}

	#sidebar .social_links .social li{
		width:auto;
		margin-right:5px;
	}

	#comment-input{
		margin-bottom:0;
	}
	#comment-input input{
		width:90%;
		float:none !important;
		margin-bottom:10px;
	}
	#comment-textarea textarea{
		width:90%;
	}

	.pagination{
		margin-top:40px;
	}

	.portfolio-one .portfolio-item .image{
		float:none;
		width:auto;
		height:auto;
		margin-bottom:20px;
	}

	h5.toggle span.toggle-title{
		width:80%;
	}

	.full-boxed-pricing{
		width:97%;
	}
	.full-boxed-pricing .column{
		width:100%;
		border:1px solid #E5E4E3 !important;
		margin-bottom:10px;
	}
	.full-boxed-pricing ul{
		width:100%;
	}

	.sep-boxed-pricing .column{
		width:97%;
	}
	.sep-boxed-pricing ul{
		width:100%;
	}
	.sep-boxed-pricing ul li{
		width:100%;
	}

	.page-title h1{
		margin-top:0;
		margin-bottom:5px;
	}
	.page-title h1,.page-title ul{
		float:none;
		line-height:normal;
		width:100%;
	}

	.share-box{
		height:auto;
	}
	.share-box h4{
		float:none;
		line-height:20px !important;
		padding-top:25px;
		padding-bottom:25px;
	}
	.share-box ul{
		float:none;
		overflow:hidden;
		padding:0 25px;
		padding-bottom:25px;
		margin-top:0px;
	}

	.project-content .project-description{
		margin-bottom:50px;
	}
	.project-content .project-description,.project-content .project-info{
		width:100%;
	}

	.portfolio-half .flexslider{
		width:100%;
	}
	.portfolio-half .project-content{
		width:100%;
	}

	#style_selector{
		display:none;
	}

	.portfolio-tabs{
		height:auto;
		border-bottom:0;
	}

	.portfolio-tabs li{
		float:none;
		margin-right:0;
		border-bottom:1px solid #E7E6E6;
	}

	.post-content .rev_slider_wrapper{margin-left:-5px !important;}
	.rev_slider_wrapper .tparrows,.rev_slider_wrapper:hover .tparrows{display:none !important;}
	.ls-avada .ls-nav-prev,.ls-avada .ls-nav-next{display:none !important;}

	nav#nav{margin-right:0;}

	#footer .social-networks{width:100%;margin:0 auto;position:relative;left:-11px;}

	.rev_slider .button,.ls-layer .button{
		padding-left:20px; padding-right:20px;
		height:30px;
		line-height:30px;
	}

	.tab-holder .tabs{
		height:auto !important;
		width:100% !important;
	}
	.shortcode-tabs .tab-hold .tabs li{
		width:100% !important;
	}

	.page-title-container{height:auto;max-height:87px;padding-bottom:20px;}

	.error_page .useful_links{width:100%;padding-left:0;}

	#gmap{width:100% !important;margin-bottom:20px !important;}

	.social_links_shortcode .social li{width:10% !important;}

	#wrapper .ei-slider{width:100% !important;}

	.tfs-slider .slides{width:auto !important;}
	#wrapper .ei-slider{height:200px !important;}

	.progress-bar{margin-bottom:10px !important;}
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px){
	#wrapper{
		width:auto !important;
	}
	#main{
		padding-bottom:50px;
	}
	.columns .col{
		float:none;
		width:100%;
		padding:0 0 20px;
	}
	.avada-container .columns {
		float:none;
		width:100%;
		margin-bottom:20px;
	}
	.avada-container .columns .col {float:left;}
	.avada-container .col img{		
		display:block;
		margin:0 auto;
	}
	.review {
		float:none;
		width:100%;
	}
	.footer-area .columns .col{
		float:left;
		width:98%;
		padding:0 2% 20px 0;
	}
	.social-networks,
	.copyright{
		float:none;
		padding:0 0 15px;
		text-align:center;
		margin-bottom: 30px;
	}
	.copyright:after,
	.social-networks:after{
		content:"";
		display:block;
		clear:both;
	}
	.social-networks li,
	.copyright li{
		float:none;
		display:inline-block;
	}
	.continue {display:none;}
	.mobile-button{
		display:block !important;
		float:none;
	}
	.page-title{
		width:auto;
		padding-left:10px; padding-right:10px;
		padding-top:18px;
	}
	.page-title-wrapper{
		width:auto;
	}
	.page-title h1{
		float:none;
	}
	.page-title ul{
		float:none;
		text-align:left;
		padding-top:0 !important;
		line-height:11px !important;
	}

	#header{
		padding:20px;
	}
	#header .logo{
		float:none;
		text-align:center;
		margin:0;
		margin-bottom:20px;
	}
	#header .nav-holder{
		float:none;
	}
	.nav-holder ul{display:none;}
	.nav-holder select{display:block !important;width:100%;}
	.one_half, .one_third, .two_third, .three_fourth, .one_fourth{
		width:100%;
		margin-bottom:20px;
	}
	.one_half > div, .one_third > div, .two_third > div, .three_fourth > div, .one_fourth > div{
		margin-bottom:0;
	}

	.title{
		margin-top:0px !important;
		margin-bottom:20px !important;
	}

	#content{
		width:100%;
		float:none;
		margin-bottom:50px;
	}

	#sidebar{
		width:100%;
		float:none;
	}

	#sidebar .social_links .social li{
		width:auto;
		margin-right:5px;
	}

	#comment-input{
		margin-bottom:0;
	}
	#comment-input input{
		width:90%;
		float:none !important;
		margin-bottom:10px;
	}
	#comment-textarea textarea{
		width:90%;
	}

	.pagination{
		margin-top:40px;
	}

	.portfolio-one .portfolio-item .image{
		float:none;
		width:auto;
		height:auto;
		margin-bottom:20px;
	}

	h5.toggle span.toggle-title{
		width:80%;
	}

	.full-boxed-pricing{
		width:97%;
	}
	.full-boxed-pricing .column{
		width:100%;
		border:1px solid #E5E4E3 !important;
		margin-bottom:10px;
	}
	.full-boxed-pricing ul{
		width:100%;
	}

	.sep-boxed-pricing .column{
		width:97%;
	}
	.sep-boxed-pricing ul{
		width:100%;
	}
	.sep-boxed-pricing ul li{
		width:100%;
	}

	.page-title h1{
		margin-top:0;
		margin-bottom:5px;
	}
	.page-title h1,.page-title ul{
		float:none;
		line-height:normal;
		width:100%;
	}

	.share-box{
		height:auto;
	}
	.share-box h4{
		float:none;
		line-height:20px !important;
		padding-top:25px;
		padding-bottom:25px;
	}
	.share-box ul{
		float:none;
		overflow:hidden;
		padding:0 25px;
		padding-bottom:25px;
		margin-top:0px;
	}

	.project-content .project-description{
		margin-bottom:50px;
	}
	.project-content .project-description,.project-content .project-info{
		width:100%;
	}

	.portfolio-half .flexslider{
		width:100%;
	}
	.portfolio-half .project-content{
		width:100%;
	}

	#style_selector{
		display:none;
	}

	.portfolio-tabs{
		height:auto;
		border-bottom:0;
	}

	.portfolio-tabs li{
		float:none;
		margin-right:0;
		border-bottom:1px solid #E7E6E6;
	}

	.post-content .rev_slider_wrapper{margin-left:-5px !important;}
	.rev_slider_wrapper .tparrows,.rev_slider_wrapper:hover .tparrows{display:none !important;}
	.ls-avada .ls-nav-prev,.ls-avada .ls-nav-next{display:none !important;}

	nav#nav{margin-right:0;}

	#footer .social-networks{width:100%;margin:0 auto;position:relative;left:-11px;}

	.rev_slider .button,.ls-layer .button{
		padding-left:20px; padding-right:20px;
		height:30px;
		line-height:30px;
		font-size:10px;
	}

	.tab-holder .tabs{
		height:auto !important;
		width:100% !important;
	}
	.shortcode-tabs .tab-hold .tabs li{
		width:100% !important;
	}

	.page-title-container{height:auto;max-height:87px;padding-bottom:20px;}

	.error_page .useful_links{width:100%;padding-left:0;}

	#gmap{width:100% !important;margin-bottom:20px !important;}

	.social_links_shortcode .social li{width:10% !important;}

	.header-social{padding-top:10px;}
	.header-social .social-networks li{margin-bottom:0;}

	.header-v2 .header-social .alignleft{width:100%; margin:0; text-align:center;}
	.header-v2 .header-social .alignright{width:100%; margin:0; text-align:center;}
	.header-v2 .header-social .social-networks{width:100%; padding-bottom:0;}
	.header-v2 .header-social .social-networks li{float:none; margin-left:10px; margin-right:10px;}
	.header-v2 .header-social{padding-bottom:0;}

	.header-v3 .header-social .alignleft{width:100%; margin:0; text-align:center;}
	.header-v3 .header-social .alignright{width:100%; margin:0; text-align:center;}
	.header-v3 .header-social .social-networks{/*width:100%;*/ padding-bottom:0;}
	.header-v3 .header-social .social-networks li{/*float:none;*/ margin-left:10px; margin-right:10px;}
	.header-v3 .header-social{padding-bottom:0;}

	.header-v4 .header-social .alignleft{width:100%; margin:0; text-align:center;}
	.header-v4 .header-social .alignright{width:100%; margin:0; text-align:center; clear:both;}
	.header-v4 .header-social .social-networks{width:100%; margin-top:0; padding-bottom:0;}
	.header-v4 .header-social .social-networks li{float:none; margin-bottom:0; margin-left:10px; margin-right:10px; line-height:26px;}
	.header-v4 .header-social .social-networks li a{margin-bottom:0;}
	.header-v4 .header-social{padding-bottom:0;}
	.header-v4 #header{padding-left:20px; padding-right:20px;}
	.header-v4 #header .logo{width:100%; margin-bottom:10px;}
	.header-v4 #header .search{width:100%; margin-bottom:5px;}
	.header-v4 #header .tagline{width:100%;}
	.header-v4 #small-nav{padding:6px 20px;}
	.header-v4 #small-nav #nav{width:100%;}
	.header-v4 .header-social .alignright{margin-bottom:10px;}
	.header-v4 .header-social .alignright .menu{margin-top:-10px; line-height:25px;}

	.header-v5 .header-social .alignleft{width:100%; margin:0; text-align:center; margin-top:-15px;}
	.header-v5 .header-social .alignright{width:100%; margin:0; text-align:center;}
	.header-v5 .header-social .social-networks{width:100%; padding-bottom:0;}
	.header-v5 .header-social .social-networks li{float:none; margin-left:10px; margin-right:10px;}
	.header-v5 .header-social{padding-bottom:0;}
	.header-v5 #small-nav{padding:6px 20px;}
	.header-v5 #small-nav #nav{width:100%;}

	#wrapper .ei-slider{width:100% !important;}

	.tfs-slider .slides{width:auto !important;}
	#wrapper .ei-slider{height:200px !important;}

	.progress-bar{margin-bottom:10px !important;}
}
@media only screen and (max-width: 479px){
	.logo{
		float:none;
		margin:20px auto;
	}
	#nav{
		float:none;
		overflow:hidden;
		font-size:12px;
		text-align:center;
	}
	#nav ul li{
		float:none;
		margin:0 5px;
		display:inline-block;
	}
	#nav ul a{
		padding:5px 0;
		border:0 !important;
	}
	.avada-container .columns .col,
	.footer-area .columns .col{
		float:none;
		width:100%;
	}
	.review blockquote cite strong,
	.copyright li{}
	.wooslider-direction-nav,.wooslider-pauseplay,.flex-direction-nav{display:none;}

	.blog-medium-image{
		width:auto;
		height:auto;
		float:none !important;
		margin-bottom:20px !important;
	}

	.post .meta-info{
		height:auto;
	}

	.post .meta-info > div{
		display:block;
		float:none;
		margin:0;
	}

	.share-box ul li{
		margin-bottom:5px;
		margin-right:15px;
	}


	.buttons a{
		margin-right:5px;
	}

	.portfolio-two .portfolio-item{
		width:auto !important;
		height:auto !important;
	}

	.post-content .rev_slider_wrapper{margin-left:-5px !important;}

	.rev_slider_wrapper .tparrows,.rev_slider_wrapper:hover .tparrows{display:none !important;}
	.ls-avada .ls-nav-prev,.ls-avada .ls-nav-next{display:none !important;}

	.rev_slider .button,.ls-layer .button{
		padding-left:10px; padding-right:10px;
		height:20px;
		line-height:20px;
		font-size:10px;
	}

	#wrapper .ei-slider{width:100% !important;}

	.tfs-slider .slides{width:auto !important;}
	#wrapper .ei-slider{height:200px !important;}

	.progress-bar{margin-bottom:10px !important;}
}
@media only screen and (max-width: 319px){
}