{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		<div class="sl_wrapper">
			<div class="off-canvas-wrapper">

				{# CONTACT POPUP - (Desktop) #}
					{% include 'partials/contact-popup.twig' %}
				{# END CONTACT POPUP #}

				{# CONTACT STICKY - (mobile) #}
					{% include 'partials/contact-mobile.twig' %}
				{# END CONTACT STICKY #}

				{# OFF-CANVAS MENU #}
				{% include "offcanvas-menu.twig" with {'menu': menu.get_items} %}
				{# END OFF-CANVAS MENU #}
				
				<div class="off-canvas-content" data-off-canvas-content>

					{# HEADER #}
					<header id="sl_globalheader" class="sl_header" >
						{% block header %}
							{% include 'partials/header.twig' %}
						{% endblock %}
					</header>
					{# END HEADER #}

					{# BREADCRUMBS #}
					{% if post.post_type != 'post' and post.post_type != 'sl_podcasts_cpts' %}	
					<div class="sl_inner">
						{{ function('get_breadcrumb') }}
					</div>
					{% endif %}
					{# END BREADCRUMBS #}


					{# PAGE CONTENT #}
					<section id="content" role="main" class="sl_content">
						{% block content %}
							Sorry, no content
						{% endblock %}
					</section>
					{# END PAGE CONTENT #}

					{# BACK TO TOP BUTTON #}
					<a id="sl_backtop" class="sl_button sl_button--backtop hide-for-medium" href="#sl_globalheader" data-smooth-scroll>
						<i class="fa fa-angle-up" aria-hidden="true"></i>
					</a>
					{# END BACK TO TOP BUTTON #}
					
					{# FOOTER  #}
					{% block footer %}
						<footer id="footer">
							{% include 'footer.twig' %}
						</footer>
						{{ function('wp_footer') }}
					{% endblock %}
					{# END FOOTER#}

				</div>{# /.off-canvas-content #}
			</div>{# /.off-canvas-wrapper #}
		</div>{# /.sl_container #}
	</body>
	
</html>
