<div id="sl_footer" class="sl_footer">

	{# ACCREDITATIONS #}
    {% include "partials/footer-accreditations.twig"  %}

    {# EMAIL #}

    {% include "partials/footer-email.twig"  %}

	<div class="sl_footer__menu">
		<div class="sl_inner">


		<div class="sl_row">

			<div class="sl_cell medium-8">
				{# SOCIAL ICONS#}
				{% include "partials/social-media.twig"  %}
			</div>

			<div class="sl_cell medium-4">
				{# ONLINE BILL PAY #}
				<a class="sl_button sl_button--secondary sl_button--icon sl_button--medium" href="{{ site.url }}/online-bill-pay/">Online Bill Pay</a>
			</div>
		</div>

		{# FOOTER MAIN MENU #}
    	{% include "partials/footer-menu.twig" %}

  		{# COPYRIGHT #}
  		{{ function('do_shortcode', '[frn_footer]')}}
		
		{# Joint Commission Required Wording #}
		<p>If you have comments or concerns and want to speak with the Joint Commission, you can contact their Customer Service line at {{ function('do_shortcode', '[frn_phone number="630-792-5800"]')}}.</p>
		</div>{# /.sl_inner #}
	</div>{# /.sl_footer__menu#}
</div>{# /.sl_footer #}