{% extends "tease.twig" %}

{% block content %}
	<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
			<h4>{{post.location_name}}</h4>
			<p>{{post.location_description}}</p>
			<p class="address">
				<h5>Address</h5>
				<span class="street-address">{{post.address_schema_street_address}}</span>
				<span class="city-state">{{post.address_schema_city}}, {{post.address_schema_state}}</span>
				<span class="street-address">{{post.address_schema_zip_code}}</span>
			</p>
{% endblock %}