{% extends "tease.twig" %}

{% block content %}
	<a href="{{article.link}}" class="sl_card sl_card--article sl_card--article--md">            
	    {# Card Image #}
	    {% if article.thumbnail %}
	    <div class="sl_card__image" style="background-image: url({{ article.thumbnail.src() }}">
	        <p class="sl_article__category">Posted in: {{ article.terms('category')|first }}</p>
	    </div>{# /.first_article_link #}
	    {% endif %}

	    {# Card Content #}
	    <div class="sl_cell auto sl_card__content">
	        {% if article.thumbnail == null %}<p class="sl_article__category">Posted In: {{ article.terms('category')|first }}</p>{% endif %}
	        <h4 class="sl_article__title">{{ article.title|truncate(8) }}</h4>
	        <p class="sl_article__preview">{{ article.preview.length(25).end(' ...').read_more(false).force }}</p>
	        {% if article.author_name %}
	            <p class="sl_article__author">By: {{article.author_name}}</p>
	        {% endif %}
	        <p class="sl_article__date">{{article.date}}</p>
	    </div>{# /.sl_cell auto.sl_card__content #}
	</a>{# /.sl_card.sl_articles__card #}
{% endblock %}