body.error404 {
	.sl_content {
		&__related {
			z-index: 0;
			position: relative;
			margin-top: -$spacing--xxl;
			padding-bottom: $spacing--xxl;

			@include breakpoint (xlarge down) {
				padding-bottom: 0;
			}//end xlarge down breakpoint

			@include breakpoint (medium only) {
				margin-top: $spacing--lg;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				margin-top: $spacing--md;
			}//end small down breakpoint

			.sl_inner {
				background-color: get-color(default);
				border-radius: $border-radius;
				overflow: hidden;
				padding-top: $spacing--xxl * 2;
				padding-bottom: $spacing--xxl - $spacing--sm;

				@include breakpoint (xlarge down) {
					border-radius: 0;
				}//end xlarge down breakpoint

				@include breakpoint (medium only) {
					padding-top: $spacing--lg;
					padding-bottom: $spacing--lg - $spacing--sm;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding-top: $spacing--md;
					padding-bottom: $spacing--md;
				}//end small down breakpoint

				h2 {
					color: get-color(inverse);
					text-align: center;
					margin-bottom: $spacing--lg;

					@include breakpoint (small down) {
						margin-bottom: $spacing--sm;
						text-align: left;
					}//end small down breakpoint
				}//end h2

				& > .sl_row {
					& > .sl_cell {
						padding: 0 $spacing--sm/2;
						margin-bottom: $spacing--sm;

						@include breakpoint (small down) {
							padding: 0;
							&:last-of-type {
								margin-bottom: 0;
							}//end &:last-of-type
						}//end small down breakpoint
					}//end & > .sl_cell
				}//end & > .sl_row
			}//end .sl_inner
			
			.sl_post {
				height: 100%;

				&__title {
					margin-bottom: $spacing--xs;
					font-size: 1.25rem;
					&:after {
						content:'';
						height: 13px;
						width: 13px;
						display: inline-block;
						background-image: url(#{$path-img}icon/blue-arrow-right.svg);
						background-repeat: no-repeat;
						background-size: 13px 13px;
						margin-left: $spacing--sm;
					}//end &:after
				}//end &__title
			}//end .sl_post

			.sl_card {
				&__image {
					min-height: 225px;

					@include breakpoint (medium down) {
						min-height: 175px;
					}//end medium down breakpoint

				}//end &__image
				&__content {
					.sl_article__title {
						margin-bottom: $spacing--xs;
					}//end .sl_article__title
				}//end &__content
			}//end .sl_card
		}//end &__related
	}//end .sl_content
}//end &__related