//1. Articles Archive Page
//2. Category Archive Page
//3. Podcast Archive Page
//4. Research Archive Page
//-------------------------

//1. ARTICLES ARCHIVE PAGE 
body.blog {
	.sl_content {
		padding-bottom: $spacing--xxl/2;

		@include breakpoint (large only) {
			padding-bottom: $spacing--xl/2;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: $spacing--lg/2;
		}//end medium only breakpoint
	}//end .sl_content
	.sl_articles__intro {
		.sl_card {
			@include container;

			& > * {
				text-align: center;
				max-width: 900px;
				margin-left: auto;
				margin-right: auto;

				@include breakpoint (small down) {
					text-align: left;
				}//end small down breakpoint
			}//end & > *

			.sl_phone {
				flex-direction: row;
				max-width: 550px;
				width: 100%;
				margin: 0 auto;
				align-items: center;

				&__number {
					font-size: rem-calc(45px);
					display: block;

					@include breakpoint (medium only) {
						font-size: rem-calc(26px);
					}//end medium only breakpoint
				}//end &__number

				&__cta {
					display: block;
					text-transform: none;
					font-size: 1.125rem;
					line-height: 1.5rem;
					padding-left: $spacing--md/2;
					text-align: left;
					margin-bottom: 0;
					width: 50%;
				}//end &__cta

				@include breakpoint (small down) {
					flex-direction: column;

					&__number {
						order: 2;
						font-size: 1.25rem;
						padding: $spacing--xs $spacing--sm;
						display: block;
					}//end &__number

					&__cta {
						order: 1;
						padding: 0;
						margin-bottom: $spacing--xs;
						width: 100%;
						text-align: center;
					}//end &__cta
				}//end small down breakpoint
			}//end .sl_phone
		}//end .sl_card
	}//end .sl_articles__intro

	.sl_categories-grid {
		padding-bottom: $spacing--xxl/2;

		@include breakpoint (large only) {
			padding-bottom: $spacing--xl/2;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: $spacing--lg/2;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-bottom: 0;
		}//end small down breakpoint
		
		h2 {
			text-align: center;
			margin-bottom: $spacing--lg;
			
			@include breakpoint (medium only) {
				margin-bottom: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
		}//end h2

		&__item {
			padding: $spacing--sm;
			display: flex;
			align-items: center;
			justify-content: center;
			color: get-color(default);
			h3 {
				margin-bottom: 0;

				@include breakpoint (medium only) {
					font-size: 1.25rem;
				}//end medium only breakpoint
			}//end h3

			&:not(:nth-of-type(4n)){
				border-right: 1px solid get-color(default-tint3);
			}//end &:not(:nth-of-type(4n))

			&:nth-of-type(n+5) {
				border-top: 1px solid get-color(default-tint3);
			}//end &:nth-of-type(n+5)
		}//end &__item
	}//end .sl_categories-grid

	.sl_accordion {
		&--categories {
			background: none;
			padding: 0;
			border-radius: 0;
			margin-bottom: 0;
		}//end &--categories

		&__item {
			background-color: get-color(default);
			color: get-color(inverse);

			&.is-active {
				.sl_accordion__title {
					color: get-color(inverse);
					font-weight: $font-weight--regular;

					&:before {
						background-image: url(#{$path-img}/icon/accordion-up-inverse.svg);
					}//end &:before
				}//end .sl_accordion__title
			}//end &.is-active
		}//end &__item

		&__title {
			color: get-color(inverse);

			&:hover, &:focus {
				color: get-color(inverse);
			}//end &:hover, &:focus

			&:before {
				background-image: url(#{$path-img}/icon/accordion-down-inverse.svg);
				background-size: 18px 18px;
				width: 18px;
				height: 18px;
				opacity: 1;
				top: 50%;
			}//end &:before
		}//end &__title

		&__content {
			background-color: get-color(default);
			ul {
				list-style: none;
				margin: 0;

				li:last-of-type {
					margin-bottom: 0;
				}//end li

				a {
					color: get-color(inverse);
					display: block;
				}//end a
			}//end ul
		}//end &__content
	}//end .sl_accordion

	.sl_articles__category {
		padding: $spacing--xxl/2 0;

		@include breakpoint (medium only) {
			padding: $spacing--lg/2 0 $spacing--lg/2 - $spacing--sm;
		}//end medium only breakpoint
		.sl_inner {
			@include innerpadding ($p-small: $spacing--sm,$p-medium: $spacing--md - $spacing--sm/2, $p-large: $spacing--lg, $p-xlarge: $spacing--xl - $spacing--sm/2,$p-xxlarge: $spacing--xxl - $spacing--sm/2);

			& > .sl_row {
				& .sl_cell {
					padding: 0 $spacing--sm/2;

					@include breakpoint (medium only) {
						padding: 0 $spacing--sm/2;
						margin-bottom: $spacing--sm;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						padding: 0;

						&:not(:last-of-type) {
							margin-bottom: $spacing--xs;
						}//end &:not(:last-of-tyoe)
					}//end small down breakpoint
				}//end .sl_cell
			}//end & > .sl_row
		}//end .sl_inner

			.sl_category__heading {
				margin-bottom: $spacing--lg;
				display: flex;
				align-items: center;
				justify-content: center;

				@include breakpoint (small down) {
					margin-bottom: $spacing--sm;
				}//end small down breakpoint

				h2 {
					text-align: center;
					margin-right: $spacing--xl;
					margin-bottom: 0;

					@include breakpoint (small down) {
						text-align: left;
						margin-right: $spacing--sm;
						flex: 1 1 0;
					}//end small down breakpoint

					@include breakpoint (xsmall only) {
						font-size: 1.25rem;
						margin-right: $spacing--xs;
					}//end xsmall only breakpoint
				}//end h2

				.sl_button {
					margin-bottom: 0;
					width: auto;
				}//end .sl_button
			}//end .sl_category__heading
		.sl_card {
			&__image {
				min-height: 175px;
			}//end &__image
			&__content {
				.sl_article__title {
					margin-bottom: $spacing--xs;
				}//end .sl_article__title
			}//end &__content
		}//end .sl_card

	}//end .sl_articles__categories
}//end body.blog
//END ARTICLES ARCHIVE PAGE

//2. CATEGORY ARCHIVE PAGE
body.archive {
	.sl_content {
		&__body {
			.sl_inner {
				@include innerpadding ($p-small: $spacing--sm,$p-medium: $spacing--md - $spacing--sm/2, $p-large: $spacing--lg - $spacing--sm/2, $p-xlarge: $spacing--xl - $spacing--sm/2,$p-xxlarge: $spacing--xxl - $spacing--sm/2);
			}//end .sl_inner
		}//end &__body

		//MAIN CONTENT
		&__main {
			padding-right: $spacing--xxl;
			padding-bottom: $spacing--xxl;

			@include breakpoint (xlarge only) {
				padding-right: $spacing--xl;
			}//end xlarge only breakpoint

			@include breakpoint (large only) {
				padding-right: $spacing--md;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: 0 0 $spacing--lg;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: 0 0 $spacing--md;
			}//end small down breakpoint
			.sl_main {
				& > h2 {
					padding-left: $spacing--sm/2;

					@include breakpoint (small down) {
						padding: 0;
					}//end small down breakpoint
				}//end & > h2
				& > .sl_row {
					& > .sl_cell {
						padding: 0 $spacing--sm/2;
						margin-bottom: $spacing--sm;

						@include breakpoint (small down) {
							padding: 0;
						}//end small down breakpoint
					}//end & > .sl_cell
				}//end & > .sl_row
			}//end .sl_main

			.sl_pagination {
				padding-left: $spacing--sm/2;

				@include breakpoint (small down) {
					padding: 0;
				}//end small down breakpoint
			}//end .sl_pagination
		}//end &__main

		&__loop {
			padding-bottom: $spacing--md;
			.sl_card {
				&__image {
					min-height: 175px;
				}//end &__image
				&__content {
					.sl_article__title, .sl_article__category {
						margin-bottom: $spacing--xs;
					}//end .sl_article__title
				}//end &__content
			}//end .sl_card
		}//end &__loop
	}//end .sl_content
}//end body.category
//END CATEGORY ARCHIVE PAGE

//3. PODCAST ARCHIVE PAGE
.post-type-archive-sl_podcasts_cpts {
	.sl_content {

		.sl_main {
			@include breakpoint (large only) {
				padding-right: $spacing--xs;
			}//end large only breakpoint
		}//end .sl_main
		
		&--loop {
			padding: $spacing--xxl 0;
			background-color: get-color(default);

			@include breakpoint (large only) {
				padding: $spacing--xl 0;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: $spacing--lg 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md 0;
			}//end small down breakpoint

			.sl_inner {
				& > h2 {
					color: get-color(inverse);
					text-align: center;
					margin-bottom: $spacing--lg;

					@include breakpoint (small down) {
						margin-bottom: $spacing--sm;
					}//end small down breakpoint
				}//end & > h2

				& > .sl_podcast__partners {
					margin-bottom: $spacing--xxl;

					@include breakpoint (large only) {
						margin-bottom: $spacing--xl;
					}//end large only breakpoint

					@include breakpoint (medium only) {
						margin-bottom: $spacing--lg;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						margin-bottom: $spacing--md;
						align-items: center;
						justify-content: center;

						a {
							padding: $spacing--sm/2 0;
						}//end a

						img {
							max-height: 40px;
							width: auto;
						}//end img
					}//end small down breakpoint
				}//end & > .sl_podcast__partners
			}//end .sl_inner

			.sl_podcast__box {
				margin-bottom: $spacing--sm;
			}//end .sl_podcast__box

			.infinite-scroll-button {
				margin: 0 auto;
				color: get-color(inverse);
				border-color: get-color(inverse);

				&:hover, &:focus, &:active, &[disabled] {
					background-color: get-color(inverse);
					color: get-color(default);
				}//end &:hover

				&[disabled]{
					visibility: hidden;
				}//end &:active
			}//end .infinte-scroll-button

			.infinte-scroll-error {
				color: get-color(inverse);
			}//end .infinite-scroll-error
		}//end &--loop
	}//end .sl_content

	//MODULES ON ARCHIVE PAGE
	.sl_podcast {
		&__intro {
			.sl_inner {
				& > .sl_row {
					@include container;
					padding: $spacing--lg;

					@include breakpoint (medium only) {
						padding: $spacing--md;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						padding: $spacing--md $spacing--sm;
					}//end small down breakpoint

					& > .sl_cell {
						& > :last-child {
							margin-bottom: 0;
						}//end & > :last-child

						//CONTENT
						&:first-of-type {
							padding-right: $spacing--sm/2;
							@include breakpoint (medium down) {
								order: 2;
								padding: 0;
							}//end medium only breakpoint
						}//end &:first-of-type;
						
						//PODCAST LOGO
						&:last-of-type {
							display: flex;
							align-items: center;
							justify-content: center;
							padding-left: $spacing--sm/2;

							@include breakpoint (medium down) {
								order: 1;
								margin-bottom: $spacing--md;
								padding: 0;
							}//end medium only breakpoint
						}//end &:last-child
					}//end & > .sl_cell
				}//end & > .sl_row
			}//end .sl_inner
			
			.sl_podcast__logo {
				width: 100%;
				max-width: 450px;
				height: auto;

				@include breakpoint (medium only) {
					width: 300px;
					margin-left: 0;
					margin-right: auto;
				}//end medium only breakpoint
			}//end .sl_podcast__logo
		}//end &__intro

		&__about {
			padding: $spacing--xxl 0;

			@include breakpoint (medium only) {
				padding: $spacing--lg 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md 0;
			}//end small down breakpoint
			.sl_inner {
				& > .sl_row {
					& > .sl_cell {

						// FORMAT
						&:first-of-type {
							padding-right: $spacing--xxl/2;

							@include breakpoint (medium down) {
								padding: 0;
							}//end medium down breakpoint
						}//end &:first-of-type

						//INFO CARD OF DAVID
						&:last-of-type {
							padding-left: $spacing--xxl/2;

							@include breakpoint (medium down) {
								padding: 0;
							}//end medium down breakpoint

						}//end &:last-of-type
					}//end & > .sl_cell
				}//end & > .sl_row
			}//end .sl_inner

			.sl_callout {
				height: auto;

				@include breakpoint (large only) {
					padding: $spacing--md;
				}//end large only breakpoint

				@include breakpoint (medium only) {
					max-width: 500px;
				}//end medium only breakpoint
			}//end .sl_callout
		}//end &__about
	}//end .sl_podcast
	//END PODCAST PAGE MODULES
}//end .post-type-archive-sl_podcasts_cpts

//4. RESEARCH ARCHIVE PAGE
.post-type-archive-sl_research_cpts, .term-research-abstracts, .term-white-papers {
	.sl_content {
		padding-bottom: $spacing--xxl/2;

		@include breakpoint (large only) {
			padding-bottom: $spacing--xl/2;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: $spacing--lg/2;
		}//end medium only breakpoint
		&__intro {
			.sl_card{
				@include container;
				margin-bottom: $spacing--xxl;

				@include breakpoint (large only) {
					margin-bottom: $spacing--xl;
				}//end large only breakpoint

				@include breakpoint (medium only) {
					margin-bottom: $spacing--lg;
				}//end medium only breakpoint

				@include breakpoint (small only) {
					margin-bottom: $spacing--md;
				}//end small only breakpoint
			}//end .sl_card
		}//end &__intro

		&__loop {
			.sl_inner {
				@include innerpadding ($p-medium: $spacing--md - $spacing--sm/2, $p-large: $spacing--lg - $spacing--sm/2, $p-xlarge: $spacing--xl - $spacing--sm/2,$p-xxlarge: $spacing--xxl - $spacing--sm/2);
				& > .sl_row {
					& > .sl_cell {
						padding: 0 $spacing--sm/2;
						margin-bottom: $spacing--sm;

						@include breakpoint (small down) {
							padding: 0;

							& > :last-of-type {
								margin-bottom: 0;
							}
						}//end small down breakpoint
					}//ed & > .sl_cell
				}//end & > .sl_row
			}//end .sl_inner

			.sl_pagination {
				padding-top: $spacing--sm;
				padding-left: $spacing--sm/2;

				@include breakpoint (small down) {
					padding: 0;
				}//end small down breakpoint
			}//end .sl_pagination
		}//end &__loop
	}//end .sl_content
}//end .post-type-archive-sl_research_cpts