.sl_articles__grid {
	&--featured, &--release {
		.sl_articles__featured {
			padding-right: $spacing--sm/2;

			.sl_card {
				height: 100%;
			}//end .sl_card

			@include breakpoint (small down) {
				padding: 0;
				margin-bottom: $spacing--xs;
			}//end small down breakpoint
		}//end .sl_articles__featured

		.sl_articles__stacked {
			padding-left: $spacing--sm/2;

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint

			& > .sl_cell {
				margin-bottom: $spacing--sm;

				@include breakpoint (small down) {
					margin-bottom: $spacing--xs;
				}//end small down breakpoint

				&:nth-child(odd) {
					padding-right: $spacing--sm/2;

					@include breakpoint (small down) {
						padding: 0;
					}//end small down breakpoint
				}//end &nth-child(odd)

				&:nth-child(even) {
					padding-left: $spacing--sm/2;

					@include breakpoint (small down) {
						padding: 0;
					}//end small down breakpoint
				}//end &:nth-child(even)

				&:nth-child(3), &:nth-child(4) {
					margin-bottom: 0;

					@include breakpoint (small down) {
						margin-bottom: $spacing--xs
					}//end small down breakpoint
				}//end &:nth-child(3), &:nth-child(4)
			}//end & > .sl_cell

			.sl_card {
				@include breakpoint (medium down) {

					&:not(:last-of-type){
						margin-bottom: $spacing--xs;
					}//end &:not(:last-of-type)
				}//end medium down breakpoint
			}//end .sl_card
		}//end .sl_articles__stacked
	}//end &--featured, &--release
	
}//end .sl_article__grid