//Header Wave
.sl_wrapper {
	position: relative;
	overflow: hidden;
	z-index: 0;

	//Overlap Wave
	&:before {
		@include pseudo;
		height: 500px;
		left: 0;
		right: 0;
		top: 0;
		background-image: $gradient--primary;
		z-index: -2;
	}//end &:before

	&:after {
		@include wave-overlay;
		height: 500px;
		top: 0;
		bottom: auto;
		z-index: -1;

		@include breakpoint (xxxlarge only) {
			display: none;
		}//end xxxlarge only breakpoint

		@include breakpoint (medium only) {
			background-position-y: 250px;
		}//end medium only breakpoint
		
		@include breakpoint (small down) {
			background-position-y: 200px;
		}//end small down breakpoint

	}//end &:after
}//end .sl_wrapper

//Default Page 
body.page-template-default, body.page-template-template-nosidebar, body.page-template-template-formatting, body.single-sl_staff_cpts, body.single-sl_webinars_cpts, body.archive:not(.post-type-archive-sl_podcasts_cpts):not(.post-type-archive-sl_research_cpts) {

	.sl_wrapper:before {
		height: 400px;
		
		@include breakpoint (xxxlarge only) {
			height: 270px;
		}//end xxxlarge only breakpoint

		@include breakpoint (medium only) {
			height: 212px;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			height: 173px;
		}//end small down breakpoint
	}
	.sl_wrapper:after {
		background-position-y: 100px;

		@include breakpoint (large only) {
			background-position-y: 85px;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			height: 212px;
			background-position-y: 135px;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			display: none;
		}//end small down breakpoint
	}//end .sl_wrapper
}//end default page

body.single {
	.sl_wrapper:before {
		@include breakpoint (small down) {
			height: 115px;
		}//end small down breakpoint
	}//end .sl_wrapper:before
	.sl_wrapper:after {
		@include breakpoint (small down) {
			display: none;
		}//end small down breakpoint
	}//end .sl_wrapper:after
}//end body.single

body.single-sl_locations_cpts, body.single-sl_webinars_cpts  {
	.sl_wrapper:before {
		@include breakpoint (small down) {
			height: 175px;
		}//end small down breakpoint
	}//end .sl_wrapper:before
}//end body.single-sl_locations_cpts

body.single-sl_staff_cpts {
	.sl_wrapper:before {
		@include breakpoint (small down) {
			height: 165px;
		}//end small down breakpoint
	}//end .sl_wrapper:before
}//end body.single-sl_locations_cpts

body.search {
	.sl_wrapper:before {
		@include breakpoint (medium down) {
			height: 350px;
		}//end medium down breakpoint
	}//end .sl_wrapper:before
	.sl_wrapper:after {
		@include breakpoint (medium down) {
			background-position-y: 250px;
			height: 350px;
		}//end medium down breakpoint
	}//end .sl_wrapper:after
}

//No Breadcrumbs Pages
body.single-sl_podcasts_cpts {
	.sl_wrapper:before {
		height: 275px;

		@include breakpoint (small down) {
			height: 140px;
		}//end small down breakpoint
	}//end .sl_wrapper:before

	.sl_wrapper:after {
		height: 275px;
		background-position-y: 158px;

		@include breakpoint (small down) {
			height: 140px;
			background-position-y: 100px;
		}//end small down breakpoint
	}//end .sl_wrapper:after
}//end no bredcrumbs pages


//Home Page
body.home {
	.sl_wrapper {
		&:before, &:after {
			display: none;
		}//end &:before, &:after
	}//end .sl_wrapper
}//end body.home

//Staff Page
body.page-id-18 {
	.sl_wrapper {
		&:after {
			@include breakpoint (medium only) {
				background-position-y: 200px
			}//end medium only breakpoint

			@include breakpoint (small down) {
				background-position-y: 150px;
			}//end small down breakpoint
		}//end &:after
	}//end .sl_wrapper
}//end body.page-id-18