.sl_header {
	@include inner;
	position: relative;
	z-index: 999;
	
	// LARGE HEADER //
	.sl_nav {
		background-color: transparent;
		position: relative;
		max-width: $grid-container;
		margin: 0 auto;
		padding: 0;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			width: 100%;
			max-width: 248px;

			@include breakpoint (large only) {
				max-width: 198px;
			}//end large only breakpoint

		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			@include breakpoint (large only) {
				padding-right: $spacing--sm;
			}//end large only breakpoint

			img {
				max-height: 50px;
			}
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			flex-direction: column;
			align-items: flex-end;
		}//end &__right

		&__menu {
			& > .sl_menu {
				background-color: transparent;
				position: static;
				

				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						color: get-color(inverse);
						padding: $spacing--xs $spacing--sm;
						@include transition (.2s all ease-in-out);
						font-size: 1.25rem;
						font-weight: $font-weight--medium;
						border-radius: $border-radius;
						position: relative;

						&:hover {
							background-color: get-color(accent2);
							@include transition (.2s all ease-in-out);
						}//end &:hover

						@include breakpoint (large only) {
							padding: $spacing--xs;
							font-size: 1.125rem;
						}//end large only breakpoint
					}//end & > a
					
					//Mega menu hover class
					&.hover {
						& > a {
							background-color: get-color(accent2);
							&:after {
						    	@include pseudo;
								width: 0; 
								height: 0; 
								border-left: 10px solid transparent;  /* left arrow slant */
								border-right: 10px solid transparent; /* right arrow slant */
								border-bottom: 10px solid get-color(inverse); /* bottom, add background color here */
								font-size: 0;
								line-height: 0;
								bottom: 0;
								right: calc(50% - 10px);
								z-index: 11;
						    }//end &:after
						}//end a 
					}//end .hover class
				}//end & > li
			}//end .sl_menu
		}//end &__menu


		// USER NAV
		&__secondary {
			display: flex;
			align-items: center;
			padding-bottom: $spacing--xs/2;
			background-color: get-color(inverse);
			border-radius: 0 0 $border-radius $border-radius;
			box-shadow: $shadow;
			padding: $spacing--xs/1.5 $spacing--md;
			margin-bottom: $spacing--xs;

			@include breakpoint (large only) {
				padding: $spacing--xs/1.5 $spacing--sm;
			}//end large only breakpoint
		}//end &__secondary

		// PHONE

		&__phone {
			margin-right: $spacing--md;

			@include breakpoint (large only) {
				margin-right: $spacing--sm;
			}//end large only breakpoint
			.sl_phone {
				&__number {
					font-weight: $font-weight--bold;
					font-size: rem-calc(25px);
				}//end &__number

				&__cta {
					font-size: rem-calc(15px);
					font-weight: $font-weight--regular;
				}//&__cta
			}//end .sl_phone
		}//end &__phone

		&__search {
			max-width: 150px;
			margin-right: $spacing--md;

			@include breakpoint (large only) {
				margin-right: $spacing--sm;
			}//end large only breakpoint
			 input {
			 	margin: 0;
			 }//end input
		}//end &__search

		&__usermenu {
			.sl_menu {
				background-color: transparent;
				& > li {
					margin-bottom: 0;
					& > a {
						background-color: transparent;
						border-radius: $border-radius;
						color: get-color(default);
						padding: $spacing--xs/2;
						position: relative;
						@include transition(all .3s ease-in-out);

						@include breakpoint (large only) {
							font-size: 1rem;
						}//end large only breakpoint

						&:hover {
							background-color: rgba(get-color(default), .1);
						}//end &:hover
					}//end & > a
				}//end & > li
			}//end .sl_menu
		}//end &__usermenu
	}//end .sl_nav

	// MOBILE HEADER
	.sl_mobilenav {
		background: none;
		padding: $spacing--md 0 0 0;
		align-items: center;

		&__left {
			flex: 0 0 100%;
			height: 100%;
			max-width: 180px;
		}//end &__left

		&__logo {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;

			img {
				max-height: 60px;
			}//end img
		}//end &__logo

		&__right {
			flex: 1 1 auto;
			display: flex;
			justify-content: flex-end;

		}//end &__right
	}//end .sl_mobilenav
}//end .sl_globalheader

//Makes sure the proper menu shows on the screen while js is loading
.no-js {
  @include breakpoint(medium down) {
    .sl_nav {
      display: none;
    }//end .sl_nav
  }//end breakpoint for medium down

  @include breakpoint(large) {
    .sl_mobilenav {
      display: none;
    }//end .sl_mobilenav
  }//end breakpoint for large
}//end .no-js