//MEGA MENU
.sl_megamenu {
	width: 100%;
	margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;
    @include container;
    border: none;
    padding: 0;
    overflow: hidden;

	// SECOND LEVEL MENU
    & > .sl_menu {
    	background: none;
    	padding: $spacing--lg;

    	@include breakpoint (xlarge only) {
    		padding: $spacing--lg $spacing--md;
    	}//end xlarge only breakpoint

    	@include breakpoint (large only) {
    		padding: $spacing--md $spacing--xs;
    	}//end large only breakpoint
    }//end .sl_menu

	.sl_menu > li {
		margin-bottom: 1rem;

		&.sl_cell {
			padding: 0 $spacing--sm;

			@include breakpoint (large only) {
				padding: 0 $spacing--xs/2;
			}//end large only breakpoint

		}//end &.sl_cell
		& > a {
			font-size: 1.25rem;
			font-weight: $font-weight--medium;
			color: get-color(default);
			position: relative;
			padding: 0;
			margin-bottom: $spacing--xs/2;
			background: none;

			@include breakpoint (large only) {
				font-size: 1.125rem;
			}//end large only breakpoint

			&:after {
				@include pseudo($display: inline-block, $content: '\f105', $pos: relative);
				font-family: FontAwesome;
				font-weight: $font-weight--bold;
				margin-left: $spacing--xs;
				width: 8px;
				margin-right: -24px;
				@include transition(all .2s ease-in-out);

				@include breakpoint (large only) {
					margin-left: $spacing--xs/2;
					margin-right: -16px;
				}//end large only breakpoint
			}//end &:after

			&:hover {
				&:after {
					transform: translateX(4px);
					@include transition(all .2s ease-in-out);
				}//end &:after;
			}//end &:hover;
		}//end a

		& > p {
			opacity: .6;
			max-width: 210px;
			font-size: 1rem;
			line-height: 1.25rem;
			margin-bottom: 0;

			@include breakpoint (large only) {
				font-size: rem-calc(15px);
			}//end large only breakpoint
		}//end p
		
		// THIRD LEVEL MENU
		& > .sl_menu {
			position: static;
			display: flex;
			background: none;
			border: none;

			& > li {
	    		margin-bottom: 1rem;
	    		& > a {
					font-size: 1.125rem;
					font-weight: $font-weight--regular;
					text-decoration: underline;
					color: get-color(default);
					position: relative;
					padding: 0;
					margin-bottom: 0;

					@include breakpoint (large only) {
						font-size: 1rem;
					}//end large only breakpoint

					&:after {
						display: none;
					}//end &:after
	    		}//end a
	    	}//end & > li
		}//end .sl_menu
	}//end .sl_menu > li
	
	// LOCATIONS MENU
	&--locations {
		padding: $spacing--md;

		@include breakpoint (xlarge only) {
			padding: $spacing--md $spacing--sm;
		}//end xlarge only breakpoint

		@include breakpoint (large only) {
			padding: $spacing--sm;
		}//end large only breakpoint

		& > .sl_menu.sl_row {
			background: none;

			&:first-of-type {
				border-bottom: 1px solid get-color(default-tint3);
			}//end &:first-of-type

			& > li.sl_cell {
				margin-bottom: 0;
				padding: 0 $spacing--md;

				@include breakpoint (xlarge only) {
					padding: 0 $spacing--sm;
				}//end xlarge only breakpoint

				@include breakpoint (large only) {
					padding: 0 $spacing--xs;
				}//end large only breakpoint

				&--california, &--georgia, &--tennessee {
					.sl_menu {
						flex-direction: row;
						flex-wrap: wrap;

						.sl_cell {
							&:nth-of-type(odd) {
								padding-right: $spacing--xs/2;

								@include breakpoint (large only) {
									padding: 0;
								}//end large only breakpoint
							}//end &:first-of-type;

							&:nth-of-type(even) {
								padding-left: $spacing--xs/2;

								@include breakpoint (large only) {
									padding: 0;
								}//end large only breakpoint
							}//end &:last-of-type
						}//end .sl_cell
					}//end .sl_menu
				}//end &--california, &--georgia, &--tennessee

				&--tennessee, &--michigan, &--illinois {
					padding-top: $spacing--md;

					@include breakpoint (large only) {
						padding-top: $spacing--sm;
					}//end large only breakpoint
				}//end &--tennessee, &--michigan, &--illinois

				&--california {
					order: 1;
					border-right: 1px solid get-color(default-tint3);
					padding-bottom: $spacing--md - $spacing--xs;

					@include breakpoint (large only) {
						padding-bottom: $spacing--sm - $spacing--xs;
						border-right: none;
						border-bottom: 1px solid get-color(default-tint3);
					}//end large only breakpoint
				}//end &--california

				&--georgia {
					order: 2;
					padding-bottom: $spacing--md - $spacing--xs;

					@include breakpoint (large only) {
						padding-top: $spacing--sm;
						padding-bottom: $spacing--sm - $spacing--xs;
					}//end large only breakpoint
				}//end &--georgia

				&--tennessee {
					order: 1;
					border-right: 1px solid get-color(default-tint3);
				}//end &--tennessee

				&--michigan {
					order: 2;
					border-right: 1px solid get-color(default-tint3);
				}//end &--tennessee

				&--illinois {
					order: 3;
				}//end &--illinois

				.sl_menu {
					.sl_cell {
						padding: 0;
					}//end .sl_cell

					a {
						text-decoration: none;
						font-weight: $font-weight--medium;

						@include breakpoint (large only) {
							font-size: 1rem;
						}//end large only breakpoint

						&:after {
							@include pseudo($display: inline-block, $content: '\f105', $pos: relative);
							font-family: FontAwesome;
							font-weight: $font-weight--bold;
							margin-left: $spacing--xs/2;
							width: 8px;
							margin-right: -16px;
						}//end &:after
					}//end a
				}//end .sl_menu
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end &--locations

    // TREATMENT MENU
	&--treatment {
		& > .sl_cell {
			& > .sl_menu {
				background: none;
				& > .sl_cell {
					padding: 0 $spacing--xs;

					a {
						@include breakpoint (xlarge only) {
							font-size: 1.125rem;
						}//end xlarge only breakpoint
					}//end a
				}//end & > .sl_cell
			}//end & > .sl_menu
		}//end & > .sl_cell

		.sl_megamenu__left {
			background-color: get-color(inverse-tint1);
			padding: $spacing--lg $spacing--xs;

			@include breakpoint (large only) {
    			padding: $spacing--md 0;
    		}//end large only breakpoint

    		& > .sl_menu {
				& > .sl_cell {
					margin-bottom: 0;
					a {
						margin-bottom: 0;

						&:after {
							display: none;
						}//end &:after
					}//end a
					span {
						display: inline-block;
						margin-bottom: $spacing--xs;

						@include breakpoint (large only) {
							font-size: $font-size--regular;
						}//end large only breakpoint

						&:after {
							@include pseudo($display: inline-block, $content: '\f105', $pos: relative);
							font-family: FontAwesome;
							font-weight: $font-weight--bold;
							margin-left: $spacing--xs/2;
							width: 8px;
							margin-right: -16px;
						}//end &:after
					}//end span

					img {
						border-radius: $border-radius;
						width: 100%;
						height: auto;
					}//end img
				}//end & > .sl_cell
			}//end & > .sl_menu
		}//end .sl_megamenu__left

		.sl_megamenu__right {
			padding: $spacing--lg $spacing--xs;

			@include breakpoint (large only) {
	    		padding: $spacing--md 0;

	    		.sl_menu {

					a {
						font-size: $font-size--regular;
					}//end a
				}//end .sl_menu
	    	}//end large only breakpoint
		}//end .sl_megamenu__right

	}//end &--treatment
}//end .sl_megamenu