//Default Page Template
body.page-template-default {
	.sl_content {
		&__body {
			.sl_inner {
				& > .sl_row {
					& > .sl_cell {
						&:first-of-type {
							padding-right: $spacing--xl;
							padding-bottom: $spacing--xxl;

							@include breakpoint (large only) {
								padding-right: $spacing--lg;
								padding-bottom: $spacing--xl;
							}//end large only breakpoint

							@include breakpoint (medium down) {
								padding-right: 0;
								padding-bottom: $spacing--lg
							}//end medium down breakpoint

							@include breakpoint (small down) {
								padding-bottom: $spacing--md;
							}//end small down breakpoint
						}//end &:first-of-type

						.sl_main {
							iframe {
								margin-bottom: $spacing--sm;
							}//end iframe
							
							& > :last-child {
								margin-bottom: 0;
							}//end & > :last-child

							.sl_button {
								@include breakpoint (small down) {
									margin-bottom: $spacing--sm;
								}//end small down breakpoint
							}//end .sl_button
						}//end .sl_main
					}//end & > sl_cell
				}//end .sl_row
			}//end .sl_inner
		}//end &--body
	}//end .sl_content
}//end body.default

//Default Page Template
body.page-template-template-nosidebar {
	.sl_content {
		&__body {
			padding-right: $spacing--xl;
			padding-bottom: $spacing--xxl;

			@include breakpoint (large only) {
				padding-right: $spacing--lg;
				padding-bottom: $spacing--xl;
			}//end large only breakpoint

			@include breakpoint (medium down) {
				padding-right: 0;
				padding-bottom: $spacing--lg
			}//end medium down breakpoint

			@include breakpoint (small down) {
				padding-bottom: $spacing--md;
			}//end small down breakpoint
		}//end &__body
	}//end .sl_content
}//end body.default
