body.search {
	.sl_content {
		&__body {
			padding: $spacing--xxl 0;

			@include breakpoint (medium only) {
				padding: $spacing--lg 0;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--md 0;
			}//end small down breakpoint
		}//end &__body

		&__sidebar {
			padding-left: $spacing--xl;

			@include breakpoint (xlarge only) {
				padding-left: $spacing--lg;
			}//end xlarge only breakpoint

			@include breakpoint (large only) {
				padding-left: $spacing--sm;
			}//end large only breakpoint
		}//end &__sidebar

		&__loop {
			& > .sl_cell {
				margin-bottom: $spacing--sm;
				&:nth-of-type(even) {
					padding-left: $spacing--sm/2;
				}//end &:nth-of-type(even)

				&:nth-of-type(odd) {
					padding-right: $spacing--sm/2;
				}//end &:nth-of-type(odd)
			}//end & > .sl_cell

			.sl_card {
				&__image {
					min-height: 175px;
				}//end &__image
				&__content {
					.sl_article__title {
						margin-bottom: $spacing--xs;
					}//end .sl_article__title
				}//end &__content
			}//end .sl_card
		}//end &__loop
	}// .sl_content

	.sl_post {
		display: block;
		margin-bottom: $spacing--md;

		&:last-of-type {
			margin-bottom: 0;
		}//end &:last-of-type

		&__title {
			margin-bottom: $spacing--xs;
			&:after {
				content:'';
				height: 13px;
				margin-left: $spacing--xs;
				width: 13px;
				margin-right: rem-calc(-13px) - $spacing--xs;
				display: inline-block;
				background-image: url(#{$path-img}icon/blue-arrow-right.svg);
				background-repeat: no-repeat;
				background-size: contain;
			}//end &:after
		}//end &__title
	}//end .sl_post

	.sl_pagination {
		padding-top: $spacing--xxl;

		@include breakpoint (medium only) {
			padding-top: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: $spacing--md;
		}//end small down breakpoint
	}//end .sl_pagination
}//end body.search

//clears the 'X' from IE
input[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

//clears the 'X' from Chrome
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
