.sl_sidebar {

	&__container {
		border-radius: $border-radius;
		@include border ($color: get-color(default-tint3));
		padding: $spacing--md;
	}//end &__container

	&__menu {
		@extend .sl_list--arrow;
	}//end &__menu

	&__title {
		border-bottom: 1px solid get-color(default-tint3);
		padding-bottom: $spacing--sm;
		margin-bottom: $spacing--sm;
	}//end &__title

	.sl_accordion {
		&--categories {
			background: none;
			padding: 0 0 $spacing--md 0;
			border-radius: 0;
			margin-bottom: $spacing--md;
			border-bottom: 1px solid get-color(default-tint3);
		}//end &--categories

		&__item {
			background-color: get-color(default);
			color: get-color(inverse);

			&.is-active {
				.sl_accordion__title {
					color: get-color(inverse);
					font-weight: $font-weight--regular;

					&:before {
						background-image: url(#{$path-img}/icon/accordion-up-inverse.svg);
					}//end &:before
				}//end .sl_accordion__title
			}//end &.is-active
		}//end &__item

		&__title {
			color: get-color(inverse);

			&:hover, &:focus {
				color: get-color(inverse);
			}//end &:hover, &:focus

			&:before {
				background-image: url(#{$path-img}/icon/accordion-down-inverse.svg);
				background-size: 18px 18px;
				width: 18px;
				height: 18px;
				opacity: 1;
				top: 50%;
			}//end &:before
		}//end &__title

		&__content {
			background-color: get-color(default);
			ul {
				list-style: none;
				margin: 0;

				li:last-of-type {
					margin-bottom: 0;
				}//end li

				a {
					color: get-color(inverse);
					display: block;
				}//end a
			}//end ul
		}//end &__content
	}//end .sl_accordion
}//end .sl_sidebar

//CATEGORY ARCHIVE SIDEBAR
body.archive {
	.sl_sidebar {
		&__container {
			border-radius: 0;
			border: none;
			padding: 0;
		}//end &__container

		.sl_search {
			margin-bottom: $spacing--md;
		}//end .sl_search

		&__articles {
			padding-bottom: $spacing--md;
			border-bottom: 1px solid get-color(default-tint3);
			margin-bottom: $spacing--md;
		}//end &__articles

		.sl_card--article {
			&--md {
				margin-bottom: $spacing--md;
			}//&--md

			&--sm {
				&:not(:last-of-type) {
					margin-bottom: $spacing--xs;
				}//end &:not(:last-of-type)
			}//end &--sm
		}//end .sl_card--article

		&__ad {
			display: block;
		}//end &__ad
	}//end .sl_sidebar
}//end body.category

//PODCAST SIDEBAR
body.single-sl_podcasts_cpts, body.tax-podcast-category {
	.sl_sidebar {
		&__container {
			border-radius: 0;
			border: none;
			padding: 0 0 0 $spacing--xxl;

			@include breakpoint (xlarge only) {
				padding-left: $spacing--lg;
			}//end xlarge only breakpoint

			@include breakpoint (large only) {
				padding-left: $spacing--sm;
			}//end large only breakpoint
		}//end &__container

		.sl_podcast {
			&__logo {
				margin-bottom: $spacing--md;
			}//end &__logo

			&__recent {
				position: relative;

				@include breakpoint (xlarge only) {
					.sl_button--hollow {
						padding: $spacing--xs/2 $spacing--xs;
					}//end .sl_button--hollow
				}//end xlarge only breakpoint

				@include breakpoint (large only) {
					h3 {
						font-size: 1.5rem;
					}//end h3

					.sl_button--hollow {
						padding: $spacing--xs/2 $spacing--xs;
					}//end .sl_button--hollow
				}//end large only breakpoint
				.sl_cell {
					&:not(:last-of-type) {
						margin-bottom: $spacing--xs;
					}//end &:not(:last-of-type)
				}//end .sl_cell

				.sl_button--hollow {
					position: absolute;
					right: 0;
					top: 0;
				}//end .sl_button--hollow
			}//end &__recent
		}//end .sl_podcast
	}//end .sl_sidebar
}//end &--podcast

body.tax-podcast-category {
	.sl_sidebar {
		&__container {
			padding: 0;

			@include breakpoint (large only) {
				padding-left: 0;
			}//end large only breakpoint
		}//end &__container

		.sl_podcast {
			&__recent {
				@include breakpoint (xlarge only) {
					h3 {
						font-size: 1.5rem;
					}//end h3

					.sl_button--hollow {
						padding: $spacing--xs/2 $spacing--xs;
					}//end .sl_button--hollow
				}//end xlarge only breakpoint
			}//end &__recent
		}//end .sl_podcast
	}//end .sl_sidebar
}//end .tax-podcast-category

//SEARCH SIDEBAR
body.search {
	.sl_sidebar {
		&__title {
			padding-bottom: $spacing--sm;
		}//rnf &__title

		.sl_list--arrow {
			margin-bottom: 0;
		}//end .sl_list--arrow
	}//end .sl_sidebar
}//end body.search