@charset "UTF-8";

/* CSS Document */

/***SVG ANIMATIONS***/
/***icon hovers ***/
svg#physical-icon  {
    -webkit-transition: all 1.5s cubic-bezier(.59,-0.26,.33,1.5);
    transition: all 1.5s cubic-bezier(.59,-0.26,.33,1.5);
	
}

svg#physical-icon:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;

}
#eyebrows {
	-webkit-transition: all 1s cubic-bezier(.59,-0.26,.33,1.5);
	transition: all 1s cubic-bezier(.59,-0.26,.33,1.5);
}

svg#emotion-icon:hover #eyebrows{
  -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
      transform: translateY(-10px);
  
}


/* ------------------------
Start of Mental Icon SVG
---------------------------- */
.brain {
	fill:#FFFFFF;
	-webkit-transition: fill 1s ;
	transition: fill 1s ;
}

svg#mental-icon:hover .brain{
    fill: #fff200;
}

/* ----------------------------
Start of Spiritual Icon SVG
----------------------------- */
svg#spiritual-icon:hover #spiritual-person{
    -webkit-animation: float 1s infinite;
            animation: float 1s infinite;
}

@-webkit-keyframes float {
    0%   { -webkit-transform: translateY(0px); transform: translateY(0px); }
    50% { -webkit-transform: translateY(-10px); transform: translateY(-10px);}
	100% { -webkit-transform: translateY(0px); transform: translateY(0px);}
}

@keyframes float {
    0%   { -webkit-transform: translateY(0px); transform: translateY(0px); }
    50% { -webkit-transform: translateY(-10px); transform: translateY(-10px);}
	100% { -webkit-transform: translateY(0px); transform: translateY(0px);}
}





/* ---------------------------
Start of Gear Spinning SVG 
------------------------------*/

#head {
  bottom: -40px;
  height: auto;
  left: 15%;
  max-width: 400px;
  position: absolute;
  width: 100%;
  z-index: 1;
}

#gear-one {
	
	-webkit-animation-name: ckw;
	
	        animation-name: ckw;
    -webkit-animation-duration: 25s;
            animation-duration: 25s;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-play-state: running;
            animation-play-state: running;
			
			
			
			
}

#gear-one {
  height: auto;
  max-width: 230px;
  position: absolute;
  right: -3.5%;
  top: 33%;
  width: 100%;
  z-index: 10;
}

#gear-two {
	
	-webkit-animation-name: ckw;
	
	        animation-name: ckw;
    -webkit-animation-duration: 15s;
            animation-duration: 15s;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-transform-origin: center center;
        -ms-transform-origin: center center;
            transform-origin: center center;
	-webkit-animation-play-state: running;
	        animation-play-state: running; 
			
}
#gear-two {
  height: auto;
  max-width: 120px;
  position: absolute;
  right: -3%;
  top: 10%;
  width: 100%;
  z-index: 10;
}

#gear-three {
	
	-webkit-animation-name: ckw;
	        animation-name: ckw;
    -webkit-animation-duration: 12s;
            animation-duration: 12s;
	-webkit-animation-timing-function: linear;
	        animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
	
	-webkit-animation-play-state: running; 
	        animation-play-state: running; 
			
}

#gear-three {	
			max-width: 169px;
			width: 100%; 
			height: auto;
			position: absolute;
			right: 22%;
			top: 0;
			z-index: 10;}


@-webkit-keyframes ckw {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@keyframes ckw {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

/**----poker chip ---**/
#pokerchip {
    -webkit-transition: all 2s cubic-bezier(.59,-0.26,.33,1.5);
    transition: all 2s cubic-bezier(.59,-0.26,.33,1.5);
    cursor: pointer;
}
svg#pokerchip:hover {
    -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
            transform: rotate(360deg);
}
.chip {
	fill:#57AA43;
}

/* -----------------------------
Process Addiction Animation
------------------------------- */
.xbox {
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.xbox-glow {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.xbox.reveal {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.xbox-glow.reveal{
	visibility: visible;
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.book {
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.book-glow {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.book.reveal {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.book-glow.reveal {
	visibility: visible;
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.measuring-tape {
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.tape-glow {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.measuring-tape.reveal {
	-webkit-transform: scale(1.1);
	    -ms-transform: scale(1.1);
	        transform: scale(1.1);
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.tape-glow.reveal {
	visibility: visible;
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.gambling {
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.gambling-glow {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.gambling.reveal {
	-webkit-transform: scale(1.05);
	    -ms-transform: scale(1.05);
	        transform: scale(1.05);
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.gambling-glow.reveal {
	visibility: visible;
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.computer {
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.computer-glow {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.computer.reveal {
	-webkit-transform: scale(1.02);
	    -ms-transform: scale(1.02);
	        transform: scale(1.02);
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

.computer-glow.reveal {
	visibility: visible;
	opacity: 1;
	-webkit-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}




/* -----------------------------
Scale Animation
------------------------------- */
#bar{
    -webkit-animation: tilt 5s infinite;
    -moz-animation: tilt 5s infinite;
	-webkit-transform-origin: center center;
	    -ms-transform-origin: center center;
	        transform-origin: center center;
}

@-webkit-keyframes tilt {
    0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    25% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
	75% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg);}
	100% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
}

@keyframes tilt {
    0%   { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    25% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
	75% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg);}
	100% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}
}

.left-scale {
	fill:#3A5675;
	cursor: pointer;
	-webkit-transition: fill .2s ease-in-out;
	transition: fill .2s ease-in-out;
}

.right-scale {
	fill:#3A5675;
	cursor: pointer;
	-webkit-transition: fill .2s ease-in-out;
	transition: fill .2s ease-in-out;
}

.left-scale:hover {
	fill:#D77045;
}

.right-scale:hover{
	fill:#D77045;
}


/* -----------------------------
Start of Outpatient-Icon SVG
------------------------------- */

#arrow-left {
	-webkit-animation: arrow-left 2s infinite;
	        animation: arrow-left 2s infinite;
}

#arrow-right {
	-webkit-animation: arrow-right 2s infinite;
	        animation: arrow-right 2s infinite;
}
#arrow-down {
	-webkit-animation: arrow-down 2s infinite;
	        animation: arrow-down 2s infinite;
}

@-webkit-keyframes arrow-left {
	0% {-webkit-transform: translateX(0px);transform: translateX(0px);
	}
	50% {-webkit-transform: translateX(-10px);transform: translateX(-10px);
	}
	100% {-webkit-transform: translateX(0px);transform: translateX(0px);
	}
}

@keyframes arrow-left {
	0% {-webkit-transform: translateX(0px);transform: translateX(0px);
	}
	50% {-webkit-transform: translateX(-10px);transform: translateX(-10px);
	}
	100% {-webkit-transform: translateX(0px);transform: translateX(0px);
	}
}


@-webkit-keyframes arrow-right {
	0% { -webkit-transform: translateX(0px); transform: translateX(0px);
	}
	50% { -webkit-transform: translateX(10px); transform: translateX(10px);
	}
	100% {-webkit-transform: translateX(0px);transform: translateX(0px);
	}
}


@keyframes arrow-right {
	0% { -webkit-transform: translateX(0px); transform: translateX(0px);
	}
	50% { -webkit-transform: translateX(10px); transform: translateX(10px);
	}
	100% {-webkit-transform: translateX(0px);transform: translateX(0px);
	}
}



@-webkit-keyframes arrow-down {
	0% { -webkit-transform: translateY(0px); transform: translateY(0px);
	}
	50% { -webkit-transform: translateY(-10px); transform: translateY(-10px);
	}
	100% { -webkit-transform: translateY(0px); transform: translateY(0px);
	}
}



@keyframes arrow-down {
	0% { -webkit-transform: translateY(0px); transform: translateY(0px);
	}
	50% { -webkit-transform: translateY(-10px); transform: translateY(-10px);
	}
	100% { -webkit-transform: translateY(0px); transform: translateY(0px);
	}
}
/* ---------------------------------
Start of Plane-Animation SVG
------------------------------------*/
#plane-blue {
    -webkit-transform: translateX(-300px);
    -ms-transform: translateX(-300px);
        transform: translateX(-300px);
    -webkit-transition: all 1s cubic-bezier(.59,-0.26,.33,1.2);
    transition: all 1s cubic-bezier(.59,-0.26,.33,1.2);
}

.plane-animation:hover #plane-blue {
	-webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
	    transform: translateX(-30px);
}

#plane-orange {
    -webkit-transform: translateX(-600px);
    -ms-transform: translateX(-600px);
        transform: translateX(-600px);
    -webkit-transition: all 1s cubic-bezier(.59,-0.26,.33,1.2);
    transition: all 1s cubic-bezier(.59,-0.26,.33,1.2);
}

.plane-animation:hover #plane-orange {
	-webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
	    transform: translateX(-30px);
}

#plane-blue-two {
    -webkit-transform: translateX(-400px);
    -ms-transform: translateX(-400px);
        transform: translateX(-400px);
    -webkit-transition: all 1s cubic-bezier(.59,-0.26,.33,1.2);
    transition: all 1s cubic-bezier(.59,-0.26,.33,1.2);
}

.plane-animation:hover #plane-blue-two {
	-webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
	    transform: translateX(-30px);
}

#plane-orange-two {
    -webkit-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
        transform: translateX(-500px);
    -webkit-transition: all 1s cubic-bezier(.59,-0.26,.33,1.2);
    transition: all 1s cubic-bezier(.59,-0.26,.33,1.2);
}

.plane-animation:hover #plane-orange-two {
	-webkit-transform: translateX(-30px);
    -ms-transform: translateX(-30px);
	    transform: translateX(-30px);
}

/*=== clock animation ====*/
#second-hand {
	
	-webkit-animation: time 5s infinite linear;
	
	        animation: time 5s infinite linear;
-webkit-transform-origin: bottom 51.5% !important;
	    -ms-transform-origin: center center;
			transform-origin: top center;
			-moz-transform-origin: center 52% !important;
}

#minute-hand {
	
	-webkit-animation: time 15s infinite linear;
	
	        animation: time 15s infinite linear;
	-webkit-transform-origin: bottom 51.5% !important;
	    -ms-transform-origin: center center;
			transform-origin: bottom center;
			-moz-transform-origin: center 52% !important;
}

#hour-hand {
	-webkit-animation: time 100s infinite linear;
	        animation: time 100s infinite linear;
	-webkit-transform-origin: bottom 51.5% !important;
	    -ms-transform-origin: center center;
	    	-moz-transform-origin: center 52% !important;
			transform-origin: left center;
	
}

@-webkit-keyframes time {
    to {
	-webkit-transform: rotate(360deg);
	        transform: rotate(360deg);
  }
}

@keyframes time {
    to {
	-webkit-transform: rotate(360deg);
	        transform: rotate(360deg);
  }
}

/**======Pig Animation=======**/
.coin {
-webkit-transition: all .8s cubic-bezier(.59,-0.26,.33,1.5);
transition: all .8s cubic-bezier(.59,-0.26,.33,1.5);
cursor: pointer;
}

.coin.enter {
	-webkit-transform: translateY(100px);
	    -ms-transform: translateY(100px);
	        transform: translateY(100px);
}

/**======Phone Animation=======**/
#phone {
	-webkit-animation: phone-ring 1s infinite linear;
	        animation: phone-ring 1s infinite linear;
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
}

#phone-body {
	-webkit-animation: phone-move 1s infinite linear;
	        animation: phone-move 1s infinite linear;
}

@-webkit-keyframes phone-ring {
	0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
	25% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
	50% {-webkit-transform: translateY(-30px);transform: translateY(-30px);}
	75% {-webkit-transform: rotate(-5deg);transform: rotate(-5deg)}
	100% {-webkit-transform: translateY(0px);transform: translateY(0px);}

}

@keyframes phone-ring {
	0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
	25% {-webkit-transform: rotate(5deg);transform: rotate(5deg);}
	50% {-webkit-transform: translateY(-30px);transform: translateY(-30px);}
	75% {-webkit-transform: rotate(-5deg);transform: rotate(-5deg)}
	100% {-webkit-transform: translateY(0px);transform: translateY(0px);}

}

@-webkit-keyframes phone-move {
	0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
	50% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
	100% {-webkit-transform: translateY(0px);transform: translateY(0px);}

}

@keyframes phone-move {
	0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
	50% {-webkit-transform: translateY(-10px);transform: translateY(-10px);}
	100% {-webkit-transform: translateY(0px);transform: translateY(0px);}

}

/**======Envelope Animation=======**/
#notes {
	-webkit-transition: all 1s cubic-bezier(.59,-0.26,.33,1.8);
	transition: all 1s cubic-bezier(.59,-0.26,.33,1.8);
}

#envelope-animation:hover #notes {
	-webkit-transform: translateY(30px);
	-ms-transform: translateY(30px);
	    transform: translateY(30px);
}

/**======Systemic Animation=======**/
svg#systemic-icon  {
    -webkit-transition: all 1.5s cubic-bezier(.59,-0.26,.33,1.5);
    transition: all 1.5s cubic-bezier(.59,-0.26,.33,1.5);
	
}

svg#systemic-icon:hover {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
        transform: rotate(360deg);
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;

}

/**======Family Animation=======**/
#heart {
	-webkit-transition: all 1s cubic-bezier(.59,-0.26,.33,1.8);
	transition: all 1s cubic-bezier(.59,-0.26,.33,1.8);
	-webkit-transform-origin: 50% 50%;
	-ms-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
}

#family-icon:hover #heart{
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}

/**====== Puzzle Animation=======**/

#puzzle-one {
	fill: #D77045;
	-webkit-transform: translate(125px,-155px);
	-ms-transform: translate(125px,-155px);
	    transform: translate(125px,-155px);
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;}
#puzzle-one.place {
	-webkit-transform: translate(0,-0);
	-ms-transform: translate(0,-0);
	    transform: translate(0,-0);
	fill: #3A5675;}
#puzzle-one:hover {
	stroke: #994B36;
	stroke-width: 3px;
}
#puzzle-one.place:hover {
	stroke: #253849;
	stroke-width: 3px;
}

#puzzle-two {
	fill: #D77045;
	-webkit-transform: translate(-70px,-190px);
	-ms-transform: translate(-70px,-190px);
	    transform: translate(-70px,-190px);
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;}
#puzzle-two.place {
	-webkit-transform: translate(0,-0);
	-ms-transform: translate(0,-0);
	    transform: translate(0,-0);
	fill: #3A5675;}
#puzzle-two:hover {
	stroke: #994B36;
	stroke-width: 3px;
}
#puzzle-two.place:hover {
	stroke: #253849;
	stroke-width: 3px;
}


#puzzle-three {
	fill: #D77045;
	-webkit-transform: translate(115px,-100px);
	-ms-transform: translate(115px,-100px);
	    transform: translate(115px,-100px);
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;}
#puzzle-three.place {
	-webkit-transform: translate(0,-0);
	-ms-transform: translate(0,-0);
	    transform: translate(0,-0);
	fill: #3A5675;}
#puzzle-three:hover {
	stroke: #994B36;
	stroke-width: 3px;
}
#puzzle-three.place:hover {
	stroke: #253849;
	stroke-width: 3px;
}


#puzzle-four {
	fill:#D77045;
	-webkit-transform: translate(-10px,-210px);
	-ms-transform: translate(-10px,-210px);
	    transform: translate(-10px,-210px);
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;}
#puzzle-four.place {
	-webkit-transform: translate(0,-0);
	-ms-transform: translate(0,-0);
	    transform: translate(0,-0);
	fill: #3A5675;}
#puzzle-four:hover {
	stroke: #994B36;
	stroke-width: 3px;
}
#puzzle-four.place:hover {
	stroke: #253849;
	stroke-width: 3px;
}


#puzzle-five {
	fill: #D77045;
	-webkit-transform: translate(70px,-160px);
	-ms-transform: translate(70px,-160px);
	    transform: translate(70px,-160px);
	cursor: pointer;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;}
#puzzle-five.place {
	-webkit-transform: translate(0,-0);
	-ms-transform: translate(0,-0);
	    transform: translate(0,-0);
	fill: #3A5675;}
#puzzle-five:hover {
	stroke: #994B36;
	stroke-width: 3px;
}
#puzzle-five.place:hover {
	stroke: #253849;
	stroke-width: 3px;
}

#person-standing {
	fill:#D77045;
	
}

#person-standing.animate {
	-webkit-animation: personmove 3s ease-in-out 1s 1 forwards;
	        animation: personmove 3s ease-in-out 1s 1 forwards;
}

@-webkit-keyframes personmove {
	15% {-webkit-transform: translateX(120px);transform: translateX(120px); opacity: .3;}
	20% {-webkit-transform: translate(130px,28px);transform: translate(130px,28px); opacity: .3;}
	70% {-webkit-transform: translate(474px,28px);transform: translate(474px,28px); opacity: .3;}
	80% {-webkit-transform: translate(493px,-1px);transform: translate(493px,-1px); opacity: .3;}
	85% {-webkit-transform: translate(541px,-39px);transform: translate(541px,-39px); opacity:.3;}
	100% {-webkit-transform: translate(681px,-39px);transform: translate(681px,-39px); opacity: 1;}
}

@keyframes personmove {
	15% {-webkit-transform: translateX(120px);transform: translateX(120px); opacity: .3;}
	20% {-webkit-transform: translate(130px,28px);transform: translate(130px,28px); opacity: .3;}
	70% {-webkit-transform: translate(474px,28px);transform: translate(474px,28px); opacity: .3;}
	80% {-webkit-transform: translate(493px,-1px);transform: translate(493px,-1px); opacity: .3;}
	85% {-webkit-transform: translate(541px,-39px);transform: translate(541px,-39px); opacity:.3;}
	100% {-webkit-transform: translate(681px,-39px);transform: translate(681px,-39px); opacity: 1;}
}


/**====== Running Animation=======**/

#cloud-one{
	-webkit-animation: cloud-one 10s linear infinite;
	        animation: cloud-one 10s linear infinite;
}

#cloud-two{
	-webkit-animation: cloud-two 12s linear infinite;
	        animation: cloud-two 12s linear infinite;

}

#cloud-three{
	-webkit-animation: cloud-three 9s linear infinite;
	        animation: cloud-three 9s linear infinite;
}

#tree-one{
	-webkit-animation: tree-one 5s linear infinite;
	        animation: tree-one 5s linear infinite;
}

#tree-two{
	-webkit-animation: tree-two 5s linear infinite 2.5s;
	        animation: tree-two 5s linear infinite 2.5s;
	-webkit-transform: translateX(583px);
	-ms-transform: translateX(583px);
	    transform: translateX(583px);
}

/**.line-one{
	animation: lineone 5s linear infinite;
}

.line-two{
	-webkit-transform: translateX(987px);
	transform: translateX(987px);
	animation: linetwo 5s linear infinite 1.5s;
}

.line-three{
	-webkit-transform: translateX(300px);
	transform: translateX(300px);
	animation: linethree 5s linear infinite 3.5s;
}**/

@keyframes cloud-three {
	0% {-webkit-transform: translateX(394px);transform: translateX(394px);}
	100% {-webkit-transform: translateX(-1585px);transform: translateX(-1585px);}
}

@keyframes cloud-two {
	0% {-webkit-transform: translateX(883px);transform: translateX(883px);}
	100% {-webkit-transform: translateX(-967px);transform: translateX(-967px);}
}

@keyframes cloud-one {
	0% {-webkit-transform: translateX(1571px);transform: translateX(1571px);}
	100% {-webkit-transform: translateX(-447px);transform: translateX(-447px);}
}

@keyframes tree-one {
	0% {-webkit-transform: translateX(1273px);transform: translateX(1273px);}
	100% {-webkit-transform: translateX(-697px);transform: translateX(-697px);}
}

@keyframes tree-two {
	0% {-webkit-transform: translateX(583px);transform: translateX(583px);}
	100% {-webkit-transform: translateX(-1386px);transform: translateX(-1386px);}
}

@-webkit-keyframes lineone {
	0% {-webkit-transform: translateX(1479px);transform: translateX(1479px);}
	100% {-webkit-transform: translateX(-385px);transform: translateX(-385px);}
}

@keyframes lineone {
	0% {-webkit-transform: translateX(1479px);transform: translateX(1479px);}
	100% {-webkit-transform: translateX(-385px);transform: translateX(-385px);}
}

@-webkit-keyframes linetwo {
	0% {-webkit-transform: translateX(987px);transform: translateX(987px);}
	100% {-webkit-transform: translateX(-1143px);transform: translateX(-1143px);}
}

@keyframes linetwo {
	0% {-webkit-transform: translateX(987px);transform: translateX(987px);}
	100% {-webkit-transform: translateX(-1143px);transform: translateX(-1143px);}
}

@-webkit-keyframes linethree {
	0% {-webkit-transform: translateX(300px);transform: translateX(300px);}
	100% {-webkit-transform: translateX(-1495px);transform: translateX(-1495px);}
}

@keyframes linethree {
	0% {-webkit-transform: translateX(300px);transform: translateX(300px);}
	100% {-webkit-transform: translateX(-1495px);transform: translateX(-1495px);}
}

@-webkit-keyframes cloud-three {
	0% {-webkit-transform: translateX(394px);}
	100% {-webkit-transform: translateX(-1585px);}
}

@-webkit-keyframes cloud-two {
	0% {-webkit-transform: translateX(883px);}
	100% {-webkit-transform: translateX(-967px);}
}

@-webkit-keyframes cloud-one {
	0% {-webkit-transform: translateX(1571px);}
	100% {-webkit-transform: translateX(-447px);}
}

@-webkit-keyframes tree-one {
	0% {-webkit-transform: translateX(1273px);}
	100% {-webkit-transform: translateX(-697px);}
}

@-webkit-keyframes tree-two {
	0% {-webkit-transform: translateX(583px);}
	100% {-webkit-transform: translateX(-1386px);}
}

/**@-webkit-keyframes lineone {
	0% {-webkit-transform: translateX(1479px);}
	100% {-webkit-transform: translateX(-385px);}
}

@-webkit-keyframes linetwo {
	0% {-webkit-transform: translateX(987px);}
	100% {-webkit-transform: translateX(-1143px);}
}

@-webkit-keyframes linethree {
	0% {-webkit-transform: translateX(300px);}
	100% {-webkit-transform: translateX(-1495px);}
}**/

.running-head{
	fill:#3A5675;
	-webkit-animation: headbounce .4s linear infinite;
	        animation: headbounce .4s linear infinite;	
}

.running-body{
	fill:#3A5675;
	-webkit-animation: bodybounce .3s linear infinite;
	        animation: bodybounce .3s linear infinite;
}


#right-arm{
	fill:#3A5675;
	-webkit-animation: rightarm .8s linear infinite;
	        animation: rightarm .8s linear infinite;
	-webkit-transform-origin: right top;
	-ms-transform-origin: right top;
	    transform-origin: right top;
	    -moz-transform-origin: 48.5% 44.5%;
}


#left-arm{
	fill:#3A5675;
	-webkit-animation: leftarm .8s linear infinite;
	        animation: leftarm .8s linear infinite;
	-webkit-transform-origin: left top;
	-ms-transform-origin: left top;
	    transform-origin: left top;
	    -moz-transform-origin: 49.5% 45.5%;
}


#right-leg{
	-webkit-transform-origin: top right;fill:#3A5675;
	-ms-transform-origin: top right;
	    transform-origin: top right;
	-webkit-animation: rightleg .8s linear infinite;
	        animation: rightleg .8s linear infinite;
	        -moz-transform-origin: 48.5% 60.5%;
}


#left-leg{
	fill:#3A5675;
	-webkit-animation: leftleg .8s linear infinite;
	        animation: leftleg .8s linear infinite;
	-webkit-transform-origin: top left;
	-ms-transform-origin: top left;
	    transform-origin: top left;
	    -moz-transform-origin: 49.5% 60.5%;
}

@keyframes headbounce {
	0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
	50% {-webkit-transform: translateY(4px);transform: translateY(4px);}
	100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}

@-webkit-keyframes bodybounce {
	0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
	50% {-webkit-transform: translateY(-2px);transform: translateY(-2px);}
	100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}

@keyframes bodybounce {
	0% {-webkit-transform: translateY(0px);transform: translateY(0px);}
	50% {-webkit-transform: translateY(-2px);transform: translateY(-2px);}
	100% {-webkit-transform: translateY(0px);transform: translateY(0px);}
}

@keyframes rightarm {
	0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	50% {-webkit-transform:rotate(-107deg);transform:rotate(-107deg);}
	100% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}

@keyframes leftarm {
	0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	50% {-webkit-transform:rotate(107deg);transform:rotate(107deg);}
	100% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}

@keyframes leftleg {
	0% {-webkit-transform:rotate(-20deg);transform:rotate(-20deg);}
	50% {-webkit-transform:rotate(90deg);transform:rotate(90deg);}
	100% {-webkit-transform:rotate(-20deg);transform:rotate(-20deg);}
}

@keyframes rightleg {
	0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
	50% {-webkit-transform:rotate(-100deg);transform:rotate(-100deg);}
	100% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}
}

@-webkit-keyframes headbounce {
	0% {-webkit-transform: translateY(0px);}
	50% {-webkit-transform: translateY(5px);}
	100% {-webkit-transform: translateY(0px);}
}

@-webkit-keyframes rightarm {
	0% {-webkit-transform:rotate(0deg);}
	50% {-webkit-transform:rotate(-107deg);}
	100% {-webkit-transform:rotate(0deg);}
}

@-webkit-keyframes leftarm {
	0% {-webkit-transform:rotate(0deg);}
	50% {-webkit-transform:rotate(107deg);}
	100% {-webkit-transform:rotate(0deg);}
}

@-webkit-keyframes leftleg {
	0% {-webkit-transform:rotate(-20deg);}
	50% {-webkit-transform:rotate(90deg);}
	100% {-webkit-transform:rotate(-20deg);}
}

@-webkit-keyframes rightleg {
	0% {-webkit-transform:rotate(0deg);}
	50% {-webkit-transform:rotate(-100deg);}
	100% {-webkit-transform:rotate(0deg);}
}

/**======Path Animation=======**/

#path-one, #path-two, #path-three, #path-four, #path-five, #path-six, #path-seven, #path-eight, #path-nine, #path-ten, #path-eleven, #path-twelve {
	fill:#D77045;
	-webkit-transform-origin: 50% 50%;
	    -ms-transform-origin: 50% 50%;
	        transform-origin: 50% 50%;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out
}

#path-one:hover, #path-two:hover, #path-three:hover, #path-four:hover, #path-five:hover, #path-six:hover, #path-seven:hover, #path-eight:hover, #path-nine:hover, #path-ten:hover, #path-eleven:hover, #path-twelve:hover {
	fill:#3A5675;
	stroke:#3A5675;
	stroke-width:4px;
}
