{% if option.address %}
	<!-- Address -->
	<p itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
	    <span itemprop="streetAddress">{{option.address.street_address}}</span>
	    <span itemprop="addressLocality">{{option.address.city}}, {{option.address.state}}</span> 
	    <span itemprop="postalCode">{{option.address.zip_code}}</span><br>
	    {% if phone == 'true' %}
	    	{{ function('do_shortcode', '[frn_phone ga_phone_location="Phone Clicks in Footer"]')}}
	    {% endif %}
	</p>
{% endif %} 