<a href="{{article.link}}" class="sl_card sl_card--article sl_card--article--md">            
    {# Card Image #}
    <div class="sl_card__image" style="background-image: url({% if article.thumbnail %}{{ article.thumbnail.src() }}{% else %}{{site.url}}/wp-content/themes/slate/dist/img/backgrounds/article-image-placeholder.jpg{% endif %})">
    </div>{# /.sl_card__image #}

    {# Card Content #}
    <div class="sl_card__content">
        <h4 class="sl_article__title">{{ article.title|truncate(12) }}</h4>
        {# <p class="sl_article__preview">{{ article.preview.length(25).end(' ...').read_more(false).force }}</p> #}
        {% if article.author_name %}
            <p class="sl_article__author">By: {{article.author_name}}</p>
        {% endif %}
        <p class="sl_article__date">{{article.date|date("n.j.y")}}</p>
    </div>{# /.sl_cell auto.sl_card__content #}
</a>{# /.sl_card.sl_articles__card #}