<div class="sl_row sl_articles__grid--featured">
        
        {# Featured Article #}   
        <div class="sl_cell medium-6 sl_articles__featured">
        {% for article in Post(option.article) %}
            
            {% if loop.first %}
            <a href="{{article.link}}" class="sl_card sl_card--article">

                {# Card Image #}
                <div class="sl_card__image" style="background-image: url({% if article.thumbnail %}{{ article.thumbnail.src() }}{% else %}{{site.url}}/wp-content/themes/slate/dist/img/backgrounds/article-image-placeholder.jpg{% endif %})">
                    <h2 class="sl_article__title">{{ article.title|truncate(10) }}</h2>
                    <p class="sl_article__category">Posted in: <strong>{{ article.terms('category')|first }}</strong></p>
                </div>{# /.first_article_link #}

                {# Card Content #}
                <div class="sl_card__content">
                    <p class="sl_article__preview">{{ article.preview.length(50).end(' ...').read_more(false).force }}</p>
                    {% if post.author_name %}
                        <p class="sl_article__author">By: {{article.author_name}}</p>
                    {% endif %}
                    <p class="sl_article__date">{{article.date|date("n.j.y")}}</p>
                </div>{# /.sl_card__content #}
                
            </a>{# /.sl_card.sl_articles__card #}
            {% endif %}

        {% endfor %}
        </div>{# /.sl_cell.medium-6.sl_articles__featured #}

        {# Other Articles - DESKTOP (hides for medium and small ) #}
        <div class="sl_cell medium-6 sl_articles__stacked sl_row medium-up-2 show-for-large">
        {% for article in Post(option.article) %}
            
            {% if not loop.first %}
            <div class="sl_cell">
            <a href="{{article.link}}" class="sl_card sl_card--article sl_card--article--md">
                
                    {# Card Image #}
                    <div class="sl_card__image" style="background-image: url({% if article.thumbnail %}{{ article.thumbnail.src() }}{% else %}{{site.url}}/wp-content/themes/slate/dist/img/backgrounds/article-image-placeholder.jpg{% endif %})">
                        <p class="sl_article__category">Posted in: <strong>{{ article.terms('category')|first }}</strong></p>
                    </div>{# /.first_article_link #}

                    {# Card Content #}
                    <div class="sl_cell auto sl_card__content">
                        <h4 class="sl_article__title">{{ article.title|truncate(10) }}</h4>
                        {% if post.author_name %}
                            <p class="sl_article__author">By: {{article.author_name}}</p>
                        {% endif %}
                        <p class="sl_article__date">{{article.date|date("n.j.y")}}</p>
                    </div>{# /.sl_cell auto.sl_card__content #}
            </a>{# /.sl_card.sl_articles__card #}
            </div>{# /.sl_cell #}
            {% endif %}

        {% endfor %}
        </div>{# /.sl_cell.medium-6.sl_articles__stacked #}

        {# Other Articles - MOBILE and TABLET (is hidden for large and up) #}
        <div class="sl_cell medium-6 sl_articles__stacked hide-for-large">
        {% for article in Post(option.article) %}
            
            {% if not loop.first %}
            <a href="{{article.link}}" class="sl_card sl_card--article--sm">
                
                <div class="sl_row">
                    
                    {# Card Image#}
                    <div class="sl_cell sl_card__image" style="background-image: url({% if article.thumbnail %}{{ article.thumbnail.src() }}{% else %}{{site.url}}/wp-content/themes/slate/dist/img/backgrounds/article-image-placeholder.jpg{% endif %})"></div>

                    {# Card Content #}
                    <div class="sl_cell auto sl_card__content">
                        <p class="sl_article__category">Posted In: {{ article.terms('category')|first }}</p>
                        <h4 class="sl_article__title">{{ article.title|truncate(10) }}</h4>
                    </div>{# /.sl_cell auto.sl_card__content #}
                </div>{# /.sl_row #}
            </a>{# /.sl_card.sl_articles__card #}
            {% endif %}

        {% endfor %}
        </div>{# /.sl_cell.medium-6.sl_articles__stacked #}
    </div>{# /.sl_row.sl_articles__grid #}