<div class="sl_module sl_brandblock sl_brandblock--{{brand}}">
	<div class="sl_inner">

		{% if brand != "webinars" %}
		<div class="sl_row">
			<div class="sl_cell large-3 sl_brandblock__logo">
				{# RECOVERY UNSCRIPTED BRAND BLOCK #}
				{% if brand == "podcasts" %}
					<img class="sl_podcast__logo" src="{{theme.link}}/dist/img/podcast/recoveryunscripted-logo-white.svg" alt="Recovery Unscripted Podcast" />
				{% endif %}

				{# EVENTS BRAND BLOCK #}
				{% if brand == "events" %}
					<img class="sl_podcast__logo" src="{{theme.link}}/dist/img/events/events-logo-white.svg" alt="Foundations Events" />
				{% endif %}
			</div>{# /.sl_cell #}

			<div class="sl_cell large-9 sl_brandblock__content">
				{# RECOVERY UNSCRIPTED BRAND BLOCK #}
				{% if brand == "podcasts" %}
					<h3>Bringing you unique perspectives from inside the world of addiction and mental health recovery.</h3>
					<a class="sl_button sl_button--dark" href="{{site.link}}/recovery-unscripted-podcast/">Listen to the latest episode</a>
				{% endif %}

				{# EVENTS BRAND BLOCK #}
				{% if brand == "events" %}
					<h3>We are the nation's leader in behavioral healthcare events. Network with the best in the industry.</h3>
					<a class="sl_button sl_button--secondary" href="{{site.link}}/conferences/">Learn More</a>
				{% endif %}
			</div>{# /.sl_cell #}
		</div>{# /.sl_row #}
		{% endif %}

		{% if brand == "webinars" %}
			<div class="sl_brandblock__content">
				<h2>Educational Webinars Series</h2>
				<h3>Our educational webinar series takes place once a month and is free to the public, with a CE credit available to professionals who attend.</h3>
				<a class="sl_button sl_button--secondary" href="{{site.link}}/for-professionals/educational-webinar-series/">Learn More</a>
			</div>
		{% endif %}

	</div>{# /.sl_inner #}
</div>{# /.sl_brandblock #}