<div id="sl_popup" class="sl_popup sl_popup--contact show-for-medium" data-toggler=".sl_active">
    <div class="sl_popup__open" data-toggle="sl_popup">
        Questions? Get help now.
        <span class="fas fa-comments"></span>
    </div>
    <div class="sl_card sl_card--popup">
        <h3>We know this is hard, you are not alone.</h3>
        <a href="/insurance/#vob-holder" class="sl_button">Verify Your Benefits</a>
        {{function('do_shortcode', '[lhn_inpage button="chat" text="Chat with a specialist" offline_text="remove" class="sl_button sl_button--secondary"]')}}
        <div class="sl_phone">
            <span class="sl_phone__cta">Or call us, it's free and private</span>
            {{ function('do_shortcode', '[frn_phone ga_phone_location="Phone Clicks in Module" class="sl_button sl_button--phone sl_phone__number"]')}}
        </div> {# /.sl_phone #}
        <a data-toggle="sl_popup">No thanks</a>
    </div>
</div>