<ul class="sl_menu show-for-medium">

		{# First Level Menu Item #}
		{% for item in footer_menu.get_items %}
			<li class="{{ item.classes | join(' ') }}">
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			    
				{% if item.has_child_class %}	
				<ul class="sl_submenu">

					{# Second Level Menu #}
		    		{% for child in item.get_children %}
		        		<li class="{{ child.classes | join(' ') }}">
			        		<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>
						</li>

					{% endfor %}
		    		{# End Second Level Menu#}	

				</ul>{# /.sl_submenu,sl_menu #}
				{% endif %}
			
			</li>
		{% endfor %}

		{# Custom Menu #}
		{% for item in custom_menu.get_items %}
			<li class="{{ item.classes | join(' ') }}">
				<a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
			</li>
		{% endfor %}

</ul>{# /.sl_dropdown.sl_menu #}

