<div class="sl_footer__email">
	<div class="sl_inner">
		<div class="sl_row">
			<div class="sl_cell medium-7">
				<h3>Subscribe to our email list</h3>
				{% include "partials/sl_email.twig" %}
			</div>{# /.sl_cell #}
			<div class="sl_cell medium-5">
				<div class="sl_row">
					<div class="sl_cell medium-12 large-6">
						{# LOGO #}
						{% include "sl_logo.twig" with {'image': option} %}
					</div>{# /.sl_cell #}
					<div class="sl_cell medium-12 large-6">
						{# ADDRESS #}
						{% include "partials/address.twig" with {phone: 'true'} %}
					</div>{# /.sl_cell #}
				</div>{# /.sl_row #}
			</div>{# /.sl_cell #}
		</div>{# /.sl_row #}
	</div>{# /.sl_inner #}
</div>{# /.sl_footer__email #}