<div class="sl_row sl_megamenu--treatment">
	{# Left side of the menu #}
	<div class="sl_megamenu__left sl_cell large-7">
		<ul class="sl_menu sl_row">
		{% for child in item.get_children %}

			{# RESIDENTIAL/PHP #}
			{% if child.title ends with ' PHP Treatment' %}
			<li class="sl_cell--residential sl_cell large-6 {{ child.classes | join(' ') }}">
        		<a target="{{ child.target }}" href="{{ child.link }}">
        			<span>{{ child.title }}</span>
        			<img class="sl_menu__image" src="{{theme.link}}/dist/img/menu/residential-treatment.jpg" alt="Residential Treatment" />
        		</a>
			</li>

			{# OUTPATIENT #}
			{% elseif child.title == 'Outpatient Treatment' %}
			<li class="sl_cell--outpatient sl_cell large-6 {{ child.classes | join(' ') }}">
        		<a target="{{ child.target }}" href="{{ child.link }}">
        			<span>{{ child.title }}</span>
        			<img class="sl_menu__image" src="{{theme.link}}/dist/img/menu/outpatient-treatment.jpg" alt="Outpatient Treatment" />
        		</a>
			</li>
			{% endif %}{# Including Residential and Outpatient#}
		{% endfor %}
		</ul>
	</div>{# /.sl_megamenu__left #}

	{# Right side of the menu#}
	<div class="sl_megamenu__right sl_cell large-5">
		<ul class="sl_menu sl_row large-up-2">
		{% for child in item.get_children %}
			{% if not (child.title ends with ' PHP Treatment') and child.title != 'Outpatient Treatment' %}
			<li class="sl_cell {{ child.classes | join(' ') }}">
        		<a target="{{ child.target }}" href="{{ child.link }}">{{ child.title }}</a>
        		<p>{{child.description}}</p>

				{# Third Level Menu #}	    
	        	{% if child.has_child_class %}		
				<ul class="sl_menu">
	        		{% for grandchild in child.get_children %}
	            		<li class="{{ grandchild.classes | join(' ') }}">
		            		<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>				    
	            		</li>
	        		{% endfor %}
				</ul>{# /.sl_menu #}
				{% endif %}
				{# End Third Level Menu#}
			</li>
			{% endif %}{# Excluding Residential and Outpatient#}
		{% endfor %}
		</ul>
	</div>{# /.sl_megamenu__right #}
</div>{# /.sl_row #}
{# End Treatment Mega Menu #}