<div class="sl_megamenu--locations">
	<ul class="sl_menu sl_row">

		{% for child in item.get_children %}
			{# GEORGIA #}
			{% if child.title == 'Georgia' %}
			<li class="sl_cell--georgia sl_cell xlarge-6 large-12 {{ child.classes | join(' ') }}">

				<h5>{{ child.title }}</h5>

				{# Georgia Facilities #}	    
		    	{% if child.has_child_class %}		
				<ul class="sl_menu sl_row xlarge-up-2 large-up-3">
		    		{% for grandchild in child.get_children %}
		        		<li class="sl_cell {{ grandchild.classes | join(' ') }}">
		            		<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>
		            		<p>{{grandchild.description}}</p>
		        		</li>
		    		{% endfor %}
				</ul>{# /.sl_menu #}
				{% endif %}
				{# End Georgia Facilities #}
			</li>

			{# CALIFORNIA #}
			{% elseif child.title == 'California' %}
			<li class="sl_cell--california sl_cell xlarge-6 large-12 {{ child.classes | join(' ') }}">

				<h5>{{ child.title }}</h5>

				{# California Facilities #}	    
		    	{% if child.has_child_class %}		
				<ul class="sl_menu sl_row xlarge-up-2 large-up-3">
		    		{% for grandchild in child.get_children %}
		        		<li class="sl_cell {{ grandchild.classes | join(' ') }}">
		            		<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>	
		            		<p>{{grandchild.description}}</p>
		        		</li>
		    		{% endfor %}
				</ul>{# /.sl_menu #}
				{% endif %}
				{# End California Facilities #}
			</li>
			{% endif %}

		{% endfor %}
	</ul>{# /.sl_row #}

	<ul class="sl_menu sl_row">
		{% for child in item.get_children %}
			{# Tennessee #}
			{% if child.title == 'Tennessee' %}
			<li class="sl_cell--tennessee sl_cell large-6 {{ child.classes | join(' ') }}">

				<h5>{{ child.title }}</h5>

				{# Tennessee Facilities #}	    
		    	{% if child.has_child_class %}		
				<ul class="sl_menu sl_row large-up-2">
		    		{% for grandchild in child.get_children %}
		        		<li class="sl_cell {{ grandchild.classes | join(' ') }}">
		            		<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>	
		            		<p>{{grandchild.description}}</p>
		        		</li>
		    		{% endfor %}
				</ul>{# /.sl_menu #}
				{% endif %}
				{# End Tennessee Facilities #}
			</li>

			{# Michigan #}
			{% elseif child.title == 'Michigan' %}
			<li class="sl_cell--michigan sl_cell large-3 {{ child.classes | join(' ') }}">

				<h5>{{ child.title }}</h5>

				{# Michigan Facilities #}	    
		    	{% if child.has_child_class %}		
				<ul class="sl_menu sl_row large-up-1">
		    		{% for grandchild in child.get_children %}
		        		<li class="sl_cell {{ grandchild.classes | join(' ') }}">
		            		<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>
		            		<p>{{grandchild.description}}</p>
		        		</li>
		    		{% endfor %}
				</ul>{# /.sl_menu #}
				{% endif %}
				{# End Michigan Facilities #}
			</li>

			{# Illinois #}
			{% elseif child.title == 'Illinois' %}
			<li class="sl_cell--illinois sl_cell large-3 {{ child.classes | join(' ') }}">

				<h5>{{ child.title }}</h5>

				{# Michigan Facilities #}	    
		    	{% if child.has_child_class %}		
				<ul class="sl_menu sl_row large-up-1">
		    		{% for grandchild in child.get_children %}
		        		<li class="sl_cell {{ grandchild.classes | join(' ') }}">
		            		<a target="{{ grandchild.target }}" href="{{ grandchild.link }}">{{ grandchild.title }}</a>
		            		<p>{{grandchild.description}}</p>
		        		</li>
		    		{% endfor %}
				</ul>{# /.sl_menu #}
				{% endif %}
				{# End Michigan Facilities #}
			</li>
			{% endif %}

		{% endfor %}
	</ul>{# /.sl_row #}
</div>