{% if posts.pagination.pages is not empty %}
    <div class="sl_pagination">
        <ul class="sl_pagination__list">
            {% if pagination.prev %}
                <li>
                    <a class="sl_button sl_button--pagination" {% if '/recovery-unscripted-podcast/' in pagination.prev.link %} href="{{ pagination.prev.link }}#sl_podcast_section" {% else %} href="{{ pagination.prev.link }}" {% endif %}>Previous</a>
                </li>
            {% endif %}
            {% for page in pagination.pages %}
                {% if page.link %}
                    <li>
                        <a {% if '/recovery-unscripted-podcast/' in page.link %} href="{{ page.link }}#sl_podcast_section" {% else %} href="{{ page.link }}" {% endif %} class="sl_button sl_button--pagination {{ page.class }}">{{ page.title }}</a>
                    </li>
                {% else %}
                    <li class="sl_current">
                        <a class="sl_button sl_button--pagination {{ page.class }}">{{ page.title }}</a>
                    </li>
                {% endif %}
            {% endfor %}

            {% if pagination.next %}
                <li>
                    <a class="sl_button sl_button--pagination" {% if '/recovery-unscripted-podcast/' in pagination.next.link %} href="{{ pagination.next.link }}#sl_podcast_section" {% else %} href="{{ pagination.next.link }}" {% endif %}>
                        Next
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
