<div class="sl_podcast">
    <div class="sl_row">
        {# PODCAST MEDIA #}
 		<div class="sl_podcast__card sl_cell large-5 medium-6">
 			<a href="{{podcast.link}}" class="sl_card">
 				<div class="sl_card__image" style="background-image: url({% if podcast.podcast_image %}{{Image(podcast.podcast_image).src}}{% else %}{{theme.link}}/dist/img/podcast/recovery-unscripted-podcast-studio.jpg{% endif %})">
                     <h4 class="sl_podcast__episode">Episode #{{podcast.episode_number}}</h4>
                     <h4 class="sl_podcast__time">{{podcast.episode_time}}</h4>
                </div>{# /.sl_card__image #}
               
                <div class="sl_card__content">
                    <h3 class="sl_podcast__title">{{podcast.podcast_title}}{% if podcast.guest_name != null %} with {{podcast.guest_name}} {% endif %}</h3>

                    {% if podcast.embed_src %}
                        <div class="sl_podcast__player sl_podcast_{{podcast.episode_number}} show-for-medium-only">
                            <iframe style="border: none" src="{{podcast.embed_src}}/height/90/theme/custom/thumbnail/no/direction/backward/render-playlist/no/custom-color/ff3b3b/" height="60px" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                        </div>
                    {% endif %}
                </div>{# /.sl_card__content #}
 			</a>{# /.sl_card #}
 		</div>{# /.sl_duo__media sl_cell large-4 medium-4 #}
		
		{# PODCAST CONTENT #}
        <div class="sl_podcast__right sl_row large-7 medium-6">
    		<div class="sl_podcast__excerpt sl_cell large-5 medium-12">
                {% if podcast.embed_src %}
                    <div class="sl_podcast__player sl_podcast_{{podcast.episode_number}} hide-for-medium">
                        <iframe style="border: none" src="{{podcast.embed_src}}/height/90/theme/custom/thumbnail/no/direction/backward/render-playlist/no/custom-color/ff3b3b/" height="60px" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                {% endif %}
                    <h3>In this episode: </h3>
                    {{podcast.podcast_summary|wpautop|truncate(25)}}
                    <a class="sl_button sl_button--basic" href="{{podcast.link}}">Learn More</a>
    		</div>{# /.sl_duo__content.sl_cell.auto #}

            {# PODCAST PLAYER/LINKS #}
            <div class="sl_podcast__info sl_cell large-7 medium-12">
                <div class="sl_podcast__category">Category: {{ podcast.terms('podcast-category')|first }}</div>
                {% if podcast.embed_src %}
                    <div class="sl_podcast__player sl_podcast_{{podcast.episode_number}} show-for-large">
                        <iframe style="border: none" src="{{podcast.embed_src}}/height/90/theme/custom/thumbnail/no/direction/backward/render-playlist/no/custom-color/ff3b3b/" height="60px" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
                    </div>
                {% endif %}

                {% if podcast.player_urls %}
                <div class="sl_divider"></div>
                <h3>Find on:</h3>
                <div class="sl_podcast__partners sl_row small-up-4">
                    {% include 'partials/podcast-partners.twig' %}
                </div>
                {% endif %}
            </div>{# /.sl_podcast_info sl_cell auto large-4 medium-4 #}
        </div>{# /.sl_podcast__right #}
    </div>{# /.sl_row #}
</div>{# /.sl_podcast #}