<div class="sl_cell">
	<a class="sl_podcast__partners__logo" href="{% if podcast.Itunes %}{{podcast.Itunes}}{% else %}https://itunes.apple.com/us/podcast/1-challenging-conventional/id1196046335?i=1000380093717&mt=2{% endif %}" alt="Recovery Unscripted on Apple Podcast">
		<img alt="Apple Podcast Logo" src="{{theme.link}}/dist/img/podcast/apple-podcast-logo.png"/>
	</a>
</div>{# /.sl_cell #}

<div class="sl_cell">
	<a class="sl_podcast__partners__logo" href="{% if podcast.Spotify %}{{podcast.Spotify}}{% else %}https://open.spotify.com/show/0ZkKfgo52i3IqD2laNXxlg?si=u3rAVwXhQOi6we2oSydO1g{% endif %}" alt="Recovery Unscripted on Spotify">
		<img alt="Spotify Logo" src="{{theme.link}}/dist/img/podcast/spotify-logo.png"/>
	</a>
</div>{# /.sl_cell #}

<div class="sl_cell">
	<a class="sl_podcast__partners__logo" href="{% if podcast.SoundCloud %}{{podcast.SoundCloud}}{% else %}https://soundcloud.com/recoveryunscripted{% endif %}" alt="Recovery Unscripted on Soundcloud">
		<img alt="Soundcloud Logo" src="{{theme.link}}/dist/img/podcast/soundcloud-logo.png"/>
	</a>
</div>{# /.sl_cell #}

<div class="sl_cell">
	<a class="sl_podcast__partners__logo" href="{% if podcast.GooglePlay %}{{podcast.GooglePlay}}{% else %}https://play.google.com/music/listen?u=0#/ps/Ifsu4rsdxywrcsfm6wrmoca7oui{% endif %}" alt="Recovery Unscripted on Google PLay">
		<img alt="Google Play Logo" src="{{theme.link}}/dist/img/podcast/google-play-logo.png"/>
	</a>
</div>{# /.sl_cell #}

<div class="sl_cell">
	<a class="sl_podcast__partners__logo" href="{% if podcast.Stitcher %}{{podcast.Stitcher}}{% else %}https://www.stitcher.com/podcast/recovery-unscripted{% endif %}" alt="Recovery Unscripted on Stitcher">
		<img alt="Stitcher Logo" src="{{theme.link}}/dist/img/podcast/stitcher-logo.png"/>
	</a>
</div>{# /.sl_cell #}



