<iframe style="border: none" src="{{podcast.embed_src}}/height/90/theme/custom/thumbnail/no/direction/backward/render-playlist/no/custom-color/ff3b3b/" height="90" width="100%" scrolling="no"  allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>