{% extends 'partials/sidebar-sticky.twig' %}
	
	{% block content %}
	<img class="sl_podcast__logo" src="{{theme.link}}/dist/img/podcast/recoveryunscripted-logo.svg" alt="Recovery Unscripted Podcast" />

	{# PODCAST CATEGORIES#}
	<ul class="accordion sl_accordion sl_accordion--categories" data-accordion data-multi-expand="true" data-allow-all-closed="true">
		<li class="accordion-item sl_accordion__item" data-accordion-item>
			<a href="#" class="accordion-title sl_accordion__title">Categories</a>
			<div class="accordion-content sl_accordion__content" data-tab-content>
				<ul>
				{# Loop through podcast category taxonomies #}
				{% for item in podcast_categories %}
					<li>
					<a href="/podcast-category/{{item.slug}}">{{ item.name }}</a>
					</li>
				{% endfor %}
				</ul>
			</div>{# /.sl_accordion__content #}
		</li>{# /.sl_accordion__item #}
	</ul>{# /.sl_accordion #}

	{# RECENT PODCASTS #}
	<div class="sl_podcast__recent">
		<h3>Recent Podcasts</h3>
		<a href="/recovery-unscripted-podcast/" class="sl_button sl_button--hollow">See All</a>

		{# Loop through most recent podcasts #}
		{% for item in podcasts|slice(0,3) %}
	    <div class="sl_cell">
	        <a href={{item.link}} class="sl_card sl_card--article--sm">
	            <div class="sl_card__content">
	                {% if item.terms %}
	                    <p class="sl_article__category">Posted In: {{ item.terms('podcast-category')|first }}</p>
	                {% endif %}
	                <h4>Episode #{{item.episode_number}}: {{item.podcast_title}}</h4>
	            </div>{# /.sl_card__content #}
	        </a>{# /.sl_card--article--sm #}
	    </div>{# /.sl_cell #}
	    {% endfor %}

	</div>{# /.sl_podacst__recent #}
	{% endblock %}