<form class="sl_form sl_form--email" target="_blank" action="https://cloud.frn-mail.com/subscribe" method="GET">
	<input placeholder="Email Address" id="sl_input" class="sl_form__input" type="text" name="email">
	<input name="domain" type="hidden" value="Foundation Site">
	<button type="submit" value="Sign Me Up" class="sl_button sl_button--small">Sign Me Up</button>
</form>