<div class="sl_search">
  <form method="get" class="sl_form" role="search" action="{{ site.url }}">
    <input type="search" placeholder="Search" name="s" class="sl_form__input">
    <input type="submit" value="&#xf002" class="sl_form__search sl_button--search" style="font-family: FontAwesome">
    <input type="hidden" name="post_type" value="page">
  </form>
</div>