<a href="sms://+1{{text_messenger}}" class="button">Text Us</a>


{# Add this partial to include the SMS button #}
{# {% include 'sl_text_button.twig' with {text_messenger : option.text_messenger.text_messenger} %} #}