<div class="sl_module sl_module--{{this.acf_fc_layout}} sl_{{this.acf_fc_layout}} {% if module.type_select %}sl_{{this.acf_fc_layout}}--{{module.type_select}}{% endif %} {{this.class}}">
	<div class="sl_inner">
		{% block card %}
			{% include "card.twig" %}
		{% endblock %}
	</div>{# /.inner #}
</div>{# /.module #}


 

