{% extends "module.twig" %}

{% block card %}
 	<div class="sl_row {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}">
		
		{# DUO CONTENT #}
		<div class="sl_duo__content sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "content" } %}{% endif %}">
			<div class="sl_duo__card sl_card sl_card--duo">

				{# PRE HEADER #}	
				<h5>{{ post.city }}, {{post.state}}</h5>

				{# HEADER  #}
				<h2>{{ post.facility_name }}</h2>
				
				{# PARAGRAPH #}
				<p>{{ module.paragraph }}</p>
				
				{# BUTTONS #}
	    		<div class="sl_phone {{button.button_class}}">
                    <span class="sl_phone__cta">{{module.cta_text}}</span>
                    {{ function('do_shortcode', post.facility_phone)}}
                </div> {# /.sl_phone #}
				
				{# ACCREDITATIONS #}
				{% for item in post.accreditations %}
					{% if item == "joint_commission" %}
                        <img class="sl_accreditation" src="{{theme.link}}/dist/img/accreditations/jointcommission-logo.png" alt="Joint Commission" />
                    {% endif %}

                    {% if item == "carf" %}
                        <img class="sl_accreditation" src="{{theme.link}}/dist/img/accreditations/carf-logo.png" alt="Carf" />
                    {% endif %}
				{% endfor %}

			</div>{# /.sl_duo__card.sl_card.sl_card--duo #}
		</div>{# /.sl_duo__content.sl_cell.auto #}

		{# DUO MEDIA #}
 		<div class="sl_duo__media sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "media" } %}{% endif %}">
 			<div class="sl_duo__media__container">
 				<div class="sl_duo__image" style="background-image: url({{post.thumbnail.src()}})">
					
					{% if module.video %}
	 				<a class="sl_button sl_button--video" data-open="sl_video--{{post.slug}}">
	 					<div class="sl_button__play"></div>{# Video Button Icon #}
	 					{% if video_cta %}{{module.video_cta}}{% else%}Discover {{post.facility_name}}{% endif %}
	 				</a>
	 				{% endif %}

				</div>{# /.sl_duo__image #}
 			</div>{# /.sl_duo__media__container #}
 		</div>{# /.sl_duo__media #}
		
		{% if module.video %}
		{# VIDEO REVEAL #}
		<div class="reveal sl_reveal sl_reveal--video" id="sl_video--{{post.slug}}" data-reveal data-reset-on-close="true">
			<div class="responsive-embed widescreen">
				{{ function('do_shortcode', module.video)}}
        	</div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span class="fa fa-times"></span>
            </button>
    	</div>{# reveal.video #}
    	{% endif %}
 	</div>{# /.sl_row #}

{% endblock %}