{% extends "module.twig" %}

{% block card %}
	<h2>Foundations Recovery Network in the news</h2>
	<div class="sl_row large-up-3 medium-up-2">
		{% for article in module.news %}
			<div class="sl_cell">
				<a href="{{article.url}}" target="_blank" class="sl_card sl_card--news">

					{% if article.title %}
						<h4 class="sl_article__title">{{article.title}}</h4>
					{% endif %}

					{% if article.source %}
						<p class="sl_article__source"><em>{{article.source}}</em></p>
					{% endif %}

					{% if article.published_date %}
						<p class="sl_article__date">{{article.published_date}}</p>
					{% endif %}
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}