{% extends "module.twig" %}

{% block card %}

{% if this.type_select == "duo" %}
{# Adds card loop inside sl_slider carousel logic. #}
<div  class="sl_slider">
    {% for item in this.carousel %}
    <div class="grid-x">
        <div class="cell auto card card--duo">
            {% if item.card.header != "" %}
                {% if item.card.pre_header %}
                    {% include "card-preheader.twig" with { preheader : item.card.pre_header } %}
				{% endif %}	
        		{% if item.card.header %}
                    {% include "card-header.twig" with { header : item.card.header } %}
				{% endif %}	
                {% if item.card.paragraph %}
					{% include "card-paragraph.twig" with { paragraph : item.card.paragraph } %}
				{% endif %}	
				{% if item.card.buttons %}
				    {% include "card-button.twig" with { card : item.card } %}
				{% endif %}
            {% endif %}
        </div>
        <div class="cell auto card card--duo">
            {% if item.carousel_image == true %}
                {% include "card-image.twig" with { image : item.carousel_image } %}
            {% endif %}
        </div>
    </div>{# /.grid-x #}
    {% endfor %}
</div>
{% else %}
{# Adds card loop inside sl_slider carousel logic. #}
<div  class="sl_slider">
    {% for item in this.carousel %}
        <div class="cell">
            <div class="card">
                {% if item.carousel_image == true %}
                    {% include "card-image.twig" with { image : item.carousel_image } %}
                {% endif %}
                {% if item.card.header != "" %}
                    <div class="card-section">
                        {% if item.card.pre_header %}
                            {% include "card-preheader.twig" with { preheader : item.card.pre_header } %}
				        {% endif %}	
        		        {% if item.card.header %}
                            {% include "card-header.twig" with { header : item.card.header } %}
				        {% endif %}	
                        {% if item.card.paragraph %}
					        {% include "card-paragraph.twig" with { paragraph : item.card.paragraph } %}
				        {% endif %}	
				        {% if item.card.buttons %}
					        {% include "card-button.twig" with { card : item.card } %}
				        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>
{% endif %}

{% endblock %}