{% extends "module.twig" %}

{% block card %}

<div class="sl_row">

    {# ARTICLES #}
    <div class="sl_module__articles sl_cell large-8">
        <h3>Recent Articles</h3>
        <a href="/articles/" class="sl_button sl_button--hollow show-for-medium">See All</a>
        <div class="sl_row sl_articles__grid">
        
            {# Featured Article #}   
            <div class="sl_cell medium-6 sl_articles__featured">
            {% for article in posts %}
                {% if loop.first %}
                <a href="{{article.link}}" class="sl_card sl_card--article">

                    {# Card Image #}
                    {% if article.thumbnail %}
                    <div class="sl_card__image" style="background-image: url({{ article.thumbnail.src() }}">
                        <h2 class="sl_article__title">{{ article.title|truncate(8) }}</h2>
                        <p class="sl_article__category">Posted in: <strong>{{ article.terms('category')|first }}</strong></p>
                    </div>{# /.first_article_link #}
                    {% endif %}

                    {# Card Content #}
                    <div class="sl_card__content">

                    {# If there is no thumbnail, the title and category go here #}    
                    {% if not article.thumbnail %}
                        <h2 class="sl_article__title">{{ article.title|truncate(8) }}</h2>
                        <p class="sl_article__category">Posted in: <strong>{{ article.terms('category')|first }}</strong></p>
                    {% endif %}
                        <p class="sl_article__preview">{{ article.preview.length(25).end(' ...').read_more(false).force }}</p>
                        {% if post.author_name %}
                            <p class="sl_article__author">By: {{article.author_name}}</p>
                        {% endif %}
                        <p class="sl_article__date">{{article.date|date("n.j.y")}}</p>
                    </div>{# /.sl_card__content #}
                    
                </a>{# /.sl_card.sl_articles__card #}
                {% endif %}

            {% endfor %}
            </div>{# /.sl_cell.medium-6.sl_articles__featured #}

            {# Other Articles #}
            <div class="sl_cell medium-6 sl_articles__stacked">
            {% for article in posts %}
                
                {% if not loop.first %}
                <a href="{{article.link}}" class="sl_card sl_card--article--sm">
                    
                    <div class="sl_row">
                        {# Card Image#}
                        {% if article.thumbnail %}<div class="sl_cell sl_card__image" style="background-image: url({{ article.thumbnail.src() }}"></div>{% endif %}

                        {# Card Content #}
                        <div class="sl_cell auto sl_card__content">
                            <p class="sl_article__category">Posted In: {{ article.terms('category')|first }}</p>
                            <h4 class="sl_article__title">{{ article.title|truncate(8) }}</h4>
                        </div>{# /.sl_cell auto.sl_card__content #}
                    </div>{# /.sl_row #}
                </a>{# /.sl_card.sl_articles__card #}
                {% endif %}

            {% endfor %}
            </div>{# /.sl_cell.medium-6.sl_articles__stacked #}
        </div>{# /.sl_row.sl_articles__grid #}
        <a href="/articles/" class="sl_button sl_button--hollow hide-for-medium">See All</a>
    </div>{# /.sl_cell #}

    {# PODCASTS #}
    <div class="sl_module__podcasts sl_cell large-4">
        <h3>Recent Podcasts</h3>
        <a href="/recovery-unscripted-podcast/" class="sl_button sl_button--hollow show-for-medium">See All</a>
        <div class="sl_articles__stacked">
            {% for podcast in podcasts|slice(0,3) %}
            <div class="sl_cell">
                <a href={{podcast.link}} class="sl_card sl_card--article--sm">
                    <div class="sl_card__content">
                        {% if podcast.terms %}
                            <p class="sl_article__category">Posted In: {{ podcast.terms('podcast-category')|first }}</p>
                        {% endif %}
                        <h4>Episode #{{podcast.episode_number}}: {{podcast.podcast_title}}</h4>
                    </div>{# /.sl_card__content #}
                </a>{# /.sl_card--article--sm #}
            </div>{# /.sl_cell #}
            {% endfor %}
        </div>
        <a href="/recovery-unscripted-podcast/" class="sl_button sl_button--hollow hide-for-medium">See All</a>
 	</div>{# /.sl_duo__media sl_cell auto large-4 medium-12 #}

</div>{# /.grid-x #}

{% endblock %}