{% extends "module.twig" %}

{% block card %}

{% if module.header %}
    <h2 class="sl_module__header">{{module.header}}</h2>
{% endif %}

<div class="sl_row">

    {# HELPFUL LINKS #}
    <div class="sl_cell large-4 medium-12 sl_helplinks">

        {% if module.helpful_header %}
            <h2>{{module.helpful_header}}</h2>
        {% endif %}
        
        {# Don't add row mark up if module has the inverse class #}
        {% if module.class != 'sl_helpful_links--inverse' %}
            <div class="sl_row large-up-1 medium-up-3 small-up-2 xsmall-up-2">
        {% endif %}

        {% for links in module.helpful_link %}
            <a href="{{links.anchor_link.url}}" class="sl_cell sl_helplinks__container">
                <div class="sl_row sl_card">

                    {# LINK ICON #}
                    {% if links.image_field == true %}
                        <div class="sl_cell sl_helplinks__icon">
                            {% include "card-image.twig" with { image : links.image_field } %}
                        </div>{# /.sl_cell.auto.sl_helplinks__icon #}
                    {% endif %}
                    
                    {# LINK CONTENT #}
                    <div class="sl_cell sl_helplinks__content">
                        {% if links.head_text %}<h3>{{links.head_text}}</h3>{% endif %}
                        {% if links.sub_text %}<p>{{links.sub_text}}</p>{% endif %}
                    </div>{# /.sl_cell.auto.sl_helplinks__content #}
                </div>{# /.sl_row.sl_cell.sl_card #}
            </a>{# /.sl_cell.sl_helplinks__container #}        
        {% endfor %}

        {# Don't add row mark up if module has the inverse class #}
        {% if module.class != 'sl_helpful_links--inverse' %}
            </div>
        {% endif %}

    </div>{# /.sl_cell.large-4.medium-12.sl_helplinks #}
    
    {# ARTICLE TYPE #}
    {% if module.type_select == 'articles' %}
    <div class="sl_cell large-8 medium-12 sl_articles">
        {% include "articles.twig" %}
    </div>{# /.sl_helpful_articles#}
    {% endif %}

    {# DECK TYPE #}
    {% if module.type_select == 'deck' %}
    <div class="sl_cell large-8 medium-12 sl_deck">
        {% include 'deck.twig' %}
    </div>{# /.sl_helpdeck #}
    {% endif %}

</div>{# /.grid-x #}

{% endblock %}