{% extends "module.twig" %}

{% block card %}

    {% if module.module_header %}
        <h2>{{ module.module_header }}</h2>
    {% endif %}

	{# Includes card components #}
 	<div class="sl_row {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}">

		{# DUO CONTENT #}
		<div class="sl_duo__content sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "content" } %}{% endif %}">
			<div class="sl_duo__card sl_card sl_card--duo">

				{# PRE HEADER #}	
				{% if module.card.pre_header %}
					<h5>{{ module.card.pre_header }}</h5>
				{% endif %}

				{# HEADER  #}
				{% if module.card.header %} 
					<h2>{{ module.card.header }}</h2>
				{% endif %}
				
				{# PARAGRAPH #}
				{% if module.card.paragraph %}
					{% include "card-paragraph.twig" with { paragraph : module.card.paragraph } %}
				{% endif %}
				
				{# BUTTONS #}
	    		{% if module.card.buttons %}
					{% include "card-button.twig" with { card : module.card } %}
				{% endif %}

			</div>{# /.sl_duo__card.sl_card.sl_card--duo #}
		</div>{# /.sl_duo__content.sl_cell.auto #}
        
        {# DUO WEBINAR POST TYPE #}
        {% if module.type_select == "webinar" %}
 			{% include "duo-webinar.twig" %}
        {# END DUO WEBINAR POST TYPE #}

		{# DUO PODCAST POST TYPE #}
        {% elseif module.type_select == "podcast" %}
			{% include "duo-podcast.twig" %}
		{# END DUO PODCAST POST TYPE #}

		{# DUO CONFERENCE POST TYPE #}
        {% elseif module.type_select == "conferences" %}
        {# END DUO CONFERENCE POST TYPE #}
			{% include "duo-conference.twig" %}
        {% endif %}

 	</div>{# /.sl_row #}

{% endblock %}