{% extends "module.twig" %}


{% block card %}

<script>
    var myFacilityData = [];
</script>

{% for item in Post(this.locations) %}

{% set entryInfo = {
    "facilityName": item.facility_name,
    "facilityType": item.terms('location-category')|first.name,
    "facilityImage": Image(item.image_field).src,
    "facilityContent": item.facility_features,
    "facilitySite": item.website_url,
    "facilityPage": item.slug,
    "facilityLat": item.facility_lat,
    "facilityLng": item.facility_lng,
    "facilityAddress": item.street_address,
    "facilityCity": item.city,
    "facilityState": item.state,
    "facilityZip": item.zip_code,
    "facilityDirections": item.direction_url,
    "facilityTour": item.virtual_tour,
    "facilityAccreditation":  item.accreditations,
    "entryType": this.type_select,
    "facilityDirections": item.direction_url,
    "facilityWebsite": item.website_url
    }
%}

<script>
    var singleFacility = {{ entryInfo|json_encode() }};

    myFacilityData.push(singleFacility);	    
</script>

{% endfor %}

{# MAP DATA FOR RESIDENTIAL TYPE #}
{% if this.type_select == "residential" %}
    {% for item in facilities %}
        {% if item.terms('location-category')|first.name == 'Residential' or item.terms('location-category')|first.name == 'PHP' %}

        {% set entryInfo = {
            "facilityName": item.facility_name,
            "facilityType": item.terms('location-category')|first.name,
            "facilityImage": Image(item.image_field).src,
            "facilityContent": item.post_content,
            "facilitySite": item.website_url,
            "facilityPage": item.slug,
            "facilityLat": item.facility_lat,
            "facilityLng": item.facility_lng,
            "facilityAddress": item.street_address,
            "facilityCity": item.city,
            "facilityState": item.state,
            "facilityZip": item.zip_code,
            "facilityDirections": item.direction_url,
            "facilityTour": item.virtual_tour,
            "facilityAccreditation":  item.accreditations,
            "entryType": this.type_select,
            "facilityDirections": item.direction_url,
            "facilityWebsite": item.website_url
            }
        %}

        <script>
            var singleFacility = {{ entryInfo|json_encode() }};

            myFacilityData.push(singleFacility);        
        </script>
        {% endif %}
    {% endfor %}
{% endif %}

{# MAP DATA FOR OUTPATIENT TYPE #}
{% if this.type_select == "outpatient" %}
    {% for item in facilities %}
        {% if item.terms('location-category')|first.name == 'Outpatient' and item.facility_name != 'Foundations San Diego' %}

        {% set entryInfo = {
            "facilityName": item.facility_name,
            "facilityType": item.terms('location-category')|first.name,
            "facilityImage": Image(item.image_field).src,
            "facilityContent": item.post_content,
            "facilitySite": item.website_url,
            "facilityPage": item.slug,
            "facilityLat": item.facility_lat,
            "facilityLng": item.facility_lng,
            "facilityAddress": item.street_address,
            "facilityCity": item.city,
            "facilityState": item.state,
            "facilityZip": item.zip_code,
            "facilityDirections": item.direction_url,
            "facilityTour": item.virtual_tour,
            "facilityAccreditation":  item.accreditations,
            "entryType": this.type_select,
            "facilityDirections": item.direction_url,
            "facilityWebsite": item.website_url
            }
        %}

        <script>
            var singleFacility = {{ entryInfo|json_encode() }};

            myFacilityData.push(singleFacility);        
        </script>
        {% endif %}
    {% endfor %}
{% endif %}

{# FACILITY MODULE HEADER  #}
<div class="sl_facility__header">
    <div class="sl_facility__controls">

        <h2>{{ this.header }}</h2>
        
        {% if this.type_select != "careers" %}
        <div class="sl_facility__toggle--map">
            <div class="sl_toggle sl_toggle--card sl_active">Card View</div>
            <div class="sl_toggle sl_toggle--map">Map View</div>
        </div>
        {% endif %}
    
        {# Add search controls if carousel type #}
        {% if this.type_select == "carousel" %}
        <div class="sl_form sl_form--search">
                <select class="sl_form__select" id="facilityTypeSelect">
                    <option value="all">All</option>
                    {% for category in location_categories %}
                        {% if category == "Residential" %}
                            <option value="{{category.name}}/PHP">{{category.name}}/PHP</option>
                        {% elseif category == "PHP" %}

                        {% else %}
                            <option value="{{category.name}}">{{category.name}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <input placeholder="Near" id="sl_fac_input" class="sl_form__input">
                <button id="sl_search_trigger" class="sl_button sl_button--small sl_facility_search">Filter Options</button>
        </div>{# /.sl_search #}
        {% endif %}
        {# end carousel conditional #}

        {# Add search controls if carousel type #}
        {% if this.type_select == "deck" or this.type_select == "contact-deck" %}
        <div class="sl_facility__toggle--type">
            <div class="sl_toggle sl_toggle--residential">Residential/PHP</div>
            <div class="sl_toggle sl_toggle--outpatient">Outpatient</div>
        </div>{# /.sl_facility__toggle #}
        {% endif %}
        {# end carousel search conditional #}

    </div>{# /.sl_facility__controls #}
</div>{# /.sl_facility__header #}

{# FACILITY CAROUSEL #}
{% if this.type_select == "carousel" %}
    {# Adds card loop inside sl_slider carousel logic. #}
    <div  class="sl_facility__carousel"></div>
{# the carousel logic is found in the facility-module index.js and is injected in this div #}

{# FACILITY DECK #}
{% elseif this.type_select == "deck" or this.type_select == "contact-deck" or this.type_select == "careers" %}{# Else if output Deck Module #}
<div class="sl_row sl_facility__deck {% if this.type_select == "contact-deck" %}sl_facility__deck--contact xlarge-up-4 large-up-3{% elseif this.type_select == "careers" %} sl_facility__deck--careers xlarge-up-4 large-up-3{% else %}large-up-3{% endif %} medium-up-2">
    
    {% if this.type_select == "careers" %}{# loop through all location posts for career module type#}
        {# FRN CORPORTAE #}
        <div class="sl_cell">
            <div class="sl_card sl_card--facility">
                {# CARD IMAGE #}
                <div class="sl_card__image" style="background-image:url({{Image(module.foundations_corporate.image_field).src}})">
                </div>{# /.sl_card__image #}
                
                {# CARD CONTENT #}
                <div class="sl_card__content">

                    {# FACILITY #}
                    <h3>{{module.foundations_corporate.facility_name}}</h3>

                    {# ADDRESS #}
                    <p itemprop="address"><span itemprop="streetAddress">{{module.foundations_corporate.street_address}}</span> <br> <span itemprop="addressLocality">{{module.foundations_corporate.city}}</span>, <span itemprop="addressRegion">{{module.foundations_corporate.state}}</span> <span itemprop="postalCode">{{module.foundations_corporate.zipcode}}</span></p>
                    
                    {# BUTTON #}
                    <a href="{{module.foundations_corporate.job_board_url}}" class="sl_button sl_button--secondary sl_button--small">View Jobs</a>
                </div>{# /.sl_card__content #}
            </div>{# /.sl_card #}
        </div>{# /.sl_cell #}
        {# END FRN CORPORTAE #}

        {% for item in facilities %}
            {% include "facility-deck-card.twig" %}
        {% endfor %}
    {% else %}
        {% for item in Post(this.locations) %}{# else loop through acf relationship field #}
            {% include "facility-deck-card.twig" %}
        {% endfor %}
    {% endif %}
</div>{# /.sl_row #}
{# END FACILITY DECK #}

{# RESIDENTIAL TYPE #}
{% elseif this.type_select == "residential" %}
    <div class="sl_row sl_facility__deck sl_facility__deck--residential large-up-3 medium-up-2">
    
    {% for item in facilities %}
        {% if item.terms('location-category')|first.name == 'Residential' or item.terms('location-category')|first.name == 'PHP' %}
        <div class="sl_cell sl_cell--{{item.terms('location-category')|first.name}} sl_active">
            <div class="sl_card sl_card--facility">

                {# CARD IMAGE #}
                <div class="sl_card__image" style="background-image:url({{Image(item.image_field).src}})">

                    {# ACCREDITATIONS #}
                    {% for item in item.accreditations %}
                        {% if item == "joint_commission" %}
                            <img class="sl_accreditation" src="{{theme.link}}/dist/img/accreditations/jointcommission-logo.png" alt="Joint Commission" />
                        {% endif %}

                        {% if item == "carf" %}
                            <img class="sl_accreditation" src="{{theme.link}}/dist/img/accreditations/carf-logo.png" alt="Carf" />
                        {% endif %}
                    {% endfor %}

                    {# FACILITY TYPE #}
                    <span class="sl_facility__type">
                         {{item.terms('location-category')|first.name}}
                    </span>
                </div>{# /.sl_card__image #}
                
                {# CARD CONTENT #}
                <div class="sl_card__content">
                    
                    {# LOCATION #}
                    <h5>{{item.city}}, {{item.state}}</h5>

                    {# FACILITY #}
                    <h3>{{item.facility_name}}</h3>

                    {# CONTENT #}
                    {{item.facility_features|wpautop}}
                    
                    {# BUTTON #}
                    <a href="{{site.url}}/locations/{{item.slug}}/" class="sl_button sl_button--secondary">Learn More</a>
                </div>{# /.sl_card__content #}

            </div>{# /.sl_card #}
        </div>{# /.sl_cell #}
        {% endif %}
    {% endfor %}
</div>{# /.sl_row #}

{# OUTPATIENT TYPE #}
{% elseif this.type_select == "outpatient" %}
    <div class="sl_row sl_facility__deck sl_facility__deck--outpatient large-up-3 medium-up-2">
    
    {% for item in facilities %}
        {% if item.terms('location-category')|first.name == 'Outpatient' and item.facility_name != 'Foundations San Diego' %}
        <div class="sl_cell sl_cell--{{item.terms('location-category')|first.name}} sl_active">
            <div class="sl_card sl_card--facility">

                {# CARD IMAGE #}
                <div class="sl_card__image" style="background-image:url({{Image(item.image_field).src}})">

                    {# ACCREDITATIONS #}
                    {% for item in item.accreditations %}
                        {% if item == "joint_commission" %}
                            <img class="sl_accreditation" src="{{theme.link}}/dist/img/accreditations/jointcommission-logo.png" alt="Joint Commission" />
                        {% endif %}

                        {% if item == "carf" %}
                            <img class="sl_accreditation" src="{{theme.link}}/dist/img/accreditations/carf-logo.png" alt="Carf" />
                        {% endif %}
                    {% endfor %}

                    {# FACILITY TYPE #}
                    <span class="sl_facility__type">
                         {{item.terms('location-category')|first.name}}
                    </span>
                </div>{# /.sl_card__image #}
                
                {# CARD CONTENT #}
                <div class="sl_card__content">
                    
                    {# LOCATION #}
                    <h5>{{item.city}}, {{item.state}}</h5>

                    {# FACILITY #}
                    <h3>{{item.facility_name}}</h3>

                    {# CONTENT #}
                    {{item.facility_features|wpautop}}
                    
                    {# BUTTON #}
                    <a href="{{site.url}}/locations/{{item.slug}}/" class="sl_button sl_button--secondary">Learn More</a>
                </div>{# /.sl_card__content #}

            </div>{# /.sl_card #}
        </div>{# /.sl_cell #}
        {% endif %}
    {% endfor %}
</div>{# /.sl_row #}
{% endif %}

{# FACILITY MAP #}
<div class="sl_facility__map mapShow" style="display: none;" onload="initialize()">
    <div id="map" style="width: 100%; height: 480px;"></div>
</div>


{% endblock %} 