{% extends "module.twig" %}

{% block card %}
 	<div class="sl_row {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}">
 		{# DUO MEDIA #}
 		<div class="sl_duo__media sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "media" } %}{% endif %}">
 			<div class="sl_duo__media__container">
 				<div class="sl_duo__image" style="background-image: url({{post.thumbnail.src()}})">
					
	 				<a class="sl_button sl_button--video" data-open="sl_video--{{post.slug}}">
	 					<div class="sl_button__play"></div>{# Video Button Icon #}
	 					{% if module.video_cta %}{{module.video_cta}}{% else%}Highlights{% endif %}
	 				</a>

				</div>{# /.sl_duo__image #}
 			</div>{# /.sl_duo__media__container #}
 		</div>{# /.sl_duo__media #}
		
		{# DUO CONTENT #}
		<div class="sl_duo__content sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "content" } %}{% endif %}">
			<div class="sl_duo__card sl_card sl_card--duo">
				
				{# CONTENT #}
				{{ module.wysiwyg|wpautop }}

			</div>{# /.sl_duo__card.sl_card.sl_card--duo #}
		</div>{# /.sl_duo__content.sl_cell.auto #}
		
		{# VIDEO REVEAL #}
		<div class="reveal sl_reveal sl_reveal--video" id="sl_video--{{post.slug}}" data-reveal data-reset-on-close="true">
			<div class="responsive-embed widescreen">
				{{ function('do_shortcode', post.video)}}
        	</div>
            <button class="close-button" data-close aria-label="Close modal" type="button">
                <span class="fa fa-times"></span>
            </button>
    	</div>{# reveal.video #}
 	</div>{# /.sl_row #}

{% endblock %}