{% extends "module.twig" %}

{% block card %}
	
	<h2>Our Conferences</h2>

		{# Loop through posts from the events #}
		{% for event in events %}
		<div class="sl_row">
			{# DUO MEDIA #}
	 		<div class="sl_duo__media sl_duo__media--video sl_cell medium-6">
	 			<div class="sl_duo__media__container">
	 				<div class="sl_duo__image" style="background-image: url({{Image(event.thumbnail).src}})">
		 				<a class="sl_button sl_button--video" data-open="sl_video--{{event.slug}}">
		 					<div class="sl_button__play"></div>{# Video Button Icon #}
		 					Highlights
		 				</a>{# /.sl_button--video #}
					</div>{# /.sl_duo__image #}
	 			</div>{# /.sl_duo__media__container #}
	 		</div>{# /.sl_duo__media#}
			
			{# DUO CONTENT #}
			<div class="sl_duo__content sl_cell medium-6">
				<div class="sl_duo__card sl_card sl_card--duo">
					<h5>{{event.address_schema_city}}, {{event.address_schema_state}}</h5>
					<h3>{{event.event_name}}</h3>
					<h4>{{event.date_start|date("F j")}} - {{event.date_end|date("F j, Y")}}</h4>
					<p>{{event.event_summary}}</p>
					{% if event.register_url %}
					<div class="sl_button-group">
						<a class="sl_button" href="{{event.register_url}}">Register</a>
						<a class="sl_button sl_button--basic" href="{{site.url}}/conferences/{{event.slug}}">Learn More</a>
					</div>{# /.sl_button-group #}
					{% else %}
						<a class="sl_button sl_button--basic" href="{{site.url}}/conferences/{{event.slug}}">Learn More</a>
					{% endif %}
				</div>{# /.sl_duo__card.sl_card.sl_card--duo #}
			</div>{# /.sl_duo__content.sl_cell.auto #}
			
			{# VIDEO REVEAL #}
			<div class="reveal sl_reveal sl_reveal--video" id="sl_video--{{event.slug}}" data-reveal data-reset-on-close="true">
            	<div class="responsive-embed widescreen">
					{{ function('do_shortcode', event.video)}}
	    		</div>
	            <button class="close-button" data-close aria-label="Close modal" type="button">
                	<span class="fa fa-times"></span>
            	</button>
        	</div>{# reveal.video #}
        </div>{# /.sl_row #}
		{% endfor %}
{% endblock %}
