{% extends "module.twig" %}

{% block card %}
	{# Includes card components #}
 	<div class="sl_row {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}">

		<div class="sl_cell sl_duo__content {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "content" } %}{% endif %}">
			<div class="sl_card sl_card--duo">
				{# PRE HEADER #}
				{% if module.card.pre_header %}
					<h5>{{ module.card.pre_header }}</h5>
				{% endif %}
				
				{# HEADER  #}
				{% if module.card.header %} 
					<h2>{{ module.card.header }}</h2>
				{% endif %}
				
				{# PARAGRAPH #}
				{% if module.card.paragraph %}
					{% include "card-paragraph.twig" with { paragraph : module.card.paragraph } %}
				{% endif %}
				
				{# BUTTONS #}
	    		{% if module.card.buttons %}
					{% include "card-button.twig" with { card : module.card } %}
				{% endif %}
			</div>
		</div>{# /.sl_cell #}

        <div class="sl_cell sl_duo__media {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "media" } %}{% endif %}">
        	<div class="sl_duo__media__container">
	            <div  class="sl_vert_slider sl_duo__image" style="background-image: url({{Image(module.carousel_image).src}})">
	            	{% for item in module.carousel %}
		                {% if item.carousel_text %}
							{% include "card-paragraph.twig" with { paragraph : item.carousel_text } %}
						{% endif %}	
	            	{% endfor %}
	            </div>
        	</div>
        </div>
 	</div>{# /.grid-x #}

{% endblock %}