{% extends "module.twig" %}

{% block card %}
	<div class="sl_card sl_card--webinar">
		<h2>{{ module.head_text }}</h2>
        <p>{{ module.wysiwyg|wpautop }}</p>
        
        {% if webinars %}{# If future webinar exists, grabs the one closest to current date.#}

            {% for webinar in webinars %}
            {% if loop.first %}{# Just grab most upcoming webinar #}
            <div class="sl_row">
                
                <div class="sl_cell">
                    {# WEBINAR GUEST IMAGE #}
                    <div class="sl_webinar__image" style={% if webinar.webinar_image %}"background-image: url({{Image(webinar.webinar_image).src}})"{% else %}"background-image: url(/wp-content/themes/slate/dist/img/webinar/Webinar_Fallback.jpg)"{% endif %}></div>
                </div>{# /.sl_cell #}

                <div class="sl_cell">
                    {# WEBINAR CONTENT #}
                    <div class="sl_webinar__content">
                        <h2>Upcoming Webinar</h2>
                        <h5>{% if webinar.webinar_date %}{{webinar.webinar_date|date("F j, Y | g:ia T")}}{% else %}TBD{% endif %}</h5>
                        <a href="{{site.url}}/for-professionals/educational-webinar-series/{{webinar.slug}}"><h3>{{webinar.webinar_title}}</h3></a>
                        <h4>With {{webinar.guest_speaker}}</h4>
                        <p>{{webinar.webinar_summary}}</p>
                        {% if webinar.add_ceu == 1 %}
                            <p><em>Earn 1 CE credit</em></p>
                        {% endif %}
                    </div>{# /.sl_card #}
                </div>{# /.webinar cell #}

            </div>{# /.sl_row #}
            
            {# WEBINAR CALL TO ACTION #}
            <div class="sl_webinar__cta sl_row">
                <div class="sl_cell large-4">
                    <h3>Join us for this month's webinar and get a free CE credit!</h3> 
                </div>{# /.sl_cell #}
                <div class="sl_cell large-8">
                    <div class="sl_button-group">
                        <a href="{{webinar.webinar_register_url}}" class="sl_button">Register</a>
                        <a href="{{site.url}}/for-professionals/educational-webinar-series/{{webinar.slug}}" class="sl_button sl_button--secondary">Learn More</a>
                    </div>{# /.sl_button-group #}
                </div>{# /.sl_cell#}
            </div>{# /.sl_webinar_register #}

            {% endif %}
        {% endfor %}

        {% else %}{# If no webinars after current date, grabs latest Webinars and shows the first one #}

            {% for webinar in latwebinars %}
            {% if loop.first %}{# Just grab most upcoming webinar #}
            <div class="sl_row">
                
                <div class="sl_cell">
                    {# WEBINAR GUEST IMAGE #}
                    <div class="sl_webinar__image" style={% if webinar.webinar_image %}"background-image: url({{Image(webinar.webinar_image).src}})"{% else %}"background-image: url(/wp-content/themes/slate/dist/img/webinar/Webinar_Fallback.jpg)"{% endif %}></div>
                </div>{# /.sl_cell #}

                <div class="sl_cell">
                    {# WEBINAR CONTENT #}
                    <div class="sl_webinar__content">
                        <h2>Latest Webinar</h2>
                        <a href="{{site.url}}/for-professionals/educational-webinar-series/{{webinar.slug}}"><h3>{{webinar.webinar_title}}</h3></a>
                        <h4>With {{webinar.guest_speaker}}</h4>
                        <p>{{webinar.webinar_summary}}</p>
                         <a href="{{site.url}}/for-professionals/educational-webinar-series/{{webinar.slug}}" class="sl_button sl_button--secondary">Learn More</a>
                    </div>{# /.sl_card #}
                </div>{# /.webinar cell #}

            </div>{# /.sl_row #}

            {% endif %}
            {% endfor %}
        {% endif %}

	</div>{# /.card--webinar #}

{% endblock %}