{% extends "module.twig" %}

{% block card %}
<div class="sl_row {% if module.grid_type == "block" %}{% include "grid-classes.twig" %}{% endif %}">

        <div class="sl_cell sl_duo__content {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "content" } %}{% endif %}">
            <div class="sl_card sl_card--tour">

                {# GOOGLE MAP #}
                {% include 'card-google-map.twig' with { map : this } %}
                
                <div class="sl_card__content">
                    {# ADDRESS #}
                    <p itemprop="address"><span itemprop="streetAddress">{{post.street_address}}</span> <br> <span itemprop="addressLocality">{{post.city}}</span>, <span itemprop="addressRegion">{{post.state}}</span> <span itemprop="postalCode">{{post.zipcode}}</span></p>
                    {# PHONE #}
                    {{ function('do_shortcode', post.facility_phone)}}
                    
                    {# BUTTON #}
                    {% if post.terms('location-category')|first.name != 'Outpatient' %}
                        <a class="sl_button sl_button--secondary sl_button--small" href="{{post.website_url}}">Visit Website</a>
                    {% endif %}

                    {# SOCIAL MEDIA #}
                    {% if module.social_schema.social_urls %}
                        <div class="sl_row sl_socials">
                        {% for item in module.social_schema.social_urls %}
                            <div class="sl_cell">
                                <a href="{{module.social_schema[item~'_url']}}" class="sl_{{item}} sl_button sl_button--social" target="_blank">
                                <i class="fa fa-{{item}}" aria-hidden="true"></i>
                                </a>
                            </div>{# /.sl_cell #}
                        {% endfor %}
                        </div>{# /.sl_row.sl_socials #}
                    {% endif %}
                </div>{# /.sl_card__content #}
            </div>
        </div>{# /.sl_cell #}

        <div class="sl_cell sl_duo__media {% if this.tour_url == null %}sl_duo__media--notour{% endif %}{% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "media" } %}{% endif %}">
            <div class="sl_duo__media__container">
                {% if this.tour_url %}
                    <a href="{{this.tour_url}}" target="_blank" class="sl_button sl_button--dark">Take a virtual tour</a>
                {% endif %}
                <div class="sl_tour_slider">
                    {% for item in this.carousel %}
                        <div>
                            <div class="sl_slide__image" style="background-image: url({{Image(item.carousel_image).src}})"></div>
                        </div>
                    {% endfor %}
                </div>{# /.sl_tour_slider #}
            </div>{# /.sl_duo__media__container #}
        </div>{# /.sl_cell_duo__media #}
    </div>{# /.grid-x #}

{% endblock %}