.sl_articles_podcasts {
	background-color: get-color(default);
	.sl_inner {
		& > .sl_row {
			& > .sl_cell {
				position: relative;

				@include breakpoint (medium only) {
					text-align: center;
				}//end medium only breakpoint

				& > h3 {
					color: get-color(inverse);

					@include breakpoint (xlarge only) {
						font-size: 1.5rem;
					}//end xlarge only breakpoint

					@include breakpoint (large only) {
						font-size: rem-calc(22px);
					}//end large only breakpoint

					@include breakpoint (medium only) {
						display: inline-block;
						margin-right: $spacing--xs;
						margin-bottom: $spacing--sm;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						text-align: center;
					}//end small down breakpoint
				}//end h3

				& > .sl_button--hollow {
					color: get-color(inverse);
					border-color: get-color(inverse);
					position: absolute;
					top: 0;
					right: 0;

					@include breakpoint (xlarge only) {
						padding: $spacing--xs/2 $spacing--xs;
					}//end xlarge only breakpoint

					@include breakpoint (large only) {
						padding: $spacing--xs/2 $spacing--xs;
						top: -8px;
					}//end large only breakpoint

					@include breakpoint (medium only) {
						position: static;
						display: inline-block;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						position: static;
						margin: $spacing--sm auto 0;
					}//end small down breakpoint
				}//end & >.sl_button--hollow
			}//end & >.sl_cell

			.sl_module__articles {

				@include breakpoint (medium only) {
					margin-bottom: $spacing--md;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					margin-bottom: $spacing--sm;
				}//end small down breakpoint

				.sl_articles__featured {
					padding-right: $spacing--sm/2;

					@include breakpoint (medium only) {
						padding-right: $spacing--xs/2;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						padding: 0;
						margin-bottom: $spacing--xs;
					}//end small down breakpoint

					.sl_card {
						height: 100%;

						&__image {
							min-height: 175px;
							padding: $spacing--md;
							padding-bottom: $spacing--xxl;

							@include breakpoint (large down) {
								padding: $spacing--sm;
								padding-bottom: $spacing--xl;
							}//end medium down breakpoint

							.sl_article__category {
								left: $spacing--md;
								bottom: $spacing--md;

								@include breakpoint (large down) {
									left: $spacing--sm;
									bottom: $spacing--sm;
								}//end medium down breakpoint
							}//end .sl_article__category
						}//end &__image

						&__content {
							padding: $spacing--md;
							padding-bottom: $spacing--xxxl;

							@include breakpoint (large only) {
								padding: $spacing--sm;
								padding-bottom: $spacing--xxl;
							}//end large only breakpoint

							.sl_article__author {
								left: $spacing--md;
								bottom: $spacing--md;
							}//end .sl_article__author

							.sl_article__date {
								right: $spacing--md;
								bottom: $spacing--md;
							}//end .sl_article__date

							@include breakpoint (medium down) {
								padding: $spacing--sm;
								padding-bottom: $spacing--sm + $spacing--lg;

								.sl_article__author {
									left: $spacing--sm;
									bottom: $spacing--sm;
								}//end .sl_article__author

								.sl_article__date {
									right: $spacing--sm;
									bottom: $spacing--sm;
								}//end .sl_article__date
							}//end medium down breakpoint
						}//end &__content
					}//end .sl_card
				}//end &__featured

				.sl_articles__stacked {
					padding-left: $spacing--sm/2;

					@include breakpoint (medium only) {
						padding-left: $spacing--xs/2;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						padding: 0;
					}//end small down breakpoint

					.sl_card {
						&:not(:last-of-type) {
							margin-bottom: $spacing--xs;
						}//end &:not(:last-of-type)
					}//end .sl_card
				}//end &__stacked

				.sl_articles__grid {
					@include breakpoint (medium only) {
						text-align: left;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						justify-content: center;

						.sl_button--hollow {
							margin-bottom: 0;
						}//end .sl_button--hollow
					}//end small down breakpoint
				}//end &__grid
			}//end .sl_module__articles

			.sl_module__podcasts {
				padding-left: $spacing--xxl;

				@include breakpoint (xlarge only) {
					padding-left: $spacing--md;
				}//end xlarge only breakpoint

				@include breakpoint (large only) {
					padding-left: $spacing--sm;
				}//end large only breakpoint

				@include breakpoint (medium only) {
					padding: 0;
					max-width: 500px;
					margin: 0 auto;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding: 0;
				}//end small down breakpoint

				.sl_articles__stacked {
					& > .sl_cell {
						&:not(:last-of-type) {
							margin-bottom: $spacing--xs;
						}//end &:not(:last-of-type)

						.sl_card {
							min-height: 143px;

							@include breakpoint (large only) {
								min-height: 120px;
							}//end large only breakpoint

							@include breakpoint (medium only) {
								min-height: 0;
							}//end medium only breakpoint

							@include breakpoint (small down) {
								min-height: 120px;
							}//end small down breakpoint
						}//end .sl_card
					}//end & > .sl_cell
				}//end .sl_articles__stacked
			}//end .sl_module__podcasts
		}//end & > .sl_row
	}//end .sl_inner
}//end .sl_articles_podcasts