//VERTICAL CAROUSEL
.sl_vertical_carousel {
	@include breakpoint (small down) {
		padding: 0;
	}//end small down breakpoint
	.sl_inner {
		@include innerpadding ($p-xsmall: 0, $p-small: 0, $p-medium: 0);
		
		& > .sl_row {
			border-radius: $border-radius;
			overflow: hidden;

			@include breakpoint (medium down) {
				border-radius: 0;
			}//end medium down breakpoint

			.sl_duo__media, .sl_duo__media__container {
				min-height: 200px;
			}
		}//end & > .sl_row
	}//end .sl_inner

	.sl_vert_slider {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		display: flex;

		&:before {
			position: absolute;
			content: '';
			display: block;
			height: 16px;
			width: 16px;
			left: -8px;
			top: calc(50% - 8px);
			background-color: get-color(inverse);
			border-radius: 50%;
			border: 3px solid get-color(default);
			box-shadow: 0 0 0 3px get-color(inverse);
			z-index: 2;

			@include breakpoint (medium down) {
				display: none;
			}//end medium down breakpoint
		}//end &:before

		@include breakpoint (medium down) {
			padding-left: $spacing--sm;
		}//end medium down breakpoint

		.slick-list {
			align-self: center;
			z-index: 1;
			padding-left: $spacing--sm;
			margin-left: -1.5px;
			border-left: 3px get-color(inverse) solid;
			width: 100%;

			@include breakpoint (medium only) {
				margin-left: 0;
			}//end medium only breakpoint
		}//end .slick-list

		.slick-slide {
			font-weight: $font-weight--regular;
			font-size: 2rem;
			line-height: 1;
			opacity: .5;
			color: get-color(inverse);
			margin-bottom: 0;
			cursor: grab;

			@include transition(all .4s ease-in-out);

			@include breakpoint (large only) {
				font-size: 1.75rem;
			}//end large only breakpoint

			@include breakpoint (small down) {
				font-size: 1.25rem;
			}//end small down breakpoint

			&:active {
				cursor: grabbing;
			}//end &:active

			&.slick-current {
				font-weight: $font-weight--medium;
				opacity: 1;
				@include transition(all .4s ease-in-out);
			}//end &.slick-current
		}//end .slick-slide
	}//vertical slider container 

	.slick-arrow {
		display: none !important;
	}
}//end .sl_vertical_carousel
