.sl_deck {
	.sl_inner {
		@include innerpadding ($p-medium: $spacing--xs);
		& > .sl_row {
			&.medium-up-2 {
				max-width: 1060px;
				margin: 0 auto;
			}//end &.medium-up-2
			& > .sl_cell {
				padding: 0 $spacing--sm/2;

				@include breakpoint (small down) {
					padding: 0;

					&:not(:last-of-type) {
						margin-bottom: $spacing--sm;
					}//end &:not(:last-of-type)
				}//end small down breakpoint
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end .sl_inner
	
	&--greywave, &--wave {
		@include breakpoint (xxxlarge only) {
			padding-bottom: $spacing--xxl;
		}//end xxxlarge only breakpoint
			
		h2 {
			color: get-color(inverse);
			text-align: center;
			margin-bottom: $spacing--lg;

			@include breakpoint (medium only) {
				margin-bottom: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
		}//end h2

		&:after {
			@include wave-overlay;
			background-position-y: 200px;

			@include breakpoint (xxxlarge only) {
				display: none;
			}//end xxxlarge only breakpoint
		}//end &:after
	}//end &--greywave, &--wave

	&--greywave {
		&:after {
			@include wave-overlay($color:grey);
			background-position-y: 200px;
		}//end &:after
	}//end &--greywave

	&--wildnav {
		background-color: get-color(inverse-tint1);
		border-radius: $border-radius;
		padding: $spacing--md - $spacing--sm/2;

		@include breakpoint (small down) {
			padding: $spacing--sm;
		}//end small down breakpoint

		& > .sl_row {
			& > .sl_cell {
				padding:$spacing--sm/2;

				@include breakpoint (small down) {
					padding: 0;

					&:not(:last-of-type) {
						margin-bottom: $spacing--sm;
					}//end &:not(:last-of-type)
				}//end small down breakpoint
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end &--wildnav
}//end .sl_deck