.sl_facility_tabs {
	.sl_inner {
		max-width: none;
		background: linear-gradient(180deg, get-color(inverse) 3rem, get-color(inverse-tint1) 3rem, get-color(inverse-tint1) 100%);
		padding: 0 0 $spacing--xxl 0;

		@include breakpoint (large only) {
			padding-bottom: $spacing--lg
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding-bottom: $spacing--md
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint

		& > .sl_card {
			padding-top: 0;
			padding-bottom: 0;
			@include inner;
			@include innerpadding($p-xsmall: 0, $p-small: 0);
			
			//Most of these styles can be found in the shortcode tabs styling
			.sl_tabs {

				&__title {
					a {
						padding: $spacing--md $spacing--sm;
						font-size: rem-calc(26px);

						@include breakpoint (medium only) {
							font-size: 1.25rem;
						}//end medium only breakpoint

						@include breakpoint (small down) {
							font-size: 1rem;
							padding: $spacing--xs;
						}//end small down breakpoint
					}//end a
				}//end &__title
				&__container {
					padding: 0;
				}//end &__container
				&__panel {
					padding-left: 0;
					padding-right: 0;
					padding-bottom: 0;

					@include breakpoint (small down) {
						padding: $spacing--md $spacing--sm;
					}//end small down breakpoint
				}//end &__panel
			}//end .sl_tabs
		}//end .sl_card

		.sl_staff {
			&__spotlight {
				padding-bottom: $spacing--md;

				@include breakpoint (medium down) {
					padding-bottom: $spacing--sm;
				}//end medium down breakpoint

				h2 {
					margin-bottom: $spacing--xs/2;
				}//end h2

				h4 {
					margin-bottom: $spacing--md;

					@include breakpoint (small down) {
						margin-bottom: $spacing--xs;
					}//end small down breakpoint
				}//end h4

				& > .sl_cell {
					&:first-of-type {
						@include breakpoint (small down) {
							margin-bottom: $spacing--sm;
						}//end small down breakpoint
					}//end & :first-of-type;

					&:last-of-type {
						padding-left: $spacing--xl;

						@include breakpoint (large only) {
							padding-left: $spacing--md;
						}//end large only breakpoint

						@include breakpoint (medium only) {
							padding-left: $spacing--xs;
						}//end medium only breakpoint

						@include breakpoint (small down) {
							padding-left: 0;
						}//end small down breakpoint
					}//end &:last-of-type
				}//end & > .sl_cell
			}//end &__spotlight

			&__deck {
				padding-bottom: $spacing--md;

				@include breakpoint (small down) {
					padding-bottom: $spacing--sm;
				}//end small down breakpoint

				& > .sl_cell {
					padding: $spacing--sm/2;

					@include breakpoint (medium only) {
						padding: $spacing--xs/2;
					}//end medium only breakpoint
				}//end & > .sl_cell

			}//end &__deck
		}//end .sl_staff
	}//end .sl_inner
}//end .sl_facility_tabs