//Most of the styles for the simple version of this module are taken care of in the accordion shortcode styles
.sl_FAQ {
	&--simple {
		.sl_inner {
			max-width: 1200px;

			h2 {
				text-align: center;

				@include breakpoint (small down) {
					max-width: 275px;
					margin: 0 auto $spacing--xs/2;
				}//end small down breakpoint
			}//end h2

			.sl_accordion {
				margin-bottom: $spacing--lg;
			}//end .sl_accordion
		}//end .sl_inner
	}//end &--simple

	&--footer {
		padding-top: $spacing--sm;

		@include breakpoint (small down) {
			padding: 2rem 1.5rem 0;
		}//end small down breakpoint

		& > .sl_cell {
			&:first-of-type {
				padding-right: $spacing--sm;

				@include breakpoint (small down) {
					padding: 0;
					margin-bottom: $spacing--sm;
				}//end small down breakpoint
			}//end &:first-of-type

			& > * {
				margin-bottom: 0;
			}//end & > *
		}//end & > .sl_cell
		.sl_button--secondary {
			display: block;

			@include breakpoint (small down) {
				width: auto;
			}//end small down breakpoint 
		}//end .sl_button--secondary

		.sl_button--phone {
			font-weight: $font-weight--bold;

			@include breakpoint (small down) {
				width: auto;
			}//end small down breakpoint
		}//end .sl_button--phone

		@include breakpoint (small down) {
			p {
				font-size: 1rem;
			}//end p
		}//end small down breakpoint
	}//end &--footer
	
	&--grouped {
		h2 {
			text-align: center;
			margin-bottom: $spacing--lg;

			@include breakpoint (small down) {
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
		}//end h2

		@include breakpoint (small down) {
			.sl_inner {
				padding: 0;
			}
		}//end small down breakpoint
	}//end &--grouped

	&__group {
		background-color: get-color(inverse-tint1);
		border-radius: $border-radius;
		padding: $spacing--lg $spacing--xxl;

		@include breakpoint (xlarge only) {
			padding: $spacing--lg;
		}//end xlarge only breakpoint

		@include breakpoint (large only) {
			padding: $spacing--sm;
		}//end large only breakpoint

		@include breakpoint (small down) {
			border-radius: 0;
			padding: $spacing--md $spacing--sm;
		}//end small down breakpoint

		& > .sl_accordion {
			background: none;
			border-radius: 0;
			padding: 0;
			max-width: 1056px;
			margin: 0 auto $spacing--md;

			&:last-of-type {
				margin-bottom: 0;
			}//end &:last-of-type;
			
			img {
				width: 3rem;
				height: 3rem;
				display: block;

				@include breakpoint (small down) {
					width: 2rem;
					height: 2rem;
					margin: 0;
				}//end small down breakpoint
			}//end img

			& > .sl_accordion__item {
				@include transition(all .3s ease-in-out);
				
				&:hover {
					box-shadow: $shadow--hover;
				}//end &:hover

				& > .sl_accordion__title {
					padding: $spacing--md $spacing--lg;
					display: flex;
					flex-direction: row;
					align-items: center;
					width: 100%;

					span {
						display: block;
						width: 100%;
						flex-shrink: 0;
						padding: 0 $spacing--lg;

						@include breakpoint (medium only) {
							padding: 0 $spacing--sm;
							padding-right: $spacing--lg;
						}//end medium only breakpoint

						@include breakpoint (small down) {
							padding: $spacing--xs/2;
							padding-right: $spacing--lg;
						}//end small down breakpoint

						&.sl_no-icon {
							padding-left: 0 !important;
						}//end .sl_no-icon
					}//end span

					@include breakpoint (small down) {
						padding: $spacing--xs;
						padding-right: $spacing--lg;
						font-size: 1.125rem;
					}//end small down breakpoint
				}//end & > .sl_accordion__title
				& > .sl_accordion__content {
					padding: $spacing--lg;
					padding-top: $spacing--xs;

					@include breakpoint (small down) {
						padding: $spacing--xs;
					}//end small down breakpoint
				}//end & > .sl_accordion__content
			}//end & > .sl_accordion__item
			
			// NESTED ACCORDION
			.sl_accordion {
				&__item {
					&:last-of-type {
						border-bottom: 0;
					}//end &:last-of-type;
				}//end .sl_accordion
			}//end .sl_accordion
		}//end & > .sl_accordion
	}//end &__group
}//end .sl_FAQ