.sl_helpful_links {
	.sl_module__header {
		text-align: center;
		margin-bottom: $spacing--lg;

		@include breakpoint (medium only) {
			margin-bottom: $spacing--sm;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			margin-bottom: $spacing--sm;
		}//end small down breakpoint
	}//end .sl_module__header

	.sl_inner {
		@include innerpadding ($p-xsmall: $spacing--xs/2, $p-small: $spacing--xs, $p-medium: $spacing--md - $spacing--xs/2);
	}//end .sl_inner

	.sl_row {
		//Helpful Links Column
		.sl_helplinks {
			padding-right: $spacing--xxl;

			@include breakpoint (large only) {
				padding-right: $spacing--sm;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				padding: 0;
				margin-bottom: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: 0;
				margin-bottom: $spacing--sm;
			}//end small down breakpoint

			&__container {
				display: block;
				color: get-color(default);

				&:not(:last-of-type) {
					border-bottom: 1px solid get-color(default-tint3);
				}//end &:not(:last-of-type)
			}//end &__container

			.sl_card {
				padding: $spacing--sm;
				height: 100%;
				@include transition(all .3s ease-in-out);

				@include breakpoint (large only) {
					padding: $spacing--sm 0;
				}//end large only breakpoint

				&:hover {
					box-shadow: 0 0 10px 0 rgba(0,0,0,.1);
					@include transition(all .3s ease-in-out);
				}//end &:hover;
			}//end .sl_card

			&__icon {
				flex: 0 0 auto;
				padding-right: $spacing--sm;
				width: auto;

				@include breakpoint (large only) {
					padding-right: $spacing--xs;
				}//end large only breakpoint
				img {
					height: 40px;
					width: 40px;
				}//end &__img
			}//end &__icon

			&__content {
				width: auto;
				h3 {
					margin-bottom: $spacing--xs/2;

					@include breakpoint (xsmall only) {
						font-size: 1.125rem;
					}//end xsmall only breakpoint
				}//end h3

				p {
					font-size: 1rem;
					max-width: 190px;

					@include breakpoint (medium only) {
						max-width: none;
					}//end medium only breakpoint

					@include breakpoint (small down) {
						margin: 0 auto;
					}//end small down breakpoint

					@include breakpoint (xsmall only) {
						font-size: rem-calc(15px);
					}//end xsmall only breakpoint
				}//end p

				& > :last-child {
					margin-bottom: 0;
				}//end & > :last-child
			}//end &__content
		}//end .sl_helplinks

		//Articles Column
		.sl_articles {
			position: relative;
			padding: 0 $spacing--xs/2;

			@include breakpoint (large only) {
				padding: 0;
			}//end large only breakpoint

			@include breakpoint (medium only) {
				text-align: center;
			}//end medium only breakpoint

			& > h3 {
				@include breakpoint (medium only) {
					display: inline-block;
					margin-right: $spacing--xs;
					margin-bottom: $spacing--sm;
				}//end medium only breakpoint
			}//end h3

			& > .sl_button--hollow {
				position: absolute;
				top: 0;
				right: 0;

				@include breakpoint (medium only) {
					position: static;
					display: inline-block;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					position: static;
					margin: $spacing--sm auto 0;
				}//end small down breakpoint
			}//end & >.sl_button--hollow

			&__featured {
				padding-right: $spacing--sm/2;

				@include breakpoint (medium only) {
					padding-right: $spacing--xs/2;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding: 0;
					margin-bottom: $spacing--xs;
				}//end small down breakpoint

				.sl_card {
					height: 100%;

					&__image {
						min-height: 175px;
						padding: $spacing--md;
						padding-bottom: $spacing--xxl;

						@include breakpoint (large down) {
							padding: $spacing--sm;
							padding-bottom: $spacing--xl;
						}//end large down breakpoint

						.sl_article__category {
							left: $spacing--md;
							bottom: $spacing--md;

							@include breakpoint (large down) {
								left: $spacing--sm;
								bottom: $spacing--sm;
							}//end large down breakpoint
						}//end .sl_article__category
					}//end &__image

					&__content {
						padding: $spacing--md;
						padding-bottom: $spacing--xxxl;

						.sl_article__author {
							left: $spacing--md;
							bottom: $spacing--md;
						}//end .sl_article__author

						.sl_article__date {
							right: $spacing--md;
							bottom: $spacing--md;
						}//end .sl_article__date

						@include breakpoint (large down) {
							padding: $spacing--sm;
							padding-bottom: $spacing--sm + $spacing--lg;

							.sl_article__author {
								left: $spacing--sm;
								bottom: $spacing--sm;
							}//end .sl_article__author

							.sl_article__date {
								right: $spacing--sm;
								bottom: $spacing--sm;
							}//end .sl_article__date
						}//end large down breakpoint
					}//end &__content
				}//end .sl_card
			}//end &__featured

			&__grid {
				@include breakpoint (medium only) {
					text-align: left;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					justify-content: center;

					.sl_button--hollow {
						margin-bottom: 0;
					}//end .sl_button--hollow
				}//end small down breakpoint
			}//end &__grid

			&__stacked {
				padding-left: $spacing--sm/2;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				@include breakpoint (medium only) {
					padding-left: $spacing--xs/2;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding: 0;
					margin-bottom: $spacing--sm;
				}//end small down breakpoint

				.sl_card {
					&:not(:last-of-type) {
						margin-bottom: $spacing--xs;
					}//end &:not(:last-of-type)
				}//end .sl_card
			}//end &__stacked

			@include breakpoint (small down) {
				& > h3 {
					text-align: center;
				}//end & > h3
			}//end small down breakpoint
		}//end .sl_articles
	}//end .sl_row

	&--inverse {
		background-color: get-color(default);
		padding-bottom: $spacing--xxl;

		@include breakpoint (medium only) {
			padding-bottom: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-bottom: $spacing--md;
		}//end small down breakpoint

		.sl_inner {
			@include innerpadding ($p-small: $spacing--sm);
		}//end .sl_inner

		.sl_row {
			//Helpful Links Column
			.sl_helplinks {

				h2 {
					color: get-color(inverse);
				}//end h2
				
				&__container {
				}//end &__container

				.sl_card {
					align-items: center;

					@include breakpoint (xlarge only) {
						padding: $spacing--sm $spacing--xs;
					}//end large only breakpoint
				}//end .sl_card

				&__icon {
					img {
						height: 30px;
						width: 30px;
					}//end &__img
					
					@include breakpoint (xlarge only) {
						padding-right: $spacing--xs;
					}//end large only breakpoint

				}//end &__icon

				&__content {
					* {
						color: get-color(inverse);
					}
				}//end &__content
			}//end .sl_helplinks
		}//end .sl_row
	}//end &--inverse

	@include breakpoint (medium down) {
		&:not(.sl_helpful_links--inverse) {
			.sl_row {
				//Helpful Links Column
				.sl_helplinks {

					h2 {
					}//end h2
					
					&__container {
						padding: $spacing--xs/2;
						display: flex;
						flex-direction: column;

						&:not(:last-of-type) {
							border-bottom: none;
						}//end &:not(:last-of-type)
					}//end &__container

					.sl_card {
						padding: $spacing--xs;
						@include container;
					}//end .sl_card

					&__icon {
						padding: 0;
						margin-bottom: $spacing--xs;
						text-align: center;
						width: 100%;
						display: flex;
						align-items: center;
						justify-content: center;

						img {
							width: 35px;
							height: 35px;
						}//end img
					}//end &__icon

					&__content {
						text-align: center;
						width: 100%;

						h3 {
							margin-bottom: $spacing--xs/2;
						}//end h3

						& > * {
							line-height: 1.125;
						}//end & > *
					}//end &__content
				}//end .sl_helplinks
			}//end .sl_row
		}//&:not(.sl_helpful_links--inverse)
	}//end medium down breakpoint
}//end .sl_helpful_links