.sl_latest_release {
	.sl_inner {
		.sl_module__header {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
			margin-bottom: $spacing--md;

			& > * {
				margin-bottom: 0;
			}//end & > *

			h3 {
				margin-right: $spacing--sm;
			}//end h3
		}//end .sl_module__header
	}//end .sl_inner
}//end .sl_latest_release