.sl_webinar {
	.sl_inner {
		.sl_card--webinar {
			@include container;

			& > .sl_row:first-of-type {
				max-width: 950px;
				margin: 0 auto;
				padding: $spacing--md 0;
				justify-content: center;

				@include breakpoint (medium only) {
					padding: 0;
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding: 0;
				}//end small down breakpoint
				& > .sl_cell {
					width: auto;

					&:last-of-type {
						padding-left: $spacing--md;
						display: flex;
						align-items: center;
						flex: 1 1 0;

						@include breakpoint (medium down) {
							padding: 0;
						}//end medium down breakpoint
					}//end &:last-of-type
				}//end & > .sl_cell
			}//emnd & > .sl_row
		}//end .sl_card--webinar
	}//end .sl_inner

	&__image {
		border-radius: 50%;
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		width: 300px;
		height: 300px;

		@include breakpoint (small down) {
			margin: 0 auto $spacing--sm;
		}//end small down breakpoint
	}//end &__image

	&__content {
		width: 100%;
		h5 {
			margin-bottom: $spacing--xs/2;

			@include breakpoint (small down) {
				font-size: 1rem;
			}//end small down breakpoint
		}//end h5

		a {
			h3 {
				margin-bottom: $spacing--xs/2;
				color: get-color(default);

				@include breakpoint (small down) {
					font-size: 1.125rem;
				}//end small down breakpoint
			}//end h3
		}//end a

		@include breakpoint (small down) {
			h4 {
				font-size: 1rem;
			}//end h4
		}//end small down breakpoint
	}//end &__content

	&__cta {
		max-width: 950px;
		margin: 0 auto;
		border-top: 1px solid get-color(default-tint3);
		padding-top: $spacing--md;

		@include breakpoint (medium only) {
			padding-top: $spacing--sm;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: $spacing--xs;
		}//end small down breakpoint
		
		h3 {
			margin-bottom: 0;

			@include breakpoint (medium only) {
				margin-bottom: $spacing--sm;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				margin-bottom: $spacing--xs;
			}//end small down breakpoint
		}//end h3

		.sl_cell {
			&:last-of-type {
				padding-left: $spacing--xxl;

				@include breakpoint (medium down) {
					padding-left: 0;
				}//end medium down breakpoint
			}//end &:last-of-type
		}//end .sl_cell

		.sl_button-group {
			justify-content: flex-start;

			@include breakpoint (small down) {
				flex-direction: row;
			}//end small down breakpoint

			.sl_button {
				margin: 0;
				margin-right: $spacing--xs;
				display: block;
				flex: 1 1 auto;

				&:last-of-type {
					margin-right: 0;

					@include breakpoint (xsmall only) {
						font-size: 1.125rem;
					}//end xsmall only breakpoint
				}//end &:last-of-type;
			}//end .sl_button
		}//end .sl_button-group
	}//end &__cta
}//end .sl_webinar