.sl_wysiwyg {
	.sl_inner {
		.sl_card {

			//GET HELP INTRO MODULE
			.sl_row {
				&--heading {
					align-items: center;
					& > .sl_cell {
						width: auto;
						padding: 0;

						&:last-of-type {
							flex: 1 1 0%;
							padding-left: $spacing--xs;
						}//end &:last-of-type

						h1 {
							font-size: 5rem;
							font-weight: $font-weight--regular;
							line-height: 1;
						}//end h1
					}//end .sl_cell
				}//end &--heading

				&--gethelp {
					& > .sl_cell {
						padding: 0;
						&:first-of-type {
							border-right: 1px solid get-color(default-tint3);
							padding-right: $spacing--lg;

							@include breakpoint (large only) {
								padding-right: $spacing--sm;
							}//end large only breakpoint

							@include breakpoint (medium down) {
								padding: 0;
								border: none;
								border-bottom: 2px solid get-color(default-tint2);
								margin-bottom: $spacing--md;
							}//end medium down breakpoint
						}//end &:first-of-type

						&:last-of-type {
							padding-left: $spacing--lg;

							@include breakpoint (large only) {
								padding-left: $spacing--sm;
							}//end large only breakpoint

							@include breakpoint (medium down) {
								padding: 0;
							}//end medium down breakpoint
						}//end &:last-of-type
					}//end & > .sl_cell

					.sl_row.medium-up-2 {
						h4 {
							margin-bottom: $spacing--xs/2;
							font-size: 1.25rem;
						}//end h4

						.sl_cell {
							padding: 0;
							&:nth-of-type(odd){
								padding-right: $spacing--xs;

								@include breakpoint (small down) {
									padding: 0;
								}//end medium down breakpoint
							}//end &:nth-child(odd)

							&:nth-of-type(even){
								padding-left: $spacing--xs;

								@include breakpoint (small down) {
									padding: 0;
								}//end medium down breakpoint
							}//end &:nth-child(even)

							@include breakpoint (small down) {
								&:last-of-type {
									p {
										margin-bottom: 0;
									}//end p
								}//end &:last-of-type
							}//end medium down breakpoint

						}//end .sl_cell
					}//end .sl_row.medium-up-2
				}//emd &--gethelp
			}//end .sl_row
		}//end .sl_card
	}//end .sl_inner

	&--tabs {
		.sl_inner {
			max-width: none;
			background: linear-gradient(180deg, get-color(inverse) 3rem, get-color(inverse-tint1) 3rem, get-color(inverse-tint1) 100%);
			padding: 0 0 $spacing--xxl 0;

			@include breakpoint (medium only) {
				padding-bottom: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: 0;
			}//end small down breakpoint

			.sl_card {
				@include inner;
				@include innerpadding($p-xsmall: 0, $p-small: 0);
				
				//Most of these styles can be found in the shortcode tabs styling
				.sl_tabs {
					&__title {
						a {
							padding: $spacing--md $spacing--sm;
							font-size: rem-calc(26px);

							@include breakpoint (medium only) {
								padding: $spacing--sm $spacing--xs;
								font-size: 1.25rem;
							}//end medium only breakpoint

							@include breakpoint (small down) {
								font-size: 1rem;
								padding: $spacing--xs;
							}//end small down breakpoint
						}//end a
						
					}//end &__title
					&__container {
						padding: 0;
					}//end &__container
					&__panel {
						padding-left: 0;
						padding-right: 0;
						padding-bottom: 0;

						@include breakpoint (small down) {
							padding: $spacing--md $spacing--sm;
						}//end small down breakpoint
					}//end &__panel
				}//end .sl_tabs
			}//end .sl_card
		}//end .sl_inner
	}//end &--tabs
}//end .sl_wysiwyg