
BODY
{
	font-family:Verdana,Tahoma,Arial;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;
	padding: 0 0 0 0;	
}



TD
{
	font-family:Verdana,Tahoma,Arial;
	font-size: 11px;
	letter-spacing:normal;
	line-height: 14px;
}

TD.featured
{
	font-family: Arial;
	font-size: 10px;
	letter-spacing:normal;
	line-height: 12px;
	color: #666666;
	padding-top: 5px;
	padding-bottom: 25px;
	padding-left: 5px;
	padding-right: 5px;
	background-color: #FFFFFF;
	
}

TABLE.green
{
	font-family:Verdana,Tahoma,Arial;
	font-size: 11px;
	letter-spacing: normal;
	line-height: 14px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #669966;
	width: 450px;
	text-align: left;
}	


TABLE.facilities
{
	font-family:Verdana,Tahoma,Arial;
	font-size: 11px;
	letter-spacing: normal;
	line-height: 14px;
	padding-top: 0px;
	padding-bottom: 0px;
	color: #669966;
	width: 600px;
	text-align: left;
}

TD.footer
{
	font-family:Verdana,Tahoma,Arial;
	font-size: 10px;
	letter-spacing:normal;
	line-height: 22px;
	background-color: #a0bf1a;
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	color: #FFFFFF;
		
}


H1
{
	letter-spacing: normal;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	margin-bottom: 0px;
	margin-top: 0px;
	color: #669966;
	text-align: center;	
}


a:link		{color: #6cabde; text-decoration:none; size: 14px; font-weight: bold; line-height: 16px;}
a:visited	{color: #6cabde; text-decoration:none; size: 14px; font-weight: bold; line-height: 16px;}
a:hover		{color: #009900; text-decoration:none; size: 14px; font-weight: bold; line-height: 16px;}
a:active	{color: #009900; text-decoration:none; size: 14px; font-weight: bold; line-height: 16px;}


	
.greentext 	{letter-spacing: normal;
	text-align: left;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: normal;
	color:#8fa91b;
	}
	
textarea {width: 460px; height: 100px; margin-top:2px; margin-bottom:5px; margin-left:0px;}

.mainTable {
background-color: #f4f4ec;
border-left:1px #cccccc solid;
border-right:1px #cccccc solid;
}



