/* CUSTOMIZED BASIC TAGS */


body {
	background-color: #FFFFFF;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 12px;
	color: #7fab9c;
	margin: 0px;
	padding-top: 2px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 180px;
}

a:link {
	color: #8eb9ac;
}

a:visited {
	color: #8eb9ac;
}

a:hover {
	color: #F661AC;
	text-decoration: none;
}


a:active {
	color: #F661AC;
}


form {
	margin: 0px;
	padding: 0px;
}

input, select, textarea {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 12px;
	color: #8eb9ac;
	margin: 2px;
	padding: 0px;
}

h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	color: #8eb9ac;
	text-align: center;
}


h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10px;
	line-height: 10px;
	font-weight: bold;
	color: #8eb9ac;
	margin: 0px;
	padding: 0px;
	text-transform: uppercase;
}

h3 {

	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	color: #8eb9ac;
}

h4 {
	font-size: 14px;
	font-weight: bold;
	padding: 8px;
	line-height: 14px;
}


h5 {
	font-size: 16px;
	font-weight: bold;
	padding: 8px;
	line-height: 16px;
}
/*
hr {
	color: #8eb9ac;
}
*/	
ul {
	margin-left: 0px;
	padding-left: 0px;
	/* list-style-image: url(line-item.jpg); */
}

li {
	font-family: "Trebuchet MS", sans-serif;
	margin-left: 15px;
	padding-left: 0px;	/* list-style-image: url(line-item.jpg); */
	list-style-image: url(bullet.gif);
}
p {
	font-family: "Trebuchet MS", sans-serif;
}


td {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

blockquote {
	padding: 4px;
	margin: 0px;
}


/* CUSTOM TAGS */

.makeitpink {
	color: #F661AC;
}

.makeitRed {
	color: #CC0000;
}

.makeitblack {
	color: #000000;
}

.makeitgreen {
	color: #669933;
}


.bodyFont {
	font-size: 11px;
	color: #8eb9ac;
	font-family: "Trebuchet MS", sans-serif;
}

.box1 {
	background-image: url(swatch-bright-green.gif);
	background-color: #a4dda1;
	padding: 2px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	
}

.box2 {
	background-image: url(swatch-dark-green.gif);
	border: 1px solid #869182;
	background-color: #7fab9c;
	padding: 0px;
	margin: 0px;
}

.box3 {		/* white/green */
	background-color: #F5EBE1;
	padding: 10px;
	border: 1px solid #66401C;
	margin-top: 10px;
}

.miniText {
	font-size: 12px;
	font-family: "Trebuchet MS", sans-serif;
	color: #893F4A;
}

.navs {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 15px;
	color: #8eb9ac;
	font-weight: 500;
}

a.navs:link {
	color: #8eb9ac;
	text-decoration: none;
}

a.navs:visited {
	color: #8eb9ac;
	text-decoration: none;
}

a.navs:hover {
	color: #8eb9ac;
	text-decoration: underline;
}

a.navs:active {
	color: #F662AC;
	text-decoration: none;
}

.navsOff {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	color: #74614E;
}

.subnavs, a.subnavs:visited, a.subnavs:link, a.subnavs:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #888386;
	text-decoration: none;
	text-transform: uppercase;
}

a.subnavs:hover {
	color: #4d123b;
	text-decoration: underline;
}

#subnavscurrent {
  color: #4d123b;
  }
  
  
.formButton {
	font-size: 12px;
	color: #FFFFFF;
	background-color: #849FBC;
	border: 1px solid #738DA6;
}


.listof {
	font-size: 9px;
	color: #000066;
}
.pixborder {
	border: 1px solid #FFFFFF;
}

.titles {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 14px;
	color: #f2ff8a;
}


.footerlinks, a.footerlinks:visited, a.footerlinks:link {
	color: #37554b;
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
a.footerlinks:hover {
	color: #37554b;
}

.forms12 { 
	border: 1px #689ACC solid;
	background: #DCE8F3;
	color: #003366;
	padding-left: 3px;
	font-size: 12px;
}

/* SIZE CLASSES */

.size1 {
	font-size: 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.size2 {
	font-size: 2px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.size3 {
	font-size: 3px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.size4 {
	font-size: 4px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.size6 {
	font-size: 6px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.size8 {
	font-size: 8px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.size9 {
	font-size: 9px;
	font-family: "Trebuchet MS", sans-serif;
}

.size10 {
	font-family: "Trebuchet MS", sans-serif;
	font-size: 11px;
}

.size10bold {
	font-size: 11px;
	font-weight: bold;
}

.size10boldcaps {
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.size10caps {
	font-size: 11px;
	text-transform: uppercase;
}

.size10forms {
	background: #EDEDED;
	border: 1px #999999 solid;
	color: #003366;
	font-family: "Courier New", Courier, monospace;
	font-size: 12px;
	font-weight: bold;
}


.size10grey {
	color: #666666;
	font-size: 11px;
}

.size10navcaps {
	color: #003366;
	font-size: 11px;
	font-weight: bold;
	text-transform: uppercase;
}

.size10white {
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: none;
}

a.size10white:link {
	color: #FFFFFF;
	font-size: 11px;
}

a.size10white:hover {
	color: #FFFFFF;
	font-size: 11px;
	text-decoration: underline;
}

a.size10white:visited {
	color: #FFFFFF;
	font-size: 11px;
}

a.size10white:active {
	color: #FFFFFF;
	font-size: 11px;
}

.size10navy {

	color: #083A66;
	font-size: 11px;
}

.size11 {
	font-size: 11px;
}

.size12 {
	font-size: 12px;
}

.size12b {
	font-size: 12px;
	font-weight: bold;
}

.size12bg01 {
	background-color: #EFEFEF;
	font-size: 12px;
}

.size12navy {
	color: #330066;
	font-size: 12px;
}

.size12white {
	color: #FFFFFF;
	font-size: 12px;
}

.size12whitebold {
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
}

.size14 {
	font-size: 14px;
}

.size14b {
	font-size: 14px;
	font-weight: bold;
}

.size14whitebold {
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
}

.size16 {
	font-size: 16px;
}

.size16b {
	font-size: 16px;
	font-weight: bold;
}

.size16orange, a.size16orange:visited, a.size16orange:link {

	color: #FF6633;
	font-size: 16px;
	font-weight: bold;
}

.size16pink {
	font-size: 16px;
	color: #FF59A8;
	font-weight: bold;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.size18brown {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	line-height: 16px;
	font-weight: normal;
	color: #8eb9ac; /* pink #F662AC */
	text-align: center;
}
