
<table cellpadding="0" width="600" border="0">
<tr>
<td valign="top"><div align="center" style="font-size:18px;"><a href="http://www.heroesinrecovery.com/stories/person-long-term-recovery/" target="new"><img src="http://www.foundationsrecoverynetwork.com/images/newsletter/heroes-story-adam-s.jpg" border="0"></a><br clear="all">
<strong><font color="#993300" face="Rockwell">Adam S.</font></strong></div>
<div align="center" style="font-size:13px;"><font color="#333333" face="Georgia"><em>I Am a Person in Long-Term...</em></font><font color="#CC9933" face="Georgia"><br />
      Posted Sept. 11, 2014</font><br /><a href="http://www.heroesinrecovery.com/stories/person-long-term-recovery/" target="new"><img src="http://www.foundationsrecoverynetwork.com/images/newsletter/read-more-button.gif" border="0"></a></div></td>

<td valign="top"><div align="center" style="font-size:18px;"><a href="http://www.heroesinrecovery.com/stories/white-picket-fence/" target="new"><img src="http://www.foundationsrecoverynetwork.com/images/newsletter/heroes-story-sharron-c.jpg" border="0"></a><br clear="all">
  <font color="#993300" face="Rockwell"><strong>Sharron C.</strong></font></div>
<div align="center" style="font-size:13px;"><em><font color="#333333" face="Georgia">White Picket Fence</font></em><font color="#CC9933" face="Georgia"><br />
      Posted Sept. 14, 2014</font><br /><a href="http://www.heroesinrecovery.com/stories/white-picket-fence/" target="new"><img src="http://www.foundationsrecoverynetwork.com/images/newsletter/read-more-button.gif" border="0"></a></div></td>

<td valign="top"><div align="center" style="font-size:18px;"><a href="http://www.heroesinrecovery.com/stories/live-present/" target="new"><img src="http://www.foundationsrecoverynetwork.com/images/newsletter/heroes-story-tim-w.jpg" border="0"></a><br clear="all">
  <font color="#993300" face="Rockwell"><strong>Tim W.</strong></font></div>
<div align="center" style="font-size:13px;"><font color="#333333" face="Georgia"><em>Live in the Present</em></font><font color="#CC9933" face="Georgia"><br />
  Posted Sept. 4, 2014</font><br /><a href="http://www.heroesinrecovery.com/stories/live-present/" target="new"><img src="http://www.foundationsrecoverynetwork.com/images/newsletter/read-more-button.gif" border="0"></a></div></td>
</tr>
<tr><td colspan="3"><img src="http://www.foundationsrecoverynetwork.com/images/newsletter/line.gif" alt="line" width="600" height="24" hspace="0" vspace="0" border="0" /></td></tr>

<tr><td colspan="3"><div align="center" style="font-size:14px;"><FONT face="georgia" color="#333333"><em>To read more inspiring stories or to share your own, visit <a href="http://www.heroesinrecovery.com" target="_blank" style="COLOR:#C30; TEXT-DECORATION: underline;"><strong>HeroesInRecovery.com</strong></a>.<br /></em></font></div></td></tr>

<tr><td colspan="3"><img src="http://www.foundationsrecoverynetwork.com/images/newsletter/line.gif" alt="line" width="600" height="24" hspace="0" vspace="0" border="0" /></td></tr>

<tr><td colspan="3"><div align="center" style="font-size:17px;"><FONT face="Rockwell" color="#333333"><strong>RecoveryFest Nashville</strong></font></div><br />
<div align="left" style="font-size:13px; line-height:17px;"><a href="http://recoveryfestnashville.com/index.htm" target="new"><img src="http://www.foundationsrecoverynetwork.com/images/newsletter/recovery-fest-logo.jpg" align="right" hspace="5" vspace="5" border="0"></a><FONT face="Georgia, Times New Roman, Times, serif" color="#333333">The second annual <a href="http://recoveryfestnashville.com/index.htm" target="_blank" style="COLOR:#C30; TEXT-DECORATION: underline;"><strong>RecoveryFest Nashville</strong></a> will be held on Saturday, Sept. 27, 11am - 5pm in East Nashville's <a href="http://recoveryfestnashville.com/AAI_Venue.htm" target="_blank" style="COLOR:#C30; TEXT-DECORATION: underline;"><strong>Historic Edgefield</strong></a> neighborhood.
<br /><br />
RecoveryFest Nashville is a grassroots movement about celebrating the positive impact of recovery from chemical dependency and other addictions and giving recovery the visibility and attention it deserves.
<br /><br />
Heroes in Recovery will be joining the celebration and will have a table set up at the event.  Stop by and say hi and enter a raffle for your chance to win a gift card to <a href="https://www.facebook.com/SillyGooseNashville/timeline" target="_blank" style="COLOR:#C30; TEXT-DECORATION: underline;"><strong>The Silly Goose</strong></a> or <a href="https://www.facebook.com/uglymugsnashville" target="_blank" style="COLOR:#C30; TEXT-DECORATION: underline;"><strong>Ugly Mugs!</strong></a></font></div><br clear="all"><img src="http://www.foundationsrecoverynetwork.com/images/newsletter/line.gif" align="right" width="600" border="0"><br clear="all">
<div align="center" style="font-size:17px;"><strong><font color="#333333" face="Rockwell">Heroes in Recovery Award Recipients to Be Announced at Foundations Recovery Network's Moments of Change Conference</font></strong></div><br />
<div align="left" style="font-size:13px; line-height:17px;"><FONT face="Georgia, Times New Roman, Times, serif" color="#333333">Thank you to all the heartfelt and wonderful Heroes Award nominations. There are some amazing people doing amazing things in recovery communities across the country!
<br /><br />The two Heroes in Recovery Award recipients will be announced at the <a href="http://foundationsevents.com/moments-of-change-2014/" target="_blank" style="COLOR:#C30; TEXT-DECORATION: underline;"><strong>Moments of Change Conference</strong></a> in West Palm Beach, Fla., on Monday, Sept. 29. Stay tuned!!
</font> </div>
</td>
<tr>
</table>
