<TABLE cellSpacing="0" cellpadding="0" bgcolor="#ffffff" border=0 align="center" width="500">
	
    <TR>
		<TD bgcolor="#FFFFFF" width="500" align="center" valign="top"><img src="http://www.aboutrecovery.com/newsletter/whiteborder.gif" width="45" height="15" hspace="0" vspace="0" border="0" align="left"></td>
    </tr>
   	
     <tr>
     	<td><a href="http://www.foundationsrecoverynetwork.com/events/power-fame-recovery-2011/index.htm" target="new"><img src="pfr-speakers.jpg" width="500" height="303" /></a>
        </td>
     </tr>
     <tr>
    		<td valign="top">
<div align="left"><FONT face="Georgia, Times New Roman, Times, serif" color="#333333" size="3"><strong>It's Just Around the Corner!</strong><br />
</font>
<br />
<FONT face="Georgia, Times New Roman, Times, serif" color="#666666" size="2">
Foundations Recovery Network and MusiCares want to invite you to "Power, Fame and Recovery&#8212;Addiction, Health and Wellness in the Public Eye." Held at The Breakers Palm Beach in Palm Beach, Florida, Sept. 26-29, 2011, this conference event will give treatment providers and professionals the opportunity to explore the unique implications of power and fame in the struggle for lasting recovery. 
<br /><br />Featured speakers include: <strong>Robert Shapiro</strong>, <strong>Jim Ramstad</strong>, <strong>Paul Williams</strong>, <strong>Patrick Carnes</strong>, <strong>Christopher Kennedy Lawford</strong> &amp; more! <a href="http://www.foundationsrecoverynetwork.com/events/images/PFR-Introductory-Brochure-2011.pdf" style="COLOR:#cc3333; TEXT-DECORATION: underline;" target="new"><strong>Click here</strong></a> to view the conference brochure. Conference attendees have a chance to earn up to <a href="http://www.foundationsrecoverynetwork.com/events/power-fame-recovery-2011/continuing-education.htm" style="COLOR:#cc3333; TEXT-DECORATION: underline;" target="new"><strong>21 hours in continuing education credits</strong></a> in their given discipline. <br /><br />
It's just around the corner! Have you <a href="http://www.foundationsrecoverynetwork.com/events/power-fame-recovery-2011/registration-rates.htm" style="COLOR:#cc3333; TEXT-DECORATION: underline;" target="new"><strong>registered</strong></a>? </font>

<br /><br />
<a href="http://www.youtube.com/foundationsrnetwork#p/u/1/WXgITbtTKsY" target="new"><img src="watch-pfr-video.jpg" width="218" height="138" alt="Watch Promotional Video" align="right" border="0"/></a><FONT face="Georgia, Times New Roman, Times, serif" color="#333333" size="3"><strong>Watch Video</strong></font><br /><br />
<FONT face="Georgia, Times New Roman, Times, serif" color="#666666" size="2">Foundations Recovery Network has hosted 33 National Conferences and has earned a reputation as the leader in behavioral healthcare events. <a href="http://www.youtube.com/foundationsrnetwork#p/u/1/WXgITbtTKsY" style="COLOR:#cc3333; TEXT-DECORATION: underline;" target="new"><strong>Watch our latest conference video</strong></a> and hear what attendees have to say about their experiences!
</font><br /><br />
<FONT face="Georgia, Times New Roman, Times, serif" color="#333333" size="3"><strong>Facing Addiction in the Public Eye</strong><br />
</font>
<br />
<FONT face="Georgia, Times New Roman, Times, serif" color="#666666" size="2"><img src="rob-waggener-quote.jpg" width="96" height="98" alt="Robert Waggener" align="left" />Always under a media microscope, celebrities battling addiction often face unique challenges when it comes to recovery.  "When a person struggling with addiction is in the spotlight, the problem is compounded by external pressure from the public and the media," says Rob Waggener, CEO of Foundations Recovery Network. "Also, people in the entertainment business have the means and the resources to access illicit substances faster and easier than anybody else, so all of the normal barriers are gone."

</font>

</div>

					</td>
				</tr>
               
             
							
						
        
	<tr>
          <td bgcolor="#ffffff" width="500" align="center"><br /><img src="http://www.foundationsrecoverynetwork.com/images/newsletter/foundations-musicares-logos.jpg" align="ceneter" border="0" vspace="0" hspace="0"><br  clear="all"><br /><div align="center"><font face="verdana" color="#666666" size="1"><a href="http://www.foundationsrecoverynetwork.com/events/index.htm" style="COLOR:#cc3333; TEXT-DECORATION: underline;" target="new"><strong>www.FoundationsEvents.com</strong></a><br clear="all">
210 Westwood Place &#8226; Suite 120 &#8226; Brentwood, TN 37027<br>
                                  <br>
          </font></div></td>
     </tr>
</table>


