<div class="sl_duo__media sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "media" } %}{% endif %}">
{% for conference in conferences %}
    <div class="sl_duo__media__container">
        <h4>Upcoming Conference:</h4>
        <img src="{{ Image(conference.logo_field).src }}" class="sl_events__logo" alt="Image for {{ conference.title }}" />
        <div class="sl_button-group">
        {% if conference.register_url %}
            <a href="{{conference.register_url}}" class="sl_button">Register</a>
        {% endif %}
        {% if conference.sponsor_url %}
            <a href="{{conference.sponsor_url}}" class="sl_button sl_button--secondary">Sponsor</a>
        {% endif %}
        </div>{# /.sl_button__group #}
    </div>{# /.sl_duo__media__container #}
{% endfor %}
</div>{# /.sl_duo__media #}