<div class="sl_duo__media sl_cell {% if module.grid_type == "cell" %}{% include "grid-classes.twig" with { "cell_type" : "media" } %}{% endif %}">
	<div class="sl_duo__media__container">
        {# WEBINAR IMAGE #}
        <div class="sl_duo__image"></div>
        {% for webinar in webinars %}
            {% if loop.first %}

                {# WEBINAR IMAGE CONTENT #}
                <div class="sl_duo__media__content">
                    <h5>Upcoming Webinar</h5>
                    <h3>{{webinar.post_title}}</h3>
                    {% if webinar.webinar_register_url %}
                        <a href="{{webinar.webinar_register_url}}" class="sl_button sl_button--secondary">Register</a>
                    {% else %}
                        <a href="{{site.url}}/for-professionals/educational-webinar-series/{{webinar.slug}}" class="sl_button sl_button--secondary">Learn More</a>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
	</div>
</div>