{% extends "base.twig" %}

{% block content %}
  <article class="sl_content__inner">
	<section class="sl_content__body">
		<div class="sl_content__intro">
			<div class="sl_inner">
				<div class="sl_card">
					<h2>Research Abstracts</h2>
					<p>Foundations Recovery Network’s mission is to be the leader in evidence-based integrated treatment through clinical services, education and research. By tracking outcomes, FRN treatment teams are able to make real-time adjustments in program strategies and patient interventions. Our research information is regularly presented at addiction conferences and shared with the treatment community at large so that the benefit is multiplied.</p>
					<a class="sl_button sl_button--secondary" href="/for-professionals/research-outcomes/">Learn about our research</a>
				</div>
			</div>{# /.sl_inner #}
		</div>{# /.sl_content__intro #}
		<div class="sl_content__loop">
			<div class="sl_inner">
				<div class="sl_row large-up-3 medium-up-2">
					{% for article in research %}
						<div class="sl_cell data-equalizer-watch">
							<a href="{{article.link}}" class="sl_card sl_card--article sl_card--article--md">            
							    {# Card Content #}
							    <div class="sl_card__content">
							        <h4 class="sl_article__title">{{ article.title|truncate(15) }}</h4>
							        <p class="sl_article__preview">{{ article.preview.length(25).end(' ...').read_more(false).force }}</p>
							        {% if article.author_name %}
							            <p class="sl_article__author">By: {{article.author_name}}</p>
							        {% endif %}
							        <p class="sl_article__date">{{article.date|date("n.j.y")}}</p>
							    </div>{# /.sl_cell auto.sl_card__content #}
							</a>{# /.sl_card.sl_articles__card #}
						</div>
					{% endfor %}
				</div>

				{% include 'partials/pagination.twig' with { pagination: posts.pagination({show_all: false, mid_size: 3, end_size: 1}) } %}
			</div>{# /.sl_inner #}
		</div>{# /.sl_content__loop #}
	</section>{# /.sl_content__body #}
</article>{# /.sl_content__inner #}
{% endblock %}