{% extends "base.twig" %}

{% block content %}
<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
	<section class="sl_content__body">

		{# PODCAST INTRO #}
		<div class="sl_module sl_podcast__intro">
			<div class="sl_inner">
				<div class="sl_row large-up-2">
					<div class="sl_cell">
						<a class="sl_button sl_button--share st-custom-button" data-network="sharethis">Share</a>
						<h2>About Recovery Unscripted</h2>
						<p><em>Recovery Unscripted</em> brings you firsthand stories and exclusive insights from the frontlines of the opioid crisis, mental health care and addiction treatment. Powered by Foundations Recovery Network, this podcast’s mission is to share valuable wisdom and powerful stories.</p>
					</div>{# /.sl_cell #}
					<div class="sl_cell">
						<img class="sl_podcast__logo" src="{{theme.link}}/dist/img/podcast/recoveryunscripted-logo.svg" alt="Recovery Unscripted Podcast" />
					</div>{# /.sl_cell #}
				</div>{# /.sl_row #}
			</div>{# /.sl_inner #}
		</div>{# /.sl_module #}

		{# PODCAST ABOUT #}
		<div class="sl_module sl_podcast__about">
			<div class="sl_inner">
				<div class="sl_row large-up-2">
					<div class="sl_cell">
						<h2>Our Format</h2>
						<p>With episodes available in all podcast apps, Recovery Unscripted reaches thousands of listeners each month – in over 60 countries around the world – who are seeking to stay inspired for their mission, further their education about the latest innovations and ultimately learn how to better help those around them. </p>
						<p>Each episode explores a different, relevant topic through in-depth conversations with a variety of influential and knowledgeable figures, from expert clinicians and politicians to inspiring authors and grassroots champions of the recovery community. With guests such as Obama administration drug czar Michael Botticelli, journalist Sam Quinones, Governor Chris Christie, author Glennon Doyle and Heisman Trophy winner Herschel Walker, Recovery Unscripted is your source for current, meaningful dialogues about the issues that matter to you.</p>
					</div>
					<div class="sl_cell">
						<div class="sl_callout sl_callout--border">
							<h3>Have questions or comments about Recovery Unscripted?</h3>
							<a href="mailto:FRNHQRecoveryUnscripted@frnmail.com" class="sl_button sl_button--secondary">Email Us</a>
						</div>{# /.sl_callout #}
					</div>{# /.sl_cell #}
				</div>{# /.sl_row #}
			</div>{# /.sl_inner #}
		</div>{# /.sl_module #}
		</section>

		<section class="sl_content--loop">
			<div class="sl_inner">
				<h2>Where to Listen</h2>
				<div class="sl_row sl_podcast__partners medium-up-5 small-up-3">
					<div class="sl_cell">
						<a class="sl_podcast__partners__logo" href="https://itunes.apple.com/us/podcast/1-challenging-conventional/id1196046335?i=1000380093717&mt=2" alt="Recovery Unscripted on Apple Podcast">
							<img alt="Apple Podcast Logo" src="{{theme.link}}/dist/img/podcast/apple-podcast-logo.png"/>
						</a>
					</div>{# /.sl_cell #}
					<div class="sl_cell">
						<a class="sl_podcast__partners__logo" href="https://open.spotify.com/show/0ZkKfgo52i3IqD2laNXxlg?si=u3rAVwXhQOi6we2oSydO1g" alt="Recovery Unscripted on Spotify">
							<img alt="Spotify Logo" src="{{theme.link}}/dist/img/podcast/spotify-logo.png"/>
						</a>
					</div>{# /.sl_cell #}
					<div class="sl_cell">
						<a class="sl_podcast__partners__logo" href="https://soundcloud.com/recoveryunscripted" alt="Recovery Unscripted on Soundcloud">
							<img alt="Soundcloud Logo" src="{{theme.link}}/dist/img/podcast/soundcloud-logo.png"/>
						</a>
					</div>{# /.sl_cell #}
					<div class="sl_cell">
						<a class="sl_podcast__partners__logo" href="https://play.google.com/music/listen?u=0#/ps/Ifsu4rsdxywrcsfm6wrmoca7oui" alt="Recovery Unscripted on Google Play">
							<img alt="Google Play Logo" src="{{theme.link}}/dist/img/podcast/google-play-logo.png"/>
						</a>
					</div>{# /.sl_cell #}
					<div class="sl_cell">
						<a class="sl_podcast__partners__logo" href="https://www.stitcher.com/podcast/recovery-unscripted" alt="Recovery Unscripted on Stitcher">
							<img alt="Sticher Logo" src="{{theme.link}}/dist/img/podcast/stitcher-logo.png"/>
						</a>
					</div>{# /.sl_cell #}
				</div>{# /.sl_row #}

				<div class="sl_podcast__box" id="sl_podcast_section">
		        	{% for podcast in podcasts %}
			            {% include 'partials/podcast-player.twig' %}
			        {% endfor %}

					{% include 'pagination.twig' with {'posts': podcasts, pagination: podcasts.pagination({show_all: false, mid_size: 3, end_size: 1})} %}
				</div>{# /.sl_podcast__box #}

				<div class="page-load-status">
  					<div class="loader-ellips infinite-scroll-request">
    					<span class="loader-ellips__dot"></span>
    					<span class="loader-ellips__dot"></span>
    					<span class="loader-ellips__dot"></span>
    					<span class="loader-ellips__dot"></span>
  					</div>{# /.loader-ellips #}
  						<p class="infinite-scroll-error">No more podcast episodes</p>
				</div>{# /.page-load-status #}

				<button class="sl_button sl_button--hollow infinite-scroll-button hide">Load More</button>

	    	</div>{# /.sl_inner #}
		</section>{# /.sl_content--loop #}
</article>
{% endblock %}