	a:hover, #nav ul a:hover, #sidebar .widget li a:hover, .copyright a:hover,
	#nav ul .current_page_item a, #nav ul .current-menu-item a, #nav ul > .current-menu-parent a,
	.footer-area ul li a:hover,
	.side-nav li.current_page_item a,
	.portfolio-tabs li.active a, .faq-tabs li.active a,
	.project-content .project-info .project-info-box a:hover,
	.about-author .title a,#wrapper .dropcap,.price .exact_price,.price sup,#main .post h2 a:hover{
		color:#9db668 !important;
	}
	#nav ul .current_page_item a, #nav ul .current-menu-item a, #nav ul > .current-menu-parent a,
	#nav ul ul, #nav ul a:hover, .pagination .current, .pagination a.inactive:hover,
	.reading-box,
	.portfolio-tabs li.active a, .faq-tabs li.active a,
	.tab-holder .tabs li.active a,
	.post-content blockquote,
	.progress-bar-content,#wrapper .header-social{
		border-color:#9db668 !important;
	}
	.side-nav li.current_page_item a{
		border-right-color:#9db668 !important;
	}
	h5.toggle.active span.arrow, .pagination .current,
	.post-content ul.arrow li::before,
	.progress-bar-content,#wrapper .header-social{
		background-color:#9db668 !important;
	}
	
		.sep-boxed-pricing ul li.title-row{
		background-color:#a5c462 !important;
		border-color:#a5c462 !important;
	}
			.image .image-extras{
		background-image: linear-gradient(top, #cce890 0%, #afd65a 100%);
		background-image: -o-linear-gradient(top, #cce890 0%, #afd65a 100%);
		background-image: -moz-linear-gradient(top, #cce890 0%, #afd65a 100%);
		background-image: -webkit-linear-gradient(top, #cce890 0%, #afd65a 100%);
		background-image: -ms-linear-gradient(top, #cce890 0%, #afd65a 100%);

		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, #cce890),
			color-stop(1, #afd65a)
		);
	}
	#wrapper .reading-box .button,
	#wrapper .continue.button,
	#wrapper .portfolio-one .button,
	#wrapper .comment-submit,#wrapper .footer-row .button{
		color: #577810 !important;
		background-image: linear-gradient(top, #cce890 0%, #AAD75B 100%);
		background-image: -o-linear-gradient(top, #cce890 0%, #AAD75B 100%);
		background-image: -moz-linear-gradient(top, #cce890 0%, #AAD75B 100%);
		background-image: -webkit-linear-gradient(top, #cce890 0%, #AAD75B 100%);
		background-image: -ms-linear-gradient(top, #cce890 0%, #AAD75B 100%);

		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, #cce890),
			color-stop(1, #AAD75B)
		);
		border:1px solid #AAD75B;
	}
	#wrapper .reading-box .button:hover,
	#wrapper .continue.button:hover,
	#wrapper .portfolio-one .button:hover,
	#wrapper .comment-submit:hover,#wrapper .footer-row .button:hover{
		color: #577810 !important;
		background-image: linear-gradient(top, #AAD75B 0%, #cce890 100%);
		background-image: -o-linear-gradient(top, #AAD75B 0%, #cce890 100%);
		background-image: -moz-linear-gradient(top, #AAD75B 0%, #cce890 100%);
		background-image: -webkit-linear-gradient(top, #AAD75B 0%, #cce890 100%);
		background-image: -ms-linear-gradient(top, #AAD75B 0%, #cce890 100%);

		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, #AAD75B),
			color-stop(1, #cce890)
		);
		border:1px solid #AAD75B;
	}
	
	
.nigel_blog {
	margin:0;
	color:#747474;
	min-width:320px;
	-webkit-text-size-adjust:100%;
	font-family: Georgia;
	font-size: 16px/20px;
	background:#fff;
}
