.sl_callout {
	@extend .callout;
	padding: $spacing--lg;
	border-radius: $border-radius;
	color: get-color(default);
	border: none;
	box-shadow: $shadow;
	margin-bottom: $spacing--sm;

	@include breakpoint (large only) {
		.large-6 & {
			padding: $spacing--sm;
		}//end .large-6 &
	}//end large only breakpoint

	@include breakpoint (medium only) {
		padding: $spacing--md;
	}//end medium only breakpoint

	@include breakpoint (small down) {
		padding: $spacing--sm;
	}//end small down breakpoint

	&--nobox {
		box-shadow: none;
		border-radius: 0;
		&:not(.sl_callout--cta) > * {
			font-size: 1.5rem;
			font-weight: $font-weight--medium;
			line-height: 2.5rem;

			@include breakpoint (medium down) {
				font-size: 1.25rem;
				line-height: 1.5;
			}//end medium down breakpoint
		}//end & > *

		&.sl_callout--cta {
			padding: 0;

			 h2 {
			 	margin-bottom: $spacing--md;
			 }//end h2

		}//end &.sl_callout--cta
	}//end &--nobox

	&--primary {
		background-image: $gradient--primary;
		& > * {
			color: get-color(inverse);
		}//end & > *

		.sl_button--secondary {
			color: get-color(default);
		}//end .sl_button--secondary
	}//end &--primary

	&--inverse {
		background-color: get-color(default);
		box-shadow: none;
		& > * {
			color: get-color(inverse);
		}//end & > *

		.sl_button--secondary {
			color: get-color(default);
		}//end .sl_button--secondary
	}//end &--inverse

	&--border {
		box-shadow: none;
		@include border($color: get-color(default-tint3));
	}//end &--inverse

	&--card {
		padding: 0 !important;
		overflow: hidden;

		&__media {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			min-height: 300px;

			@include breakpoint (small down) {
				min-height: 200px;
			}//end small down breakpoint
		}//end &__media
		&__content {
			padding: $spacing--lg;

			@include breakpoint (medium only) {
				padding: $spacing--md;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				padding: $spacing--sm;
			}//end small down breakpoint

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end &__content
	}//end &--card

	&--cta {
		text-align: center;

		h2 {
			display: flex;
			align-items: center;
			justify-content: center;
			
			.sl_button--phone {
				margin-left: $spacing--xs;
			}//end .sl_button--phone

			@include breakpoint (small down) {
				flex-direction: column;
				text-transform: uppercase;
				font-weight: $font-weight--medium;
				font-size: 1rem;

				.sl_button--phone {
					font-size: 1.25rem;
					font-size: 1.25rem;
					padding: $spacing--xs $spacing--lg;
					display: block;
					background-color: get-color(primary);
					border-radius: $border-radius--pill;
					color: get-color(inverse);
					margin: $spacing--xs 0 0 0;
				}//end .sl_button--phone
			}//end small down breakpoint
		}//end h2

		.sl_button-group {
			max-width: 600px;
			margin: 0 auto $spacing--md;

			& > :only-child {
				margin-right: 0;
				flex: 1 1 auto;
				margin-bottom: 0;
			}//end &:only-child

			.sl_button {
				display: block;
				flex: 1 0 0;
				margin-bottom: 0;

				&:first-of-type {
					margin-right: $spacing--xs;
				}//end &:first-of-type

			}//end .sl_button

			@include breakpoint (small down) {
				.sl_button {
					width: 100%;

					&:first-of-type {
						margin: 0 0 $spacing--xs;
					}//end &:first-of-type

					& > :only-child {
						width: 100%;
						display: block;
						margin-right: 0;
						flex: 1 1 auto;
						margin-bottom: 0;
					}//end &:only-child
				}//end .sl_button
			}//end small down breakpoint
		}//end .sl_button-group

		.sl_cta__modal {
			text-decoration: underline;
			color: get-color(default);
		}//end .sl_cta__modal
	}//end &--cta

	&--assessment {
		@include pattern;

		@include breakpoint (xlarge only) {
			padding: $spacing--md;
		}//end xlarge only breakpoint

		@include breakpoint (large only) {
			padding: $spacing--md;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			padding: $spacing--sm;
		}//end medium only breakpoint
		
		.sl_row {
			& > .sl_cell {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 $spacing--sm;

				@include breakpoint (medium only) {
					padding: 0;
					&:first-of-type {
						padding-right: $spacing--xs;
						justify-content: flex-start;
					}//end &:first-of-type
				}//end medium only breakpoint

				@include breakpoint (small down) {
					padding: 0;
				}//end small down breakpoint

				h3 {
					color: get-color(inverse);
					margin-bottom: 0;
					width: 100%;

					@include breakpoint (small down) {
						margin-bottom: $spacing--sm;
					}//end small down breakpoint
				}//end h3

				.sl_button {
					margin-bottom: 0;
					width: 100%;
					-ms-flex-negative: 1;
				}//end .sl_button
			}//end & > .sl_cell
		}//end .sl_row
	}//end &--assessment
}//end .sl_callout
