.sl_content-locker {
	position: relative;
	min-height: 350px;
	&__form {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: rgba(get-color(default), .8);
		z-index: 1;
		display: flex;
		justify-content: center;
		align-items: center;

		.sl_card {
			text-align: center;

			.sl_button {
				margin-bottom: 0 !important;
			}//end .sl_button
		}//end .sl_card

		img {
			width: auto;
			height: 50px;
		}//end img
	}//end &__form
	&__content {
		
	}//end &__content
}//end .sl_content-locker