.sl_tabs {
	display: flex;
	flex-direction: row;
	border: none;
	box-shadow: $shadow;
	border-radius: $border-radius;
	overflow: hidden;
	background-color: get-color(inverse);
	position: relative;
	z-index: 1;
	margin-bottom: 0 !important;

	@include breakpoint (small down) {
		display: block;
		width: auto;
		overflow-x: auto;
		border-radius: 0;
		white-space: nowrap;
		height: 4rem;
		text-align: center;
	}//end small down breakpoint

	&__container {
		padding: 0 $spacing--md;

		@include breakpoint (small down) {
			padding: 0;
		}//end small down breakpoint
	}//end &__container

	&__title {
		float: none;
		display: flex;
		flex: 1 1 auto;
		text-align: center;
		min-width: 125px;
		margin-bottom: 0 !important;

		@include breakpoint (small down) {
			display: inline-block;
			height: 100%;
			min-width: 0;
			vertical-align: middle
		}//end small down breakpoint
		
		&:not(:last-of-type) {
			border-right: 1px solid get-color(default-tint3);
		}//end  &:not(:last-of-type)

		& > a {
			font-size: 1.25rem;
			color: get-color(default);
			padding: $spacing--sm;
			width: 100%;
			height: 100%;
			@include transition(all .3s ease-in-out);

			@include breakpoint (medium only) {
				font-size: 1.125rem;
				padding: $spacing--sm $spacing--xs;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				font-size: 1rem;
				text-transform: uppercase;
				color: rgba(get-color(default), .5);
				padding: $spacing--xs;
				width: 150px;
				white-space: normal;
				display: flex;
				align-items: center;
				justify-content: center;
			}//end small down breakpoint
		}//end & > a

		&:not(.is-active):hover {
			& > a {
				background-color: darken(get-color(inverse),10%);
				color: get-color(default);
			}//end & > a
		}//end &:not(.is-active:hover)

		&.is-active {
			& > a {
				font-weight: $font-weight--medium;
				background: none;
				@include transition(none);

				@include breakpoint (small down) {
					color: get-color(primary);
				}//end small down breakpoint
			}//end & > a
		}//end &.is-active
	}//end &__title

	.sl_tabs__title.is-active:only-child {
		& > a {
			font-weight: $font-weight--medium;
			background: none;
			color: get-color(default);

			@include breakpoint (small down) {
				color: get-color(default);
			}//end small down breakpoint
		}//end & > a
	}//end &.is-active

	&__content {
		background-color: get-color(inverse-tint1);
		border: none;
		border-radius: $border-radius;
		margin-top: -$spacing--md;
		padding-top: $spacing--md;
		margin-bottom: $spacing--sm;
	}//end &__content

	&__panel {
		padding: $spacing--lg;

		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child

		@include breakpoint (large down) {
			padding: $spacing--md;
		}//end large down breakpoint

		@include breakpoint (small down) {
			padding: $spacing--md $spacing--sm;
		}//end small down breakpoint
	}//end &__panel
}//end .sl_tabs
