.sl_webinar--callout {
	@extend .sl_callout;
	padding: $spacing--md;

	.sl_row {
		.sl_cell {
			@include breakpoint (small down) {
				margin-bottom: $spacing--xs;
			}//end small down breakpoint

			&:first-of-type {
				padding-right: $spacing--xs;

				@include breakpoint (small down) {
					padding-right: 0;
					text-align: center;
				}//end small down breakpoint
			}//end &:first-of-type
			&:last-of-type {
				display: flex;
				align-items: center;
				justify-content: center;
				p {
					text-align: right;

					@include breakpoint (small down) {
						text-align: center;
					}//end small down breakpoint
				}//end p

				@include breakpoint (small down) {
					margin-bottom: 0;
					text-align: center;
				}//end small down breakpoint
			}//end &:last-of-type

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child;
		}//end.sl_cell
	}//end .sl_row

	&__image {
		border-radius: 50%;
		max-width: 350px;
		width: 100%;
	}// &__image

	&__title {
		margin-bottom: $spacing--xs;

		@include breakpoint (large only) {
			font-size: 1.25rem !important;
		}//end large only breakpoint

		@include breakpoint (small down) {
			text-align: center;
		}//end small down breakpoint
	}// &__title

	&__speaker {
		font-size: 1rem !important;
		line-height: 1;

		@include breakpoint (small down) {
			text-align: center;
		}//end small down breakpoint
	}// &__speaker

	&__date {
		margin-bottom: $spacing--xs;

		p {
			margin-bottom: 0;
			font-size: 1rem !important;

			@include breakpoint (small down) {
				display: inline-block;
				text-align: left;

				&:first-of-type {
					&:after {
						content:' | ';
						display: inline-block;
						padding-left: 8px;
						margin-right: 4px;
					}//end &:after
				}//end &:first-of-type
			}//end small down breakpoint
		}//end p
	}// &__date

	.sl_button {
		margin-bottom: 0 !important;
		width:100%;
	}//end sl_button
}// .sl_webinar--callout