body{
    background-color: #f9f6ef;
}

.header{
    background-color: #3D4756;
    height: 50px;
}

.navbar-brand .logo {
    display: inline-block;
    width: 250px;
    height: 50px;
    background: url("https://dev-mock-slate-site.pantheonsite.io/wp-content/mu-plugins/frn_liveagent/public/img/michaelshouse-logo.svg") bottom center no-repeat;
    background-repeat: no-repeat;
    background-size: auto 50px;
}

.endChat .closeIcon{
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}
.endChat .closeIcon .fa-window-close{
    color: #fff;
    margin-right: 1rem;
    font-size: 1rem;
}
.formContainer{
    margin-top: 2rem;
}
main.container .topText{
    margin-top: 3rem;
    font-weight: 600;
    color: #66666f;
}
.chatForm label{
    font-weight: 600;
    color: #666666;
}
.chatStart{
    background-color: #D4643D;
    font-weight: 600;
    color: #fff;
    font-size: 1.5rem;
    margin-top: 5rem;
    display: inline-block;
}

.btn-danger{
    border-color:#D4643D;
}
.borderBox {
    color: #3D4756;
    font-weight: 500;
    padding: 3rem;
    border: 2px solid #D4643D;
    border-radius: 6px;
}